<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="head"></head>
    <title>资讯管理</title>
    <link rel="stylesheet" href="assets/js/select2/select2.css"/>
    <link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="assets/css/selectize.bootstrap3.css"/>
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <style type="text/css">
        .form-group img {
            max-width: 400px;
            max-height: 300px;
        }
    </style>
</head>
<body class="page-body">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div th:replace="sidebar-menu"></div>
    <div class="main-content">
        <!-- User Info, Notifications and activity Bar -->
        <nav th:replace="navbar"></nav>
        <div class="page-title">

            <div class="title-env">
                <h1 class="title">资讯管理</h1>
                <p class="activityDescription"></p>
            </div>

            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li><a href="/"><i class="fa-home"></i>Home</a></li>
                    <li><a>系统管理</a></li>
                    <li class="active"><strong>资讯管理</strong></li>
                </ol>

            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <form role="form" class="form-inline">
                    <div class="form-group" style="margin-left: 0;margin-bottom: 15px;display: block;">
                        <div class="input-group">
                            <label for="type" class="control-box">类型</label>
                        </div>
                        <div class="input-group">
                            <select id="type" name="type" class="form-control" style="height:35px">
                                <option value="" selected="selected">全部</option>
                                <option value="0">资讯</option>
                                <option value="1">专题</option>
                                <option value="2">视频</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" style="height:35px" placeholder="资讯名称"/>
                        </div>
                        <div class="input-group">
                            <input type="text" name="tag" class="form-control" style="height:35px" placeholder="标签"/>
                        </div>
                        <div class="input-group">
                            <input type="text" name="title" class="form-control" style="height:35px" placeholder="资讯标题"/>
                        </div>
                        <div class="input-group">
                            <label for="status" class="control-box">状态</label>
                        </div>
                        <div class="input-group">
                            <select id="status" name="status" class="form-control" style="height:35px">
                                <option value="" selected="selected">全部</option>
                                <option value="1">已上架</option>
                                <option value="0">未上架</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 0;margin-bottom: 15px;display: block;">
                        <button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>

            </div>
            <button class="btn btn-info add">添加</button>
            <button class="btn btn-info edit">修改</button>
            <button class="btn btn-info del">删除</button>
            <button class="btn btn-danger tagList">标签列表</button>
            <button class="btn btn-danger tagListPin">推荐标签列表</button>
            <button class="btn btn-danger syncRecommend">同步推荐</button>
            <button class="btn btn-danger syncType">同步分类</button>
            <button class="btn btn-danger timeup">定时上架</button>
        </div>


        <footer th:replace="footer"></footer>
    </div>
</div>

<div th:replace="body-under"></div>

<div class="modal fade in" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加资讯</h4>
            </div>

            <div class="modal-body">
                <form role="form" id="saveForm">
                    <input type="hidden" name="id"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯名称</label>
                                <input type="text" class="form-control" name="name" placeholder="资讯名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯标题</label>
                                <input type="text" class="form-control" name="title" placeholder="资讯标题"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯标签</label>
                                <select class="form-control" name="tag" id="tag" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯类型</label>
                                <label><input name="type" class="notMe" type="radio" value="0" checked="checked"/>资讯
                                </label>
                                <label><input name="type" class="notMe" type="radio" value="1" />专题
                                </label>
                                <label><input name="type" class="notMe" type="radio" value="2"/>视频</label>
                            </div>
                        </div>
                    </div>
                    <div id="videodiv" class="row" style="display: none">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯视频</label>
                                <input type="file" class="form-control" id="btnvideo" name="videoFile" placeholder="资讯视频"/>
                                <input type="hidden" class="form-control" name="video"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯图片</label>
                                <input type="file" class="form-control" name="imageFile" placeholder="资讯图片" onchange="uploadMainFile(this,'0',null)"/>
                                <input type="hidden" class="form-control" name="image"/>
                                <img alt="" src="" name="imageImg" style="display:none;"/>
                            </div>
                        </div>
                    </div>
                    <div id="contentdiv" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯内容</label>
                                <textarea id="editor_id"  style="width:700px;height:300px;" placeholder="资讯内容">
									</textarea>
                                <input type="hidden" class="form-control" name="content" placeholder="资讯内容"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">推荐商品id</label>
                                <input type="button" id="addMoreTextEle" class="notMe" value="添加" onclick="addMoreTextAeticle(this,null);"/>
                                <input type="hidden" class="form-control" name="goodsIds" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">浏览数</label>
                                <input type="number" class="form-control" value="0" name="viewCount" placeholder="资讯浏览数"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">点赞数</label>
                                <input type="number" class="form-control" value="0" name="praiseCount" placeholder="资讯点赞数"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" id="butsev" class="btn btn-info save">保存</button>
                <button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade in" id="modal-7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">定时上架时间</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="saveForm7">
                    <input type="hidden" name="isBottom" id="isBottom"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class=" control-label">选择上架时间</label>
                                <div class="col-md-12">
                                    <input type="text" id="timeup" name="beginTime" class="form-control" placeholder="上架时间"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info saveConfig">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">查看详情</h4>
            </div>

            <div class="modal-body" id="preview_body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger save" id="saveBtn" data-dismiss="modal">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="facke"/>
<input type="hidden" id="fackew"/>
<input type="hidden" id="fackeh"/>

<video style="display: none" id="videoObj"></video>
<input type="hidden" class="form-control" name="articleid" id="articleid" value=""/>
<script src="js/common.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/async.min.js"></script>
<script src="assets/kindeditor-4.1.12/kindeditor-all.js"></script>
<script src="assets/kindeditor-4.1.12/lang/zh-CN.js"></script>
<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/selectize.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id', {
            uploadJson: '/file/upload_qn',
            allowFileManager: false,
            afterUpload: function (url, data, name) {
                console.log(url);
                console.log(data);
                console.log(name);
            }
        });
    });

    $('input[type=radio][name=type]').change(function() {
        if (this.value == '2') {
            $('#videodiv').show();
            $('#contentdiv').hide();
            // $('#butsev').hide();
        }
        else {
            $('#videodiv').hide();
            $('#contentdiv').show();
            // $('#butsev').show();
        }
    });

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url, h, w) {
        if (url == null || url == '') {
            return "";
        } else {
            if (h != null && w != null) {
                return "<img width='WWWpx' height='HHHpx' src='#' />".replace("#", url).replace("WWW", w).replace("HHH", h);
            } else {
                return "<img width='375px' height='223px' src='#' />".replace("#", url);
            }
        }
    }

    function appendToPreview(key, value) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            key +
            '</div>' +
            '<div class="col-md-10">' +
            value +
            '</div>' +
            '</div>';
    }

    function appendToPreviewList(one, two, three, four, five, six) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            one +
            '</div>' +
            '<div class="col-md-2">' +
            two +
            '</div>' +
            '<div class="col-md-2">' +
            three +
            '</div>' +
            '<div class="col-md-2">' +
            four +
            '</div>' +
            '<div class="col-md-2">' +
            five +
            '</div>' +
            '<div class="col-md-2">' +
            six +
            '</div>' +
            '</div>';
    }

    function checkIt(id) {
        $.post("/brand_get", {"id": id}, function (data) {
            if (data) {
                var preview = $("#preview_body");
                var contentStr = "";
                var mainObj = data;
                contentStr += appendToPreview("编号:", mainObj["id"]);
                contentStr += appendToPreview("品牌名称:", mainObj["name"]);
                contentStr += appendToPreview("简介:", mainObj["info"]);
                contentStr += appendToPreview("类型[0-国内品牌，1-国际品牌]:", mainObj["type"]);
                contentStr += appendToPreview("是否推荐[0-否，1-是]:", mainObj["isRecommend"]);
                contentStr += appendToPreview("品牌LOGO:", buildImg(mainObj["logo"]));
                contentStr += appendToPreview("品牌LOGO(大):", buildImg(mainObj["logoBig"]));
                contentStr += appendToPreview("品牌banner:", buildImg(mainObj["banner"]));
                contentStr += appendToPreview("背景图:", buildImg(mainObj["background"]));
                contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
                contentStr += appendToPreview("备注:", mainObj["remark"]);
                contentStr += appendToPreview("排序:", mainObj["sort"]);
                contentStr += "<hr/>";
                preview.html(contentStr);
                $("#savePin").hide();
                jQuery('#preview').modal('show', {backdrop: 'fade'});
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function delNode(uuid) {
        var that = $("#"+uuid);
        that.remove();
    }

    var table_global;

    function toggleTopIt(id) {
        $.post("/brand_toggleTop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function topIt(id) {
        var num = prompt("输入置顶位置,从0开始,0为第一位", "0");
        if (isNaN(num) || num == null) {
            alert("请输入数字！");
        } else {
            $.post("/brand_top", {"id": id, "sort": num}, function (data) {
                if (data) {
                    table_global.fnDraw();
                    toastr.success("操作已成功！", "温馨提示");
                } else {
                    toastr.error("操作失败", "温馨提示");
                }
            });
        }
    }

    function unTopIt(id) {
        $.post("/brand_untop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function checkImg(list) {
        var returnList = {};
        for (var i in list) {
            i = list[i];
            var v = i[0];
            var name = i[1];
            var form = $("#saveForm");
            var footer = $(this).parent(".modal-footer");
            var imageFile = '';
            //上传文件获得文件地址
            if (v != '') {
                imageFile = form.find("input[name='" + name + "File']")[0].files[0];
                returnList[name] = imageFile;
            }
        }
        return returnList;
    }

    function uploadMainFile(self,bol,res1) {
        var that = $(self);
        if (self.files.length > 0) {
            var file = self.files[0];
            getQNToken(function (token) {
                sizevideo = 5;
                bl= false;
                if (bol=='1'){
                    sizevideo = 50;
                    bl =true;
                }
                this.upload("", token, file, function () {
                    //
                }, function (err) {
                    console.log("error");
                    console.log(err);
                }, function (res) {
                    //0图片，1视频
                    if (bol =='0'){
                        Filname = 'image';
                    }else if (bol=='1') {
                        Filname = 'video';
                        // $('#butsev').show();
                    }
                    var url = qiniuUrl + "/" + res.key;
                    that.parent().find("[name="+Filname+"]").val(url);
                    that.parent().find("[name=imageImg]").attr("src", url);
                    that.parent().find("[name=imageImg]").attr("width", "100px");
                    that.parent().find("[name=imageImg]").attr("height", "100px");
                    that.parent().find("[name=imageImg]").show();
                    if (res1 != null){
                        eval(res1+'();') ;
                    }
                },sizevideo,bl);
            },bol);
        } else {
            confirm("未选择任何文件!");
        }
    }

    function getQNToken(cb,bol) {
        var param = {};
        if (bol == 1) {
            param["isVideo"] = 1;
        }
        $.get("/qiniu/token", param, function (token) {
            cb(token);
        });
    }

    function addMoreTextAeticle(self, v) {
        var uuid = UUID.randomUUID();
        var that = $(self);
        var str = '<div id="UUID" class="toDel">'.replace("UUID", uuid);
        if (v != null) {
            str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsIdsSame" placeholder="填写商品ID"/>'.replace("VALUE", v);
        }else {
            str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" name="goodsIdsSame" placeholder="填写商品ID"/>';
        }
        str += '<input style="display:inline-block;" type="button" value="删除" onclick="delNode(\'UUID\')" />'.replace("UUID", uuid);
        str += '</div>';
        that.before(str);
    }

    function upIt(id, self) {
        $.post("/article_up", {"id": id}, function (data) {
            if (data) {
                $(self).val("下架");
                //remove old handler
                $(self).prop("onclick", null);
                $(self).removeAttr("onclick");
                $(self).off("click");
                //bind new
                $(self).on("click", function () {
                    downIt(id, self);
                });
                toastr.success("操作已成功！", "温馨提示");
                table_global.fnDraw();
            } else {
                toastr.error("非管理员无权操作", "温馨提示");
            }
        });
    }

    function downIt(id, self) {
        $.post("/article_down", {"id": id}, function (data) {
            if (data) {
                $(self).val("上架");
                //remove old handler
                $(self).prop("onclick", null);
                $(self).removeAttr("onclick");
                $(self).off("click");
                //bind new
                $(self).on("click", function () {
                    upIt(id, self);
                });
                toastr.success("操作已成功！", "温馨提示");
                table_global.fnDraw();
            } else {
                toastr.error("非管理员无权操作", "温馨提示");
            }
        });
    }

    function delParentNode(self) {
        $(self).parent().parent().remove();
    }

    function pinTag(tag) {
        $.post("/article_attachTag", {"value": tag}, function (data) {
            if (data) {
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function bindTagSelectorNew(data) {
        var brandStr = "";
        for (var brand in data) {
            brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand).replace("KEY", brand);
        }
        return brandStr;
    }

    function videoCapture(url, cb) {
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        var video = document.getElementById('videoObj');
        // Add a listener to wait for the 'loadedmetadata' state so the video's dimensions can be read
        video.onloadedmetadata = function () {
            // Calculate the ratio of the video's width to height
            var ratio = video.videoWidth / video.videoHeight;
            // Define the required width as 100 pixels smaller than the actual video's width
            var w = video.videoWidth;
            // Calculate the height based on the video's width and the ratio
            var h = parseInt(w / ratio, 10);
            // Set the canvas width and height to the values just calculated
            canvas.width = w;
            canvas.height = h;
            ctx.globalAlpha = 0.5;
            setTimeout(function () {
                ctx.fillRect(0, 0, w, h);
                ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                var imgBase64 = canvas.toDataURL("image/jpg");
                console.log(imgBase64);
                $('#facke').val(imgBase64);
                $('#fackeh').val(h);
                $('#fackew').val(w);
                cb(imgBase64);
            }, 500);
        };
        video.crossOrigin = "anonymous";
        video.src = url + "#t=3";
        // video.load();
        // video.play();
    }

    function savearticle () {
        var footer = $('#modal-6').find(".modal-footer");
        var form = $("#saveForm");
        // var code = form.find("input[name='code']").val();
        var name = form.find("input[name='name']").val();
        var title = form.find("input[name='title']").val();
        var image = form.find("input[name='image']").val();
        var video = form.find("input[name='video']").val();
        var type = form.find("input[name='type']").val();
        var tag = form.find("input[name='tag']").val();
        var content = editor.html();
        form.find("input[name='content']").val(content);

        var viewCount = form.find("input[name='viewCount']").val();
        var praiseCount = form.find("input[name='praiseCount']").val();

        var goodsIDListSame = form.find("input[name='goodsIdsSame']");
        var gidArrSame = [];
        for (var gidSame in goodsIDListSame) {
            if (isNaN(gidSame)) {
                continue;
            }
            gidArrSame.push(goodsIDListSame[gidSame].value);
        }
        form.find("input[name='goodsIds']").val(gidArrSame.join(","));
        var goodsIds = form.find("input[name='goodsIds']").val();

        if (name == '' || title == '' || image == '' || type==''|| tag==''||viewCount=='') {
            toastr.error("请填写完整数据后提交", "温馨提示");
            footer.find("button").show();
            footer.find(".bg-lg").hide();
            return;
        }


        //提交保存
        $.post("/article_save", $("#saveForm").serialize(), function (data) {
            if (data) {
                footer.find("button").show();
                footer.find(".bg-lg").hide();
                jQuery('#modal-6').modal('hide');
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                footer.find("button").show();
                footer.find(".bg-lg").hide();
                table_global.fnDraw();
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function getPrefix() {
        var protocol = document.location.protocol;
        if (protocol === "https:") {
            return "http://admin.offway.cn:8088";
        } else {
            return "";
        }
    }

    var qiniuUrl = [[${qiniuUrl}]];
    var url = [[${url}]];
    jQuery(document).ready(function ($) {
        if(url == 'lan'){
            url = document.location.protocol + "//" + document.location.host;
        }
        jQuery.datetimepicker.setLocale('zh');
        jQuery('#timeup').datetimepicker(
            {
                "lang": "zh",
                "format": "Y-m-d H:i:s",
                "timepicker": true,
                "datepicker": true,
                "defaultDate": new Date(),
                "defaultTime": "00:00:00"
            }
        );
        var oTable = $("#example-1").dataTable({
            language: {
                url: "../assets/Chinese.txt"
            },
            bFilter: false,
            bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp: "aData",//是服务器分页的标志，必须有
            sAjaxSource: "/article_list",//通过ajax实现分页的url路径。
            fnServerParams: function (aData) {
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
            columnDefs: [
                {
                    targets: 0,
                    data: "id",
                    width: "5%",
                    orderable: false,
                    className: 'select-checkbox',
                    title: '<input type="checkbox" id="checkbox-all"/>',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="activityId" value="' + data + '" />';
                    }
                },
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
                    targets: 2,
                    data: "name",
                    title: "名称"
                },
                {
                    targets: 3,
                    data: "title",
                    title: "标题"
                },
                {
                    targets: 4,
                    data: "image",
                    title: "图片",
                    render: function (data, type, row, meta) {
                        return buildImg(data);
                    }
                },
                {
                    targets: 5,
                    data: "video",
                    title: "视频"
                },
                {
                    targets: 6,
                    data: "type",
                    title: "类型",
                    render: function (data,type,row,meta) {
                        /** 类型[0-资讯，1-专题，2-视频] **/
                        var map = ["资讯","专题","视频"];
                        return map[parseInt(data)];
                    }
                },
                {
                    targets: 7,
                    data: "tag",
                    title: "标签"
                },
                {
                    targets: 8,
                    data: "id",
                    title: "内容",
                    render: function (data,type,row,meta) {
                        if (row['type']=='2'){
                            return "<font color=\"red\">视频资讯无内容</font>";
                        }
                        return "<a style='color: #7fff00;' target='_blank'  href=\""+url+"/article/info/"+data+".html\">预览</a>";
                    }
                },
                {
                    targets: 9,
                    data: "id",
                    title: "手机预览",
                    render: function (data, type, row, meta) {
                        if (row['type'] == '2') {
                            return "<a style='color: #0e7df0;' target='_blank'  href=\"http://qr.topscan.com/api.php?text=" + row['video'] + "\">手机预览</a>";
                            // return "<font color=\"red\">无</font>";
                        }
                        return "<a style='color: #0e7df0;' target='_blank'  href=\"http://qr.topscan.com/api.php?text=" + url + "/article/info/" + data + ".html\">手机预览</a>";
                    }
                },
                {
                    targets: 10,
                    data: "goodsIds",
                    title: "推荐商品"
                },
                {
                    targets: 11,
                    data: "status",
                    title: "状态",
                    render: function (data,type,row,meta) {
                        return (data == "0" || data == undefined) ? "<font color='red'>未上架</font>" : "已上架";
                    }
                },
                {
                    targets: 12,
                    data: "viewCount",
                    title: "浏览数"
                },
                {
                    targets: 13,
                    data: "praiseCount",
                    title: "点赞数"
                },
                {
                    targets: 14,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 15,
                    data: "approver",
                    title: "操作人"
                },
                {
                    targets: 16,
                    data: "approval",
                    title: "上架时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 17,
                    data: "remark",
                    title: "备注"
                },
                {
                    targets: 18,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        var str = "";
                        if (full["status"] == "0") {
                            str += '<input type="button" name="checkIt" onclick="upIt(' + data + ',this)" value="上架"/>';
                        } else {
                            str += '<input type="button" name="checkIt" onclick="downIt(' + data + ',this)" value="下架"/>';
                        }
                        return str;
                    }
                }
            ]
        });

        table_global = oTable;

        $(".searchBtn").click(function () {
            $("#checkbox-all").attr("checked", false);
            oTable.fnDraw(); //or fnReloadAjax()
            return false;
        });

        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='activityId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });

        $(".btn.btn-info.add").click(function () {
            window.open(getPrefix() + '/article_add.html', "_blank");
        });

        $('[name="type"]').click(function () {
            var value = $(this).val();  //获取选中的radio的值
            toggle(value);
        });

        function toggle(value) {
            var theId = $("#bannerBig");
            switch (parseInt(value)) {
                case 1:
                    theId.show();
                    break;
                default:
                    theId.hide();
                    break;
            }
        }

        //保存
        $(".btn.btn-info.save").click(function () {
            var footer = $(this).parent(".modal-footer");
            footer.find("button").hide();
            footer.find(".bg-lg").show();
            var form = $("#saveForm");
            if (form.find("input[name='type']:checked").val()=='2'){
                uploadMainFile($("#btnvideo")[0],1,'savearticle');
            } else {
                savearticle();
            }
        });


        $(".btn.btn-info.pass").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
                return;
            }

            $.post("/article_get", {id: activityId.val()}, function (data) {
                var form = $("#saveForm");
                form.find("div.toDel").remove();
                var goodsList = data["goodsIds"];
                form.find("input:not(.notMe)").val("");
                var content = data["content"];
                editor.html(content);
                for (var i in data) {
                    var ele = form.find("input[name='" + i + "']");
                    switch (ele.attr("type")) {
                        case "radio":
                            ele.val([data[i]]);
                            toggle(data[i]);
                            break;
                        default:
                            ele.val(data[i]);
                    }
                    form.find("img[name='" + i + "Img']").attr("src", data[i]);
                    form.find("img[name='" + i + "Img']").show();
                }

                //商品
                if (goodsList){
                    var list = goodsList.split(',');
                    for (var k in list) {
                        addMoreTextAeticle("#addMoreTextEle", list[k]);
                    }

                }

                form.find(".btn.image").show();
                jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
            });
        });

        $(".btn.btn-info.edit").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
                return;
            }
            window.open(getPrefix() + '/article_edit.html?id=' + activityId.val(), "_blank");
        });

        $(".btn.btn-info.del").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var confirm = window.confirm("你确定要这么做？");
            if (confirm == false) {
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/article_del", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            });
        });

        $(".btn.btn-danger.timeup").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });
            jQuery('#modal-7').modal({backdrop: 'static', keyboard: false});
            $("#articleid").val(ids.join(','));
        });

        $(".btn.btn-info.saveConfig").click(function () {
           var starttime = $('#timeup').val();
           var articleid = $('#articleid').val().split(',');
            $.post("/article_startup", {ids: articleid,starttime:starttime}, function (data) {
                if (data) {
                    table_global.fnDraw();
                    jQuery('#modal-7').modal('hide');
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }else {
                    toastr.error("非管理员无权操作", "温馨提示");
                }
            })
        });


        $(".btn.btn-danger.tagList").click(function () {
            $.getJSON("/article_tagList", {}, function (data) {
                if (data) {
                    var preview = $("#preview_body");
                    var contentStr = "";
                    for (var key in data) {
                        var valueEle = '<input type="text" value="VV" readonly="readonly" name="value">'.replace("VV", key);
                        var delBtn = '<input type="button" value="删除" onclick="delParentNode(this)" >';
                        var pinBtn = '<input type="button" value="推荐" onclick="pinTag(\'VV\')" >'.replace("VV", key);
                        contentStr += appendToPreviewList(valueEle, "", delBtn, "", pinBtn, "");
                    }
                    preview.html(contentStr);
                    preview.sortable();
                    preview.disableSelection();
                    var submit = $("#saveBtn");
                    submit.off("click");
                    submit.click(function () {
                        var value = preview.find("input[name='value']");
                        var values = [];
                        value.each(function (i, e) {
                            values.push(e.value);
                        });
                        $.post("/article_saveTags", {"values": values}, function (data) {
                            if (data) {
                                toastr.success("操作已成功！", "温馨提示");
                            }
                        });
                    });
                    jQuery('#preview').modal('show', {backdrop: 'fade'});
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-danger.tagListPin").click(function () {
            $.getJSON("/article_pinTagList", {}, function (data) {
                if (data) {
                    var preview = $("#preview_body");
                    var contentStr = "";
                    for (var i in data) {
                        var item = data[i];
                        var nameEle = '<input type="text" value="VV" readonly="readonly" name="name">'.replace("VV", item["name"] === '' ? " " : item["name"]);
                        var textEle = '<input type="text" value="VV" readonly="readonly" name="text">'.replace("VV", item["text"] === '' ? " " : item["text"]);
                        var valueEle = '<input type="text" value="VV" readonly="readonly" name="value">'.replace("VV", item["value"] === '' ? " " : item["value"]);
                        var delBtn = '<input type="button" value="删除" onclick="delParentNode(this)" >';
                        contentStr += appendToPreviewList(nameEle, "", textEle, "", valueEle, delBtn);
                    }
                    preview.html(contentStr);
                    preview.sortable();
                    preview.disableSelection();
                    var submit = $("#saveBtn");
                    submit.off("click");
                    submit.click(function () {
                        var name = preview.find("input[name='name']");
                        var text = preview.find("input[name='text']");
                        var value = preview.find("input[name='value']");
                        var names = [];
                        var texts = [];
                        var values = [];
                        name.each(function (i, e) {
                            names.push(e.value);
                        });
                        text.each(function (i, e) {
                            texts.push(e.value);
                        });
                        value.each(function (i, e) {
                            values.push(e.value);
                        });
                        $.post("/article_savePinTags", {
                            "names": names,
                            "texts": texts,
                            "values": values
                        }, function (data) {
                            if (data) {
                                toastr.success("操作已成功！", "温馨提示");
                            }
                        });
                    });
                    jQuery('#preview').modal('show', {backdrop: 'fade'});
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-danger.syncRecommend").click(function () {
            $.post("/article_syncRecommend", {}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });
        
        $(".btn.btn-danger.syncType").click(function () {
            $.post("/article_syncType", {}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinToLogo").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/brand_pin", {"ids": ids, "to": "logo"}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinToBanner").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/brand_pin", {"ids": ids, "to": "banner"}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinLogoList").click(function () {
            $.post("/brand_pin_list", {"to": "logo"}, function (data) {
                if (data) {
                    listIt(data, true);
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinBannerList").click(function () {
            $.post("/brand_pin_list", {"to": "banner"}, function (data) {
                if (data) {
                    listIt(data, false);
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.up").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }

            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/banner_up", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }

            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/banner_down", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
    });
    /*]]>*/
</script>
</body>

</html>
