<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="newHead"></head>
    <title>资讯管理</title>
    <link rel="stylesheet" href="assets/js/select2/select2.css"/>
    <link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="assets/css/selectize.bootstrap3.css"/>
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="assets/135editor/themes/96619a5672.css"/>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <style type="text/css">
        .form-group img {
            max-width: 400px;
            max-height: 300px;
        }
    </style>
</head>
<body class="page-body">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div th:replace="sidebar-menu"></div>
    <div class="main-content">
        <!-- User Info, Notifications and activity Bar -->
        <nav th:replace="navbar"></nav>
        <div class="page-title">

            <div class="title-env">
                <h1 class="title">资讯管理</h1>
                <p class="activityDescription"></p>
            </div>

            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li><a href="/"><i class="fa-home"></i>Home</a></li>
                    <li><a>系统管理</a></li>
                    <li class="active"><strong>资讯管理</strong></li>
                </ol>

            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="modal-title">添加资讯</h4>
            </div>
            <div class="panel-body">
                <form role="form" id="saveForm">
                    <input type="hidden" name="id"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯名称</label>
                                <input type="text" class="form-control" name="name" placeholder="资讯名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯标题</label>
                                <input type="text" class="form-control" name="title" placeholder="资讯标题"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯标签</label>
                                <select class="form-control" name="tag" id="tag" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯类型</label>
                                <label><input name="type" class="notMe" type="radio" value="0" checked="checked"/>资讯
                                </label>
                                <label><input name="type" class="notMe" type="radio" value="1" />专题
                                </label>
                                <label><input name="type" class="notMe" type="radio" value="2"/>视频</label>
                            </div>
                        </div>
                    </div>
                    <div id="videodiv" class="row" style="display: none">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯视频</label>
                                <input type="file" class="form-control" id="btnvideo" name="videoFile" placeholder="资讯视频"/>
                                <input type="hidden" class="form-control" name="video"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯图片</label>
                                <input type="file" class="form-control" name="imageFile" placeholder="资讯图片" onchange="uploadMainFile(this,'0',null)"/>
                                <input type="hidden" class="form-control" name="image"/>
                                <img alt="" src="" name="imageImg" style="display:none;"/>
                            </div>
                        </div>
                    </div>
                    <div id="contentdiv" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">资讯内容</label>
<!--                                <textarea id="editor_id"  style="width:700px;height:300px;" placeholder="资讯内容"></textarea>-->
                                <script id="editor_id" type="text/plain" style="width:1024px;height:500px;">资讯内容</script>
<!--                                <input type="hidden" class="form-control" name="content" placeholder="资讯内容"/>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">推荐商品id</label>
                                <input type="button" id="addMoreTextEle" class="notMe" value="添加" onclick="addMoreTextAeticle(this,null);"/>
                                <input type="hidden" class="form-control" name="goodsIds" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">浏览数</label>
                                <input type="number" class="form-control" value="0" name="viewCount" placeholder="资讯浏览数"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">点赞数</label>
                                <input type="number" class="form-control" value="0" name="praiseCount" placeholder="资讯点赞数"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info save">保存</button>
                    </div>
                </form>
            </div>
        </div>

        <footer th:replace="newFooter"></footer>
    </div>
</div>
<input type="hidden" id="video_poster"/>
<input type="hidden" id="video_width"/>
<input type="hidden" id="video_height"/>
<video style="display: none" id="videoObj"></video>
<input type="hidden" name="articleid" id="articleid" value=""/>
<script src="js/common.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/async.min.js"></script>
<!--<script src="assets/kindeditor-4.1.12/kindeditor-all.js"></script>-->
<!--<script src="assets/kindeditor-4.1.12/lang/zh-CN.js"></script>-->
<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/selectize.min.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="assets/135editor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="assets/135editor/ueditor.all.min.js"></script>
<script type="text/javascript" src="assets/135editor/a92d301d77.js"></script>
<!-- 播放器使用的是videojs开源插件 -->
<!--<script type="text/javascript" src="assets/135editor/ueditor.parse.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/

    var appkey = '5d89b63c-7664-48dd-acdd-6d0fac10c65d';
    window.BASEURL = 'https://www.135editor.com';
    var editor = UE.getEditor('editor_id', {
        plat_host: 'www.135editor.com',
        appkey: appkey, open_editor: true, pageLoad: true,
        style_url: BASEURL + '/editor_styles/open?inajax=1&appkey=' + appkey,
        style_width: 340,
        uploadFormData: {'referer': window.document.referrer},
        initialFrameHeight: 680,
        zIndex: 1000,
        focus: true,
        autoFloatEnabled: false, autoHeightEnabled: false, scaleEnabled: false,
        focusInEnd: true
    });

    // var editor = UE.getEditor('editor_id');

    // KindEditor.ready(function (K) {
    //     window.editor = K.create('#editor_id', {
    //         uploadJson: '/file/upload_qn',
    //         allowFileManager: false,
    //         afterUpload: function (url, data, name) {
    //             console.log(url);
    //             console.log(data);
    //             console.log(name);
    //         }
    //     });
    // });

    $('input[type=radio][name=type]').change(function() {
        if (this.value == '2') {
            $('#videodiv').show();
            $('#contentdiv').hide();
        }
        else {
            $('#videodiv').hide();
            $('#contentdiv').show();
        }
    });

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url, h, w) {
        if (url == null || url == '') {
            return "";
        } else {
            if (h != null && w != null) {
                return "<img width='WWWpx' height='HHHpx' src='#' />".replace("#", url).replace("WWW", w).replace("HHH", h);
            } else {
                return "<img width='375px' height='223px' src='#' />".replace("#", url);
            }
        }
    }

    function appendToPreview(key, value) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            key +
            '</div>' +
            '<div class="col-md-10">' +
            value +
            '</div>' +
            '</div>';
    }

    function delNode(uuid) {
        var that = $("#"+uuid);
        that.remove();
    }

    function checkImg(list) {
        var returnList = {};
        for (var i in list) {
            i = list[i];
            var v = i[0];
            var name = i[1];
            var form = $("#saveForm");
            var footer = $(this).parent(".modal-footer");
            var imageFile = '';
            //上传文件获得文件地址
            if (v != '') {
                imageFile = form.find("input[name='" + name + "File']")[0].files[0];
                returnList[name] = imageFile;
            }
        }
        return returnList;
    }

    function uploadMainFile(self,bol,res1) {
        var that = $(self);
        if (self.files.length > 0) {
            var file = self.files[0];
            getQNToken(function (token) {
                sizevideo = 5;
                bl= false;
                if (bol=='1'){
                    sizevideo = 50;
                    bl =true;
                }
                this.upload("", token, file, function () {
                    //
                }, function (err) {
                    console.log("error");
                    console.log(err);
                }, function (res) {
                    //0图片，1视频
                    if (bol =='0'){
                        Filname = 'image';
                    }else if (bol=='1') {
                        Filname = 'video';
                    }
                    var url = qiniuUrl + "/" + res.key;
                    that.parent().find("[name="+Filname+"]").val(url);
                    that.parent().find("[name=imageImg]").attr("src", url);
                    that.parent().find("[name=imageImg]").attr("width", "100px");
                    that.parent().find("[name=imageImg]").attr("height", "100px");
                    that.parent().find("[name=imageImg]").show();
                    if (res1 != null){
                        eval(res1+'();') ;
                    }
                },sizevideo,bl);
            },bol);
        } else {
            confirm("未选择任何文件!");
        }
    }

    function getQNToken(cb,bol) {
        var param = {};
        if (bol == 1) {
            param["isVideo"] = 1;
        }
        $.get("/qiniu/token", param, function (token) {
            cb(token);
        });
    }

    function addMoreTextAeticle(self, v) {
        var uuid = UUID.randomUUID();
        var that = $(self);
        var str = '<div id="UUID" class="toDel">'.replace("UUID", uuid);
        if (v != null) {
            str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsIdsSame" placeholder="填写商品ID"/>'.replace("VALUE", v);
        }else {
            str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" name="goodsIdsSame" placeholder="填写商品ID"/>';
        }
        str += '<input style="display:inline-block;" type="button" value="删除" onclick="delNode(\'UUID\')" />'.replace("UUID", uuid);
        str += '</div>';
        that.before(str);
    }

    function bindTagSelectorNew(data) {
        var brandStr = "";
        for (var brand in data) {
            brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand).replace("KEY", brand);
        }
        return brandStr;
    }

    function videoCapture(url, cb, uuid) {
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        var video = document.getElementById('videoObj');
        // Add a listener to wait for the 'loadedmetadata' state so the video's dimensions can be read
        video.onloadedmetadata = function () {
            // Calculate the ratio of the video's width to height
            var ratio = video.videoWidth / video.videoHeight;
            // Define the required width as 100 pixels smaller than the actual video's width
            var w = video.videoWidth;
            // Calculate the height based on the video's width and the ratio
            var h = parseInt(w / ratio, 10);
            // Set the canvas width and height to the values just calculated
            canvas.width = w;
            canvas.height = h;
            ctx.globalAlpha = 0.5;
            setTimeout(function () {
                ctx.fillRect(0, 0, w, h);
                ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                var imgBase64 = canvas.toDataURL("image/jpg");
                console.log(imgBase64);
                $('#video_poster').val(imgBase64);
                $('#video_height').val(h);
                $('#video_width').val(w);
                cb(imgBase64);
                var old = editor.getContent();
                console.log(old);
                editor.setContent(old.replace(uuid, imgBase64));
            }, 500);
        };
        video.crossOrigin = "anonymous";
        video.src = url + "#t=3";
        // video.load();
        // video.play();
    }

    function saveArticle () {
        var form = $("#saveForm");
        // var code = form.find("input[name='code']").val();
        var name = form.find("input[name='name']").val();
        var title = form.find("input[name='title']").val();
        var image = form.find("input[name='image']").val();
        var video = form.find("input[name='video']").val();
        var type = form.find("input[name='type']").val();
        var tag = form.find("input[name='tag']").val();
        var content = editor.getContent();
        form.find("input[name='content']").val(content);

        var viewCount = form.find("input[name='viewCount']").val();
        var praiseCount = form.find("input[name='praiseCount']").val();

        var goodsIDListSame = form.find("input[name='goodsIdsSame']");
        var gidArrSame = [];
        for (var gidSame in goodsIDListSame) {
            if (isNaN(gidSame)) {
                continue;
            }
            gidArrSame.push(goodsIDListSame[gidSame].value);
        }
        form.find("input[name='goodsIds']").val(gidArrSame.join(","));
        var goodsIds = form.find("input[name='goodsIds']").val();

        if (name == '' || title == '' || image == '' || type==''|| tag==''||viewCount=='') {
            toastr.error("请填写完整数据后提交", "温馨提示");
            footer.find("button").show();
            footer.find(".bg-lg").hide();
            return;
        }


        //提交保存
        $.post("/article_save", form.serialize(), function (data) {
            if (data) {
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function forAdd() {
        var form = $("#saveForm");
        form.find("input:not(.notMe)").val("");
        form.find("img").attr("src", "");
        form.find("img").hide();
        form.find("div.toDel").remove();
        form.find("input[type='file']").show();
        form.find("input[type='radio']").val(["0"]);
        editor.setContent("");
        toggle("0");
        //tag
        $.getJSON("/article_tagList", {}, function (innerData) {
            var that = $("#tag");
            that.selectize()[0].selectize.clear();
            that.selectize()[0].selectize.destroy();
            var contentStr = bindTagSelectorNew(innerData);
            that.html(contentStr);
            that.selectize({
                // "plugins": ['drag_drop', 'remove_button'],
                // "items": arr,
                "persist": false,
                "create": true,
                "maxItems": null,
                "delimiter": ",",
                "hideSelected": true,
                "sortField": "text",
                "searchField": ['text'],
                "placeholder": "选择TAG"
            });
            $(".imageShow").remove();
        });
    }

    function forEdit(id) {
        $.post("/article_get", {"id": id}, function (data) {
            var form = $("#saveForm");
            form.find("div.toDel").remove();
            var goodsList = data["goodsIds"];
            form.find("input:not(.notMe)").val("");
            var content = data["content"];
            editor.setContent(content);
            for (var i in data) {
                var ele = form.find("input[name='" + i + "']");
                switch (ele.attr("type")) {
                    case "radio":
                        ele.val([data[i]]);
                        toggle(data[i]);
                        break;
                    default:
                        ele.val(data[i]);
                }
                form.find("img[name='" + i + "Img']").attr("src", data[i]);
                form.find("img[name='" + i + "Img']").show();
            }
            //商品
            if (goodsList) {
                var list = goodsList.split(',');
                for (var k in list) {
                    addMoreTextAeticle("#addMoreTextEle", list[k]);
                }
            }
            //tag
            $.getJSON("/article_tagList", {}, function (innerData) {
                var that = $("#tag");
                that.selectize()[0].selectize.clear();
                that.selectize()[0].selectize.destroy();
                var arr = [];
                if (data["tag"]) {
                    arr = data["tag"].split(",");
                }
                var contentStr = bindTagSelectorNew(innerData);
                for (var i in arr) {
                    i = arr[i];
                    if (!innerData.hasOwnProperty(i)) {
                        contentStr += '<option value="VALUE">KEY</option>'.replace("VALUE", i).replace("KEY", i);
                    }
                }
                that.html(contentStr);
                that.selectize({
                    // "plugins": ['drag_drop', 'remove_button'],
                    "items": arr,
                    "persist": false,
                    "create": true,
                    "maxItems": null,
                    "delimiter": ",",
                    "hideSelected": true,
                    "sortField": "text",
                    "searchField": ['text'],
                    "placeholder": "选择TAG"
                });
                form.find(".btn.image").show();
            });
        });
    }

    function toggle(value) {
        var theId = $("#bannerBig");
        switch (parseInt(value)) {
            case 1:
                theId.show();
                break;
            default:
                theId.hide();
                break;
        }
    }

    var qiniuUrl = [[${qiniuUrl}]];
    var theId = [[${theId}]];
    jQuery(document).ready(function ($) {
        jQuery.datetimepicker.setLocale('zh');
        jQuery('#timeup').datetimepicker(
            {
                "lang": "zh",
                "format": "Y-m-d H:i:s",
                "timepicker": true,
                "datepicker": true,
                "defaultDate": new Date(),
                "defaultTime": "00:00:00"
            }
        );

        $('[name="type"]').click(function () {
            var value = $(this).val();  //获取选中的radio的值
            toggle(value);
        });

        if (isNaN(theId)) {
            setTimeout(function () {
                forAdd();
            }, 500);
        } else {
            setTimeout(function () {
                forEdit(theId);
            }, 500);
        }

        //保存
        $(".btn.btn-info.save").click(function () {
            var footer = $(this).parent(".modal-footer");
            // footer.find("button").hide();
            footer.find(".bg-lg").show();
            var form = $("#saveForm");
            if (form.find("input[name='type']:checked").val() == '2') {
                uploadMainFile($("#btnvideo")[0], 1, 'saveArticle');
            } else {
                saveArticle();
            }
        });
    });
    /*]]>*/
</script>
</body>

</html>
