<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="head"></head>
    <title>文章管理</title>
    <link rel="stylesheet" href="assets/js/select2/select2.css"/>
    <link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <style type="text/css">
        .form-group img {
            max-width: 400px;
            max-height: 300px;
        }
    </style>
</head>
<body class="page-body">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div th:replace="sidebar-menu"></div>
    <div class="main-content">
        <!-- User Info, Notifications and activity Bar -->
        <nav th:replace="navbar"></nav>
        <div class="page-title">

            <div class="title-env">
                <h1 class="title">文章管理</h1>
                <p class="activityDescription"></p>
            </div>

            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li><a href="/"><i class="fa-home"></i>Home</a></li>
                    <li><a>系统管理</a></li>
                    <li class="active"><strong>文章管理</strong></li>
                </ol>

            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <form role="form" class="form-inline">
<!--                    <div class="form-group ">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" name="name" class="form-control" style="height:35px" placeholder="品牌名"/>-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                            <select name="type" class="form-control" style="height:35px">-->
<!--                                <option value="" selected="selected">全部</option>-->
<!--                                <option value="1">国际品牌</option>-->
<!--                                <option value="0">国内品牌</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>-->
<!--                    </div>-->

                </form>
            </div>
            <div class="panel-body">
                <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>

            </div>
            <button class="btn btn-info add">添加</button>
            <button class="btn btn-info edit">修改</button>
            <button class="btn btn-info del">删除</button>
        </div>


        <footer th:replace="footer"></footer>
    </div>
</div>

<div th:replace="body-under"></div>

<div class="modal fade in" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">添加文章</h4>
            </div>

            <div class="modal-body">
                <form role="form" id="saveForm">
                    <input type="hidden" name="id"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章名称</label>
                                <input type="text" class="form-control" name="name" placeholder="文章名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章标题</label>
                                <input type="text" class="form-control" name="title" placeholder="文章标题"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章图片</label>
                                <input type="file" class="form-control" name="imageFile" placeholder="文章图片" onchange="uploadMainFile(this,'0')"/>
                                <input type="hidden" class="form-control" name="image"/>
                                <img alt="" src="" name="imageImg" style="display:none;"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章类型</label>
                                <label><input name="type" class="notMe" type="radio" value="0" checked="checked"/>资讯
                                </label>
                                <label><input name="type" class="notMe" type="radio" value="1" />专题
                                </label>
                                <label><input name="type" class="notMe" type="radio" value="2"/>视频</label>
                            </div>
                        </div>
                    </div>
                    <div id="videodiv" class="row" style="display: none">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章视频</label>
                                <input type="file" class="form-control" name="videoFile" placeholder="文章视频" onchange="uploadMainFile(this,'1')"/>
                                <input type="hidden" class="form-control" name="video"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章标签</label>
                                <input type="text" class="form-control" name="tag" placeholder="文章标签"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">文章内容</label>
                                <textarea id="editor_id"  style="width:700px;height:300px;" placeholder="文章内容">
									</textarea>
                                <input type="hidden" class="form-control" name="content" placeholder="文章内容"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">推荐商品id</label>
                                <input type="button" id="addMoreTextEle" class="notMe" value="添加" onclick="addMoreTextAeticle(this,null);"/>
                                <input type="hidden" class="form-control" name="goodsIds" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">浏览数</label>
                                <input type="number" class="form-control" value="0" name="viewCount" placeholder="文章浏览数"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">点赞数</label>
                                <input type="number" class="form-control" value="0" name="praiseCount" placeholder="文章点赞数s"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info save">保存</button>
                <button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">查看详情</h4>
            </div>

            <div class="modal-body" id="preview_body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white save" id="savePin" data-dismiss="modal">保存</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="js/common.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/async.min.js"></script>
<script src="assets/kindeditor-4.1.12/kindeditor-all-min.js"></script>
<script src="assets/kindeditor-4.1.12/lang/zh-CN.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id', {
            uploadJson: '/file/upload_qn',
            allowFileManager: false,
            afterUpload: function (url, data, name) {
                console.log(url);
                console.log(data);
                console.log(name);
            }
        });
    });

    $('input[type=radio][name=type]').change(function() {
        if (this.value == '2') {
            $('#videodiv').show();
        }
        else {
            $('#videodiv').hide();
        }
    });

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url, h, w) {
        if (url == null || url == '') {
            return "";
        } else {
            if (h != null && w != null) {
                return "<img width='WWWpx' height='HHHpx' src='#' />".replace("#", url).replace("WWW", w).replace("HHH", h);
            } else {
                return "<img width='375px' height='223px' src='#' />".replace("#", url);
            }
        }
    }

    function appendToPreview(key, value) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            key +
            '</div>' +
            '<div class="col-md-10">' +
            value +
            '</div>' +
            '</div>';
    }

    function appendToPreviewList(one, two, three, four, five, six) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            one +
            '</div>' +
            '<div class="col-md-2">' +
            two +
            '</div>' +
            '<div class="col-md-2">' +
            three +
            '</div>' +
            '<div class="col-md-2">' +
            four +
            '</div>' +
            '<div class="col-md-2">' +
            five +
            '</div>' +
            '<div class="col-md-2">' +
            six +
            '</div>' +
            '</div>';
    }

    function checkIt(id) {
        $.post("/brand_get", {"id": id}, function (data) {
            if (data) {
                var preview = $("#preview_body");
                var contentStr = "";
                var mainObj = data;
                contentStr += appendToPreview("编号:", mainObj["id"]);
                contentStr += appendToPreview("品牌名称:", mainObj["name"]);
                contentStr += appendToPreview("简介:", mainObj["info"]);
                contentStr += appendToPreview("类型[0-国内品牌，1-国际品牌]:", mainObj["type"]);
                contentStr += appendToPreview("是否推荐[0-否，1-是]:", mainObj["isRecommend"]);
                contentStr += appendToPreview("品牌LOGO:", buildImg(mainObj["logo"]));
                contentStr += appendToPreview("品牌LOGO(大):", buildImg(mainObj["logoBig"]));
                contentStr += appendToPreview("品牌banner:", buildImg(mainObj["banner"]));
                contentStr += appendToPreview("背景图:", buildImg(mainObj["background"]));
                contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
                contentStr += appendToPreview("备注:", mainObj["remark"]);
                contentStr += appendToPreview("排序:", mainObj["sort"]);
                contentStr += "<hr/>";
                preview.html(contentStr);
                $("#savePin").hide();
                jQuery('#preview').modal('show', {backdrop: 'fade'});
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function delNode(uuid) {
        var that = $("#"+uuid);
        that.remove();
    }



    var table_global;

    function toggleTopIt(id) {
        $.post("/brand_toggleTop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function topIt(id) {
        var num = prompt("输入置顶位置,从0开始,0为第一位", "0");
        if (isNaN(num) || num == null) {
            alert("请输入数字！");
        } else {
            $.post("/brand_top", {"id": id, "sort": num}, function (data) {
                if (data) {
                    table_global.fnDraw();
                    toastr.success("操作已成功！", "温馨提示");
                } else {
                    toastr.error("操作失败", "温馨提示");
                }
            });
        }
    }

    function unTopIt(id) {
        $.post("/brand_untop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function checkImg(list) {
        var returnList = {};
        for (var i in list) {
            i = list[i];
            var v = i[0];
            var name = i[1];
            var form = $("#saveForm");
            var footer = $(this).parent(".modal-footer");
            var imageFile = '';
            //上传文件获得文件地址
            if (v != '') {
                imageFile = form.find("input[name='" + name + "File']")[0].files[0];
                returnList[name] = imageFile;
            }
        }
        return returnList;
    }

    function uploadMainFile(self,bol) {
        var that = $(self);
        if (self.files.length > 0) {
            var file = self.files[0];
            getQNToken(function (token) {
                sizevideo = 5;
                bl= false;
                if (bol=='1'){
                    sizevideo = 50;
                    bl =true;
                }
                this.upload("", token, file, function () {
                    //
                }, function (err) {
                    console.log("error");
                    console.log(err);
                }, function (res) {
                    //0图片，1视频
                    if (bol =='0'){
                        Filname = 'image';
                    }else if (bol=='1') {
                        Filname = 'video';
                    }
                    var url = qiniuUrl + "/" + res.key;
                    that.parent().find("[name="+Filname+"]").val(url);
                    that.parent().find("[name=imageImg]").attr("src", url);
                    that.parent().find("[name=imageImg]").attr("width", "100px");
                    that.parent().find("[name=imageImg]").attr("height", "100px");
                    that.parent().find("[name=imageImg]").show();
                },sizevideo,bl);
            });
        } else {
            confirm("未选择任何文件!");
        }
    }
    function getQNToken(cb) {
        $.get("/qiniu/token", {}, function (token) {
            cb(token);
        });
    }

    function addMoreTextAeticle(self, v) {
        var uuid = UUID.randomUUID();
        var that = $(self);
        var str = '<div id="UUID" class="toDel">'.replace("UUID", uuid);
        if (v != null) {
            str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsIdsSame" placeholder="填写商品ID"/>'.replace("VALUE", v);
        }else {
            str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" name="goodsIdsSame" placeholder="填写商品ID"/>';
        }
        str += '<input style="display:inline-block;" type="button" value="删除" onclick="delNode(\'UUID\')" />'.replace("UUID", uuid);
        str += '</div>';
        that.before(str);
    }

    function upIt(id, self) {
        $.post("/article_up", {"id": id}, function (data) {
            if (data) {
                $(self).val("下架");
                //remove old handler
                $(self).prop("onclick", null);
                $(self).removeAttr("onclick");
                $(self).off("click");
                //bind new
                $(self).on("click", function () {
                    downIt(id, self);
                });
                toastr.success("操作已成功！", "温馨提示");
                oTable.fnDraw();
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function downIt(id, self) {
        $.post("/article_down", {"id": id}, function (data) {
            if (data) {
                $(self).val("上架");
                //remove old handler
                $(self).prop("onclick", null);
                $(self).removeAttr("onclick");
                $(self).off("click");
                //bind new
                $(self).on("click", function () {
                    upIt(id, self);
                });
                toastr.success("操作已成功！", "温馨提示");
                oTable.fnDraw();
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    var qiniuUrl = [[${qiniuUrl}]];


    jQuery(document).ready(function ($) {
        var oTable = $("#example-1").dataTable({
            language: {
                url: "../assets/Chinese.txt"
            },
            aLengthactivity: [
                [10, 25, 50, 100], [10, 25, 50, 100]
            ],
            bFilter: false,
            bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp: "aData",//是服务器分页的标志，必须有
            sAjaxSource: "/article_list",//通过ajax实现分页的url路径。
            fnServerParams: function (aData) {
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
            columnDefs: [
                {
                    targets: 0,
                    data: "id",
                    width: "5%",
                    orderable: false,
                    className: 'select-checkbox',
                    title: '<input type="checkbox" id="checkbox-all"/>',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="activityId" value="' + data + '" />';
                    }
                },
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
                    targets: 2,
                    data: "name",
                    title: "名称"
                },
                {
                    targets: 3,
                    data: "title",
                    title: "标题"
                },
                {
                    targets: 4,
                    data: "image",
                    title: "图片",
                    render: function (data, type, row, meta) {
                        return buildImg(data);
                    }
                },
                {
                    targets: 5,
                    data: "video",
                    title: "视频"
                },
                {
                    targets: 6,
                    data: "type",
                    title: "类型",
                    render: function (data,type,row,meta) {
                        /** 类型[0-资讯，1-专题，2-视频] **/
                        var map = ["资讯","专题","视频"];
                        return map[parseInt(data)];
                    }
                },
                {
                    targets: 7,
                    data: "tag",
                    title: "标签"
                },
                {
                    targets: 8,
                    data: "content",
                    title: "内容",
                    render: function (data,type,row,meta) {
                        return "请在修改中查看内容";
                    }
                },
                {
                    targets: 9,
                    data: "goodsIds",
                    title: "推荐商品"
                },
                {
                    targets: 10,
                    data: "status",
                    title: "状态",
                    render: function (data,type,row,meta) {
                        return (data == "0" || data == undefined) ? "<font color='red'>未上架</font>" : "已上架";
                    }
                },
                {
                    targets: 11,
                    data: "viewCount",
                    title: "浏览数"
                },
                {
                    targets: 12,
                    data: "praiseCount",
                    title: "点赞数"
                },
                {
                    targets: 13,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 14,
                    data: "approver",
                    title: "操作人"
                },
                {
                    targets: 15,
                    data: "approval",
                    title: "上架时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 16,
                    data: "remark",
                    title: "备注"
                },
                {
                    targets: 17,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        var str = "";
                        if (full["status"] == "0") {
                            str += '<input type="button" name="checkIt" onclick="upIt(' + data + ',this)" value="上架"/>';
                        } else {
                            str += '<input type="button" name="checkIt" onclick="downIt(' + data + ',this)" value="下架"/>';
                        }
                        return str;
                    }
                }
            ]
        });

        table_global = oTable;

        $(".searchBtn").click(function () {
            $("#checkbox-all").attr("checked", false);
            oTable.fnDraw(); //or fnReloadAjax()
            return false;
        });

        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='activityId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });

        $(".btn.btn-info.add").click(function () {
            var form = $("#saveForm");
            form.find("input:not(.notMe)").val("");
            form.find("img").attr("src", "");
            form.find("img").hide();
            form.find("div.toDel").remove();
            form.find("input[type='file']").show();
            form.find("input[type='radio']").val(["0"]);
            toggle("0");
            $(".imageShow").remove();
            jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
        });

        $('[name="type"]').click(function () {
            var value = $(this).val();  //获取选中的radio的值
            toggle(value);
        });

        function toggle(value) {
            var theId = $("#bannerBig");
            switch (parseInt(value)) {
                case 1:
                    theId.show();
                    break;
                default:
                    theId.hide();
                    break;
            }
        }

        //保存
        $(".btn.btn-info.save").click(function () {
            var footer = $(this).parent(".modal-footer");
            footer.find("button").hide();
            footer.find(".bg-lg").show();
            var form = $("#saveForm");
            // var code = form.find("input[name='code']").val();
            var name = form.find("input[name='name']").val();
            var title = form.find("input[name='title']").val();
            var image = form.find("input[name='image']").val();
            var video = form.find("input[name='video']").val();
            var type = form.find("input[name='type']").val();
            var tag = form.find("input[name='tag']").val();
            var content = editor.html();
            form.find("input[name='content']").val(content);

            var viewCount = form.find("input[name='viewCount']").val();
            var praiseCount = form.find("input[name='praiseCount']").val();

            var goodsIDListSame = form.find("input[name='goodsIdsSame']");
            var gidArrSame = [];
            for (var gidSame in goodsIDListSame) {
                if (isNaN(gidSame)) {
                    continue;
                }
                gidArrSame.push(goodsIDListSame[gidSame].value);
            }
            form.find("input[name='goodsIds']").val(gidArrSame.join(","));
            var goodsIds = form.find("input[name='goodsIds']").val();

            if (name == '' || title == '' || image == '' || type==''|| tag==''||content==''||viewCount=='') {
                toastr.error("请填写完整数据后提交", "温馨提示");
                footer.find("button").show();
                footer.find(".bg-lg").hide();
                return;
            }


            //提交保存
            $.post("/article_save", $("#saveForm").serialize(), function (data) {
                if (data) {
                    footer.find("button").show();
                    footer.find(".bg-lg").hide();
                    jQuery('#modal-6').modal('hide');
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                } else {
                    footer.find("button").show();
                    footer.find(".bg-lg").hide();
                    toastr.error("操作失败", "温馨提示");
                }
            });
        });


        $(".btn.btn-info.pass").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
                return;
            }

            $.post("/article_get", {id: activityId.val()}, function (data) {
                var form = $("#saveForm");
                form.find("div.toDel").remove();
                var goodsList = data["goodsIds"];
                form.find("input:not(.notMe)").val("");
                var content = data["content"];
                editor.html(content);
                for (var i in data) {
                    var ele = form.find("input[name='" + i + "']");
                    switch (ele.attr("type")) {
                        case "radio":
                            ele.val([data[i]]);
                            toggle(data[i]);
                            break;
                        default:
                            ele.val(data[i]);
                    }
                    form.find("img[name='" + i + "Img']").attr("src", data[i]);
                    form.find("img[name='" + i + "Img']").show();
                }

                //商品
                if (goodsList){
                    var list = goodsList.split(',');
                    for (var k in list) {
                        addMoreTextAeticle("#addMoreTextEle", list[k]);
                    }

                }

                form.find(".btn.image").show();
                jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
            });
        });

        $(".btn.btn-info.edit").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length != 1) {
                toastr.error("请选择一条数据操作", "温馨提示");
                return;
            }

            $.post("/article_get", {id: activityId.val()}, function (data) {
                var form = $("#saveForm");
                form.find("div.toDel").remove();
                var goodsList = data["goodsIds"];
                form.find("input:not(.notMe)").val("");
                var content = data["content"];
                editor.html(content);
                for (var i in data) {
                    var ele = form.find("input[name='" + i + "']");
                    switch (ele.attr("type")) {
                        case "radio":
                            ele.val([data[i]]);
                            toggle(data[i]);
                            break;
                        default:
                            ele.val(data[i]);
                    }
                    form.find("img[name='" + i + "Img']").attr("src", data[i]);
                    form.find("img[name='" + i + "Img']").show();
                }

                //商品
                if (goodsList){
                    var list = goodsList.split(',');
                    for (var k in list) {
                        addMoreTextAeticle("#addMoreTextEle", list[k]);
                    }

                }

                form.find(".btn.image").show();
                jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
            });
        });

        $(".btn.btn-info.del").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var confirm = window.confirm("你确定要这么做？");
            if (confirm == false) {
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/article_del", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            });
        });

        $(".btn.btn-info.pinToLogo").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/brand_pin", {"ids": ids, "to": "logo"}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinToBanner").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/brand_pin", {"ids": ids, "to": "banner"}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinLogoList").click(function () {
            $.post("/brand_pin_list", {"to": "logo"}, function (data) {
                if (data) {
                    listIt(data, true);
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinBannerList").click(function () {
            $.post("/brand_pin_list", {"to": "banner"}, function (data) {
                if (data) {
                    listIt(data, false);
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.up").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }

            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/banner_up", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }

            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/banner_down", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
    });
    /*]]>*/
</script>
</body>

</html>
