<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>Banner管理</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">Banner管理</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>每日福利</a></li>
						<li class="active"><strong>Banner管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="name" class="form-control" style="height:35px" placeholder="活动名"/>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
						
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
				<button class="btn btn-info add" >添加</button>
				<button class="btn btn-info edit">修改</button>
				<button class="btn btn-info del">删除</button>
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">添加banner</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-12">
							
							<div class="form-group">
								<label for="field-3" class="control-label">活动名称</label>

								<input type="text" class="form-control" name="remark" placeholder="活动名称"/>
							</div>	
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
								<label for="field-4" class="control-label">开始时间-截止时间</label>
								<input type="text" id="daterange" class="form-control daterange" placeholder="开始时间-截止时间" data-time-picker="true" data-time-picker-increment="5" data-format="YYYY-MM-DD HH:mm:ss" />
								<input type="hidden" class="form-control" name="beginTime" />
								<input type="hidden" class="form-control" name="endTime" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<div class="form-group">
								<label for="field-4" class="control-label">封面图片</label>
								<input type="file" class="form-control" name="imageFile" placeholder="封面图片"/>
								<input type="hidden" class="form-control" name="image" />
								<img alt="" src="" name="imageImage" style="display:none;"/>
								<button class="btn btn-info modify image" style="display:none;">更换</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							
							<div class="form-group">
								<label for="field-4" class="control-label">跳转链接</label>
								
								<input type="text" class="form-control" name="url" placeholder="跳转链接"/>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							
							<div class="form-group">
								<label for="field-4" class="control-label">商品详情ID</label>
								
								<input type="text" class="form-control" name="goods_id" placeholder="商品详情ID"/>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							
							<div class="form-group">
								<label for="field-4" class="control-label">品牌详情ID</label>
								<input type="number" class="form-control" name="brand_id" placeholder="品牌详情ID"/>
							</div>	
						</div>
					</div>
					</form>
				</div>
				
				<div class="modal-footer">
					 <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="modal fade in" id="modal-joinNum">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">修改参与人数</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="joinNumForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-12">
							
							<div class="form-group">
								<input type="number" class="form-control" name="joinNum" />
							</div>	
							
						</div>
					</div>
					</form>
				</div>
				
				<div class="modal-footer">
					 <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info saveJoinNum">保存</button>
				</div>
				
			</div>
		</div>
	</div>
	
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
	<script src="assets/js/daterangepicker/daterangepicker.js"></script>
	<script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/	
	           
	           
	jQuery(document).ready(function($)
	{
		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			aLengthactivity: [
				[10, 25, 50, 100], [10, 25, 50, 100]
			],
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/banner_list",//通过ajax实现分页的url路径。
            fnServerParams : function(aData){
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
            order: [[ 6, "desc" ]],
            columnDefs: [
				{	
					targets: 0,
				    data: "id",
				    width:"5%",
				    orderable: false,
				    className: 'select-checkbox',
				    title: '<input type="checkbox" id="checkbox-all"/>',
				    render: function ( data, type, full, meta ) {
				    	return '<input type="checkbox" name="activityId" value="'+data+'" />';  
				    }
				},
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
               		targets: 2,
	                data: "banner",
	                title: "封面图片",
                    render: function (data, type, row, meta) {
                    	return "<img src="+data+"></img>";
                    }
            	},
				{
					targets: 3,
					data: "type",
					title: "类型"
				},
                {
               		targets: 4,
	                data: "brandId",
	                title: "品牌ID"
            	},
            	{
               		targets: 5,
	                data: "goodsId",
	                title: "商品ID"
            	}, 
            	
            	{
               		targets: 6,
	                data: "url",
	                title: "地址"
            	},
            	{
               		targets: 7,
	                data: "beginTime",
	                title: "开始时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
            	},
            	{
               		targets: 8,
	                data: "endTime",
	                title: "截止时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
            	},
				{
					targets: 9,
					data: "status",
					title: "是否上架",
					render: function (data, type, row, meta) {
						return "1"==data?"已上架":"<font color='blue'>未上架</font>";
					}
				},
            	{
               		targets: 10,
	                data: "sort",
	                title: "排序"
            	},
                {
                    targets: 11,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
				{
					targets: 12,
					data: "remark",
					title: "备注"
				}
               ]
		});
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});
		
		 $('#example-1').on('click',"#checkbox-all",function() {  
			var obj = $(this);
			$("input[name='activityId']").each(function(i,e){
				 this.checked = obj[0].checked;
			});
		})
			 
			
			
			$(".btn.btn-info.add").click(function(){
				var form = $("#saveForm");
				form.find("input").val("");
				form.find("img").attr("src","");
				form.find("img").hide();
				form.find("input[type='file']").show();
				form.find(".btn.btn-info.modify").text("更换");
				form.find(".btn.btn-info.modify").hide();
				$(".imageShow").remove();
				//添加默认值
				form.find("input[name='winNum']").val("2");
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
				
			});
		 
		 
			 function upload(param,token,file,next, error, complete){
			    if(file==''){
			    	complete('');
			    	
			    }else{
					var filename = file.name;
				    var postf = filename.substring(filename.lastIndexOf("."));
				    
				    var config = {
				    		  useCdnDomain: true,
				    		  region: qiniu.region.z0
				    		};
				    var putExtra = {
				    		  fname: "",
				    		  params: {"x:param":param},
				    		  mimeType: ["image/png", "image/jpeg", "image/gif"] || null
				    		};
				    var observable = qiniu.upload(file, "image/wx/"+UUID.randomUUID()+postf, token,
				    		putExtra, config);
					var subscription = observable.subscribe(next, error, complete);
			    }
				
			 };
			 
			 var qiniuUrl = [[${qiniuUrl}]];
			//保存
			$(".btn.btn-info.save").click(function(){
				var footer = $(this).parent(".modal-footer")
				footer.find("button").hide();
				footer.find(".bg-lg").show();
				var form = $("#saveForm");
				var remark = form.find("input[name='remark']").val();
				var url = form.find("input[name='url']").val();
				var goods_id = form.find("input[name='goods_id']").val();
				var brand_id = form.find("input[name='brand_id']").val();
				var daterange = $("#daterange").val();
				//文件
				var imageVal = form.find("input[name='imageFile']")[0].value;
				
				//已上传的图片地址
				var imageVals = form.find("input[name='image']").val();
				
				
				
				if(remark=='' ||url=='' ||goods_id=='' ||brand_id =='' ||daterange==''||
					(imageVal=='' && imageVals=='')){
					toastr.error("请填写完整数据后提交", "温馨提示");
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					return ;
				}
				
				if(daterange.indexOf(' - ')!=19 || daterange.length!=41){
					toastr.error("请输入正确的起止时间", "温馨提示");
					footer.find("button").show();
					footer.find(".bg-lg").hide();
				}
				
				
				
				var dates = daterange.split(' - ');
				form.find("input[name='beginTime']").val(dates[0]);
				form.find("input[name='endTime']").val(dates[1]);
				
				var imageFile = '';
				//上传文件获得文件地址
				if(imageVal!=''){
					imageFile = form.find("input[name='imageFile']")[0].files[0];
					if(imageFile!='' && imageFile.size/1024>500){
						toastr.error("封面图片大小超过500K,请压缩处理后上传", "温馨提示");
						footer.find("button").show();
						footer.find(".bg-lg").hide();
						return ;
					}
				}
				
				//获取token
				$.get("/qiniu/token",{},function(token){
					if(token !=''){
						upload("image",token,imageFile,function(res){},function(err){
							console.log("上传imageFile异常:"+err);
						},function(res){
							//上传成功
							console.log(res);
							if(res!=''){
								form.find("input[name='"+res.param+"']").val(qiniuUrl+"/"+res.key);
							}
							//提交保存
							$.post("/banner_save",$("#saveForm").serialize(),function(data){
								if(data){
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									oTable.fnDraw();
								}else{
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
								}
							});
						});
						
					}else{
						footer.find("button").show();
						footer.find(".bg-lg").hide();
						toastr.error("上传文件错误，请联系管理员", "温馨提示");
					}
				});
			});
			
			$(".btn.btn-info.edit").click(function(){
				
				$(".imageShow").remove();
				$("#saveForm").find("input").val("");
				
				var activityId = $("input[name='activityId']:checked");
				if(activityId.length!=1){
					toastr.error("请选择一条数据操作", "温馨提示");
					return ;
				}
				
				
				$.post("/activitys-one",{id:activityId.val()},function(data){
					var form = $("#saveForm");
					
					form.find("input[name='id']").val(data.id);
					form.find("input[name='name']").val(data.name);
					form.find("input[name='productDesc']").val(data.productDesc);
					form.find("input[name='specification']").val(data.specification);
					form.find("input[name='shareTitle']").val(data.shareTitle);
					form.find("input[name='shareDesc']").val(data.shareDesc);
					form.find("input[name='winNum']").val(data.winNum);
					form.find("input[name='joinNum']").val(data.joinNum);
					
					var beginTimeStr = new Date(data.beginTime).Format('yyyy-MM-dd hh:mm:ss');
					var endTimeStr = new Date(data.endTime).Format('yyyy-MM-dd hh:mm:ss');
					$("#daterange").val(beginTimeStr+' - '+endTimeStr);
					form.find("input[name='beginTime']").val(beginTimeStr);
					form.find("input[name='endTime']").val(endTimeStr);
					
					form.find("input[name='image']").val(data.image);
					
					if(''!=data.image){
						form.find("input[name='imageFile']").hide();
						form.find("img[name='imageImage']").attr("src",data.image);
						form.find("img[name='imageImage']").show();
						form.find(".btn.image").show();
						
					}
					
					$.get("/activitys-images",{id:data.id},function(data){
						$.each(data,function(i,e){
							var	type = e.type;
							var url = e.imageUrl;
							if(type=='0'){
								//展示banner图
								form.find("input[name='bannerFile']").remove();
								form.find(".btn.btn-info.appendBanner").after("<div class='imageShow'><img src='"+url+"'></img><button class='btn btn-info' activityImageId="+e.id+">删除</button></div>")
							}else if(type=='1'){
								//展示详情图
								form.find("input[name='detailFile']").remove();
								form.find(".btn.btn-info.appendDetail").after("<div class='imageShow'><img src='"+url+"'></img><button class='btn btn-info' activityImageId="+e.id+">删除</button></div>")
							}
							
						});
						
					});
					
					
					jQuery('#modal-6').modal('show', {backdrop: 'fade'});
					
				});
				
				
			});
			
			$("body").on("click",".imageShow button",function(){
				var imageShow = $(this).parent(".imageShow");
				var  activityImageId = $(this).attr("activityImageId");
				$.post("/activitys-images-delete",{activityImageId:activityImageId},function(data){
					if(data){
						imageShow.remove();
					}
				});
				return false;
			});
			
			
			$(".btn.btn-info.modify").click(function(){
				var that = $(this);
				var text = that.text();
				var formGroup = that.parent(".form-group");
				formGroup.find("img").hide();
				formGroup.find("input[type='file']").show();
				that.hide();
				return false;
			});
			
			//活动规则
			$(".btn.btn-info.joinNum").click(function(){
				var activityId = $("input[name='activityId']:checked");
				if(activityId.length!=1){
					toastr.error("请选择一条数据操作", "温馨提示");
					return ;
				}
				
				activityId = activityId[0].value;
				
				var form = $("#joinNumForm");
				form.find("input[name='id']").val(activityId);
				
				$.post("/activitys-one",{id:activityId},function(data){
					form.find("input[name='joinNum']").val(data.joinNum);
				}); 
				
				jQuery('#modal-joinNum').modal('show', {backdrop: 'fade'});
			});
			
			$(".btn.btn-info.saveJoinNum").click(function(){
				
				var form = $("#joinNumForm");
				var activityId = form.find("input[name='id']").val();
				
				var content = form.find("input[name='joinNum']").val();
				if(content=='' || content=='0'){
					toastr.error("参与人数不能为空或0", "温馨提示");
					return ;
				}
				var ids = new Array();
				ids.push(activityId);
				
				$.post("/activitys-update",{ids:ids,joinNum:content},function(data){
					if(data){
						jQuery('#modal-joinNum').modal('hide');
						toastr.success("操作已成功！", "温馨提示");
						oTable.fnDraw();
					}
				})
				
			});
			
			$(".btn.btn-info.updateStatus").click(function(){
				var activityId = $("input[name='activityId']:checked");
				if(activityId.length < 1){
					toastr.error("请至少选择一条数据操作", "温馨提示");
					return ;
				}
				
				var ids = new Array();
				activityId.each(function(i,e){
					ids.push(e.value);
				});
				
				
				var value = $(this).text()=='上架'?'1':'0';
				
				$.post("/activitys-update",{ids:ids,status:value},function(data){
					if(data){
						toastr.success("操作已成功！", "温馨提示");
						oTable.fnDraw();
					}
				})
			});
			
			
			$(".btn.btn-info.appendBanner").click(function(){
				var that = $(this);
				that.after('<input type="file" class="form-control" name="bannerFile" placeholder="轮播图片"/>') 
				return false;
				
			});
			
			$(".btn.btn-info.appendDetail").click(function(){
				var that = $(this);
				that.after('<input type="file" class="form-control" name="detailFile" placeholder="详情图片"/>') 
				return false;
				
			});
			
			
		
	});
	/*]]>*/
	</script>
</body>

</html>
