<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>小程序品牌管理</title>
	<link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img{
			max-width:400px;
			max-height:300px;
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">小程序品牌管理</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="name" class="form-control" style="height:35px"
											   placeholder="品牌名"/>
									</div>
									<div class="input-group">
										<select name="type" class="form-control" style="height:35px">
											<option value="" selected="selected">全部</option>
											<option value="1">国际品牌</option>
											<option value="0">国内品牌</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped" style="width: 100%;">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button class="btn btn-info add">推荐至小程序</button>
							<button class="btn btn-info list">小程序首页推荐列表</button>
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<div id="preview" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel2">查看详情</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body" id="preview_body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary float-right" id="savePin">保存</button>
				<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" id="modal-6">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">添加推荐理由</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form role="form" id="saveForm">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">推荐理由</label>
								<textarea class="form-control" name="reason" placeholder="推荐理由"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-info save">保存</button>
				<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script src="js/common.js"></script>
<script src="assets/js/async.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	function buildImg(url, h, w) {
		if (url == null || url == '') {
			return "";
		} else {
			if (h != null && w != null) {
				return "<img width='WWWpx' height='HHHpx' src='#' />".replace("#", url).replace("WWW", w).replace("HHH", h);
			} else {
				return "<img width='375px' height='223px' src='#' />".replace("#", url);
			}
		}
	}

	function appendToPreview(key, value) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				key +
				'</div>' +
				'<div class="col-md-10">' +
				value +
				'</div>' +
				'</div>';
	}

	function appendToPreviewList(one, two, three, four, five, six) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				one +
				'</div>' +
				'<div class="col-md-2">' +
				two +
				'</div>' +
				'<div class="col-md-2">' +
				three +
				'</div>' +
				'<div class="col-md-2">' +
				four +
				'</div>' +
				'<div class="col-md-2">' +
				five +
				'</div>' +
				'<div class="col-md-2">' +
				six +
				'</div>' +
				'</div>';
	}

	function delNode(self) {
		var that = $(self);
		var div = that.parent().parent();
		//save the id to del
		idsDel.push(div.find("input[name='id']").val());
		div.remove();
	}

	var idsDel = [];

	function listIt(data) {
		idsDel = [];
		var preview = $("#preview_body");
		var contentStr = "";
		var mainObj = data;
		var val = "<input type='button' name='delete' value='删除' onclick='delNode(this)' />";
		for (var i in mainObj) {
			var item = mainObj[i];
			var imgUrl = item["image"];
			var idHidden = "<input type='hidden' name='id' value='VALUE' />".replace("VALUE", item["id"]);
			var imgHidden = "<input type='hidden' name='image' value='VALUE' />".replace("VALUE", imgUrl == null ? "NONE" : imgUrl);
			var nameHidden = "<input type='hidden' name='name' value='VALUE' />".replace("VALUE", item["name"]);
			var reasonHidden = "<input type='hidden' name='reason' value='VALUE' />".replace("VALUE", item["reason"]);
			var delButton = val;
			contentStr += appendToPreviewList(item["id"], item["name"], buildImg(imgUrl, 100, 100), item["reason"], delButton, idHidden + imgHidden + nameHidden + reasonHidden);
		}
		preview.html(contentStr);
		preview.sortable();
		preview.disableSelection();
		var submit = $("#savePin");
		submit.show();
		submit.off("click");
		submit.click(function () {
			var id = preview.find("input[name='id']");
			var image = preview.find("input[name='image']");
			var name = preview.find("input[name='name']");
			var reason = preview.find("input[name='reason']");
			var ids = [];
			id.each(function (i, e) {
				ids.push(e.value);
			});
			var images = [];
			image.each(function (i, e) {
				images.push(e.value);
			});
			var names = [];
			name.each(function (i, e) {
				names.push(e.value);
			});
			var reasons = [];
			reason.each(function (i, e) {
				reasons.push(e.value);
			});
			$.post("/brand_pin_mini_save", {
				"ids": ids,
				"images": images,
				"names": names,
				"reasons": reasons,
				"idsDel": idsDel
			}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					table_global.fnDraw();
				}
			});
		});
		jQuery('#preview').modal('show', {backdrop: 'fade'});
	}

	var table_global;
	var qiniuUrl = [[${qiniuUrl}]];
	jQuery(document).ready(function($)
	{
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp : "aData",//是服务器分页的标志，必须有
			sAjaxSource : "/brand_mini_list",//通过ajax实现分页的url路径。
			fnServerParams : function(aData){
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
					render: function (data, type, full, meta) {
						var uuid = UUID.randomUUID();
						return '<div class="checkbox"><input type="checkbox" name="activityId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "name",
					title: "品牌名称"
				},
				{
					targets: 3,
					data: "logo",
					title: "品牌LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 4,
					data: "logoBig",
					title: "品牌LOGO(大)",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 5,
					data: "type",
					title: "类型",
					render: function (data, type, row, meta) {
						return data == "0" ? "国内品牌" : "国际品牌";
					}
				},
				{
					targets: 6,
					data: "isRecommendMini",
					title: "是否推荐",
					render: function (data, type, row, meta) {
						return (data == "0" || data == undefined) ? "未推荐" : "已推荐";
					}
				}
			]
		});

		table_global = oTable;

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()
			return false;
		});

		$('#example-1').on('click', "#checkbox-all", function () {
			var obj = $(this);
			$("input[name='activityId']").each(function (i, e) {
				this.checked = obj[0].checked;
			});
		});

		$(".btn.btn-info.add").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			var form = $("#saveForm");
			form.find("textarea").val("");
			jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
		});

		//保存
		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			var reason = form.find("textarea[name='reason']").val();

			if (reason == '') {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}
			//提交保存
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/brand_pin_mini", {"ids": ids, "reason": reason}, function (data) {
				if (data) {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					jQuery('#modal-6').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("操作失败", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.list").click(function () {
			$.post("/brand_pin_mini_list", {}, function (data) {
				if (data) {
					listIt(data);
				}
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>