<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>品牌管理</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">品牌管理</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>品牌管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="name" class="form-control" style="height:35px" placeholder="品牌名"/>
							</div>
							<div class="input-group">
								<select name="type" class="form-control" style="height:35px">
									<option value="" selected="selected">全部</option>
									<option value="1">国际品牌</option>
									<option value="0">国内品牌</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
						
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
                <button class="btn btn-info add">添加</button>
                <button class="btn btn-info edit">修改</button>
                <button class="btn btn-info del">删除</button>
                <button class="btn btn-info pinToLogo">推荐至首页LOGO</button>
                <button class="btn btn-info pinToBanner">推荐至首页Banner</button>
                <button class="btn btn-info pinLogoList">首页LOGO推荐列表</button>
                <button class="btn btn-info pinBannerList">首页Banner推荐列表</button>
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">添加品牌</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
<!--
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-3" class="control-label">品牌编码</label>
								<input type="text" class="form-control" name="code" placeholder="品牌编码"/>
							</div>
						</div>
					</div>
-->
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">品牌名称</label>
								<input type="text" class="form-control" name="name" placeholder="品牌名称"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">品牌LOGO</label>
								<input type="file" class="form-control" name="logoFile" placeholder="品牌LOGO"/>
								<input type="hidden" class="form-control" name="logo" />
								<img alt="" src="" name="logoImg" style="display:none;"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">品牌LOGO(大)</label>
								<input type="file" class="form-control" name="logoBigFile" placeholder="品牌LOGO(大)"/>
								<input type="hidden" class="form-control" name="logoBig" />
								<img alt="" src="" name="logoBigImg" style="display:none;"/>
							</div>
						</div>
					</div>
<!--					<div class="row">-->
<!--						<div class="col-md-12">-->
<!--							<div class="form-group">-->
<!--								<label class="control-label">品牌LOGO(推荐到首页)</label>-->
<!--								<input type="file" class="form-control" name="logoIndexFile" placeholder="品牌LOGO(推荐到首页)"/>-->
<!--								<input type="hidden" class="form-control" name="logoIndex" />-->
<!--								<img alt="" src="" name="logoIndexImg" style="display:none;"/>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">品牌banner</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="品牌banner"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;"/>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">类型</label>
								<label><input name="type" class="notMe" type="radio" value="0" checked="checked" />国内品牌 </label>
								<label><input name="type" class="notMe" type="radio" value="1" />国际品牌</label>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group" id="bannerBig" style="display: none;">
								<label class="control-label">品牌banner(高街潮流推荐)</label>
								<input type="file" class="form-control" name="bannerBigFile" placeholder="品牌banner(高街潮流推荐)"/>
								<input type="hidden" class="form-control" name="bannerBig" />
								<img alt="" src="" name="bannerBigImg" style="display:none;"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">简介</label>
								<input type="text" class="form-control" name="info" placeholder="简介"/>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">背景图</label>
								<input type="file" class="form-control" name="backgroundFile" placeholder="背景图"/>
								<input type="hidden" class="form-control" name="background" />
								<img alt="" src="" name="backgroundImg" style="display:none;"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">备注</label>
								<input type="text" class="form-control" name="remark" placeholder="备注"/>
							</div>
						</div>
					</div>
<!--
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-4" class="control-label">排序</label>
                                <input type="number" class="form-control" name="sort" value="0" placeholder="排序(数值越小越靠前)"/>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">添加标签</label>
								<input type="text" class="form-control" name="tag" placeholder="添加标签,逗号隔开"/>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-4" class="control-label">详情图</label>
								<input type="file" class="form-control" name="detailImageFile" placeholder="详情图"/>
								<input type="button" value="添加" onclick="addMoreImg(this)"/>
								<input type="hidden" class="form-control" name="imagesJSONStr" value="" />
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
                            <div class="form-group">
                                <label for="field-4" class="control-label">填写商品ID</label>
                                <input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>
                                <input type="button" value="添加" onclick="addMoreText(this)"/>
                                <input type="hidden" class="form-control" name="goodsIDStr" value="" />
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">默认点赞数量</label>
								<input type="number" class="form-control" name="praiseCount" placeholder="默认点赞数量"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">默认浏览数量</label>
								<input type="number" class="form-control" name="viewCount" placeholder="默认浏览数量"/>
							</div>
						</div>
					</div>
-->
					</form>
				</div>
				
				<div class="modal-footer">
					 <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">查看详情</h4>
				</div>

				<div class="modal-body" id="preview_body"></div>

				<div class="modal-footer">
                    <button type="button" class="btn btn-white save" id="savePin" data-dismiss="modal">保存</button>
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<script src="js/common.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url, h, w) {
        if (url == null || url == '') {
            return "";
        } else {
            if (h != null && w != null) {
                return "<img width='WWWpx' height='HHHpx' src='#' />".replace("#", url).replace("WWW", w).replace("HHH", h);
            } else {
                return "<img width='375px' height='223px' src='#' />".replace("#", url);
            }ƒ
        }
    }

	function appendToPreview(key, value) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				key +
				'</div>' +
				'<div class="col-md-10">' +
				value +
				'</div>' +
				'</div>';
	}

    function appendToPreviewList(one, two, three, four, five, six) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            one +
            '</div>' +
            '<div class="col-md-2">' +
            two +
            '</div>' +
            '<div class="col-md-2">' +
            three +
            '</div>' +
            '<div class="col-md-2">' +
            four +
            '</div>' +
            '<div class="col-md-2">' +
            five +
            '</div>' +
            '<div class="col-md-2">' +
            six +
            '</div>' +
            '</div>';
    }

    function checkIt(id) {
        $.post("/brand_get", {"id": id}, function (data) {
            if (data) {
                var preview = $("#preview_body");
                var contentStr = "";
                var mainObj = data;
                contentStr += appendToPreview("编号:", mainObj["id"]);
                contentStr += appendToPreview("品牌名称:", mainObj["name"]);
                contentStr += appendToPreview("简介:", mainObj["info"]);
                contentStr += appendToPreview("类型[0-国内品牌，1-国际品牌]:", mainObj["type"]);
                contentStr += appendToPreview("是否推荐[0-否，1-是]:", mainObj["isRecommend"]);
                contentStr += appendToPreview("品牌LOGO:", buildImg(mainObj["logo"]));
                contentStr += appendToPreview("品牌LOGO(大):", buildImg(mainObj["logoBig"]));
                contentStr += appendToPreview("品牌banner:", buildImg(mainObj["banner"]));
                contentStr += appendToPreview("背景图:", buildImg(mainObj["background"]));
                contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
                contentStr += appendToPreview("备注:", mainObj["remark"]);
                contentStr += appendToPreview("排序:", mainObj["sort"]);
                contentStr += "<hr/>";
                preview.html(contentStr);
                $("#savePin").hide();
                jQuery('#preview').modal('show', {backdrop: 'fade'});
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function delNode(self) {
        var that = $(self);
        that.parent().parent().remove();
    }

    function listIt(data, isLogo) {
        var preview = $("#preview_body");
        var contentStr = "";
        var mainObj = data;
        for (var i in mainObj) {
            var item = mainObj[i];
            var imgUrl = isLogo ? item["bannerBig"] : item["bannerBig"];
            var idHidden = "<input type='hidden' name='id' value='VALUE' />".replace("VALUE", item["id"]);
            var imgHidden = "<input type='hidden' name='image' value='VALUE' />".replace("VALUE", imgUrl == null ? "NONE" : imgUrl);
            var delButton = "<input type='button' name='delete' value='删除' onclick='delNode(this)' />";
            contentStr += appendToPreviewList(item["id"], item["name"], buildImg(item["logo"], 100, 100), buildImg(imgUrl, 100, 100), delButton, idHidden + imgHidden);
        }
        preview.html(contentStr);
		preview.sortable();
		preview.disableSelection();
        var submit = $("#savePin");
        submit.show();
        submit.off("click");
        submit.click(function () {
            var id = preview.find("input[name='id']");
            var image = preview.find("input[name='image']");
            var ids = [];
            id.each(function (i, e) {
                ids.push(e.value);
            });
            var images = [];
            image.each(function (i, e) {
                images.push(e.value);
            });
            $.post("/brand_pin_save", {"ids": ids, "images": images, "isLogo": isLogo}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });
        jQuery('#preview').modal('show', {backdrop: 'fade'});
        toastr.success("操作已成功！", "温馨提示");
    }

	var table_global;

    function toggleTopIt(id) {
        $.post("/brand_toggleTop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

	function topIt(id) {
		var num = prompt("输入置顶位置,从0开始,0为第一位", "0");
		if (isNaN(num) || num == null) {
			alert("请输入数字！");
		} else {
			$.post("/brand_top", {"id": id, "sort": num}, function (data) {
				if (data) {
					table_global.fnDraw();
					toastr.success("操作已成功！", "温馨提示");
				} else {
					toastr.error("操作失败", "温馨提示");
				}
			});
		}
	}

    function unTopIt(id) {
        $.post("/brand_untop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function checkImg(list) {
        var returnList = {};
        for (var i in list) {
            i = list[i];
            var v = i[0];
            var name = i[1];
            var form = $("#saveForm");
            var footer = $(this).parent(".modal-footer");
            var imageFile = '';
            //上传文件获得文件地址
            if (v != '') {
                imageFile = form.find("input[name='" + name + "File']")[0].files[0];
                returnList[name] = imageFile;
            }
        }
        return returnList;
    }

    jQuery(document).ready(function($)
	{
		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			aLengthactivity: [
				[10, 25, 50, 100], [10, 25, 50, 100]
			],
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/brand_list",//通过ajax实现分页的url路径。
            fnServerParams : function(aData){
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
            order: [[ 6, "desc" ]],
            columnDefs: [
				{	
					targets: 0,
				    data: "id",
				    width:"5%",
				    orderable: false,
				    className: 'select-checkbox',
				    title: '<input type="checkbox" id="checkbox-all"/>',
				    render: function ( data, type, full, meta ) {
				    	return '<input type="checkbox" name="activityId" value="'+data+'" />';  
				    }
				},
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
               		targets: 2,
	                data: "code",
	                title: "品牌编码"
            	},
				{
					targets: 3,
					data: "name",
					title: "品牌名称"
				},
				{
					targets: 4,
					data: "logo",
					title: "品牌LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 5,
					data: "logoBig",
					title: "品牌LOGO(大)",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 6,
					data: "banner",
					title: "品牌banner",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 7,
					data: "bannerBig",
					title: "品牌banner(高街潮流推荐)",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 8,
					data: "type",
					title: "类型",
					render: function (data, type, row, meta) {
						return data == "0" ? "国内品牌" : "国际品牌";
					}
				},
                {
                    targets: 9,
                    data: "info",
                    title: "简介",
                    render: function (data, type, row, meta) {
                        data = String(data);
                        return data.length > 10 ? data.substr(0, 9) + "...." : data;
                    }
                },
                {
                    targets: 10,
                    data: "background",
                    title: "背景图",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
                },
                {
                    targets: 11,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
				{
					targets: 12,
					data: "remark",
					title: "备注"
				},
                {
                    targets: 13,
                    data: "isRecommend",
                    title: "是否推荐",
                    render: function (data, type, row, meta) {
                        return (data == "0" || data == undefined) ? "否" : "是";
                    }
                },
                {
                    targets: 14,
                    data: "sort",
                    title: "排序"
                },
                {
                    targets: 15,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        return '<input type="button" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>';
                    }
                },
				{
					targets: 16,
					data: "id",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						var recommendStr = full["type"] == "0" ? "中国力量" : "高街潮流";
						var textStr = full["isRecommend"] == "1" ? "取消" + recommendStr + "推荐" : "推荐到" + recommendStr;
						return '<input type="button" name="topIt" onclick="toggleTopIt(' + data + ')" value="' + textStr + '"/>';
					}
				},
                {
                    targets: 17,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        if (full["isRecommend"] == '1') {
                            return '<input type="button" name="topIt" onclick="topIt(' + data + ')" value="置顶"/>';
                        } else {
                            return '<input type="button" name="topIt" disabled="disabled" onclick="#" value="非推荐无法置顶"/>';
                        }
                    }
                }
               ]
		});

		table_global = oTable;

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='activityId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });

		$(".btn.btn-info.add").click(function () {
			var form = $("#saveForm");
			form.find("input:not(.notMe)").val("");
			form.find("img").attr("src", "");
			form.find("img").hide();
			form.find("input[type='file']").show();
			form.find("input[type='radio']").val(["0"]);
			toggle("0");
			$(".imageShow").remove();
			jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
		});

		$('[name="type"]').click(function () {
			var value = $(this).val();  //获取选中的radio的值
			toggle(value);
		});

		function toggle(value) {
			var theId = $("#bannerBig");
			switch (parseInt(value)) {
				case 1:
					theId.show();
					break;
				default:
					theId.hide();
					break;
			}
		}
			 
		var qiniuUrl = [[${qiniuUrl}]];

		//保存
		$(".btn.btn-info.save").click(function(){
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			// var code = form.find("input[name='code']").val();
			var name = form.find("input[name='name']").val();
			var type = form.find("input[name='type']").val();
			var info = form.find("input[name='info']").val();
			//文件
			var logoFile = form.find("input[name='logoFile']").val();
			var logoBigFile = form.find("input[name='logoBigFile']").val();
			var bannerFile = form.find("input[name='bannerFile']").val();
			var bannerBigFile = form.find("input[name='bannerBigFile']").val();
			var backgroundFile = form.find("input[name='backgroundFile']").val();
			//已上传的图片地址
			var logo = form.find("input[name='logo']").val();
			var logoBig = form.find("input[name='logoBig']").val();
			var banner = form.find("input[name='banner']").val();
			var bannerBig = form.find("input[name='bannerBig']").val();
			var background = form.find("input[name='background']").val();

            if (name == '' || type == '' || info == '' || (logo == '' && logoFile == '') || (logoBig == '' && logoBigFile == '')) {
                toastr.error("请填写完整数据后提交", "温馨提示");
                footer.find("button").show();
                footer.find(".bg-lg").hide();
                return;
            }

            var isOK = checkImg([[logoFile, "logo"], [logoBigFile, "logoBig"], [bannerFile, "banner"], [bannerBigFile, "bannerBig"], [backgroundFile, "background"]]);
            if (typeof isOK == 'boolean') {
                return;
            }

			//获取token
			$.get("/qiniu/token",{},function(token){
				if(token !=''){
					async.series({
						one: function(callback) {
							if(typeof isOK == 'object'){
								callback();
							}else {
								callback("ERROR");
							}
						},
						two: function(callback){
							//上传详情图
							async.eachSeries(Object.keys(isOK), function (item, cb) {
								var f = isOK[item];
								upload(item, token, f, function () {
									//
								}, function (err) {
									console.log("上传imageFile异常:" + err);
									cb(err);
								}, function (res) {
									//上传成功
									if (res != '') {
										var url = qiniuUrl + "/" + res.key;
										form.find("input[name='" + res.param + "']").val(url);
									}
									cb();
								});
							}, function () {
								callback();
							});
						},
						three: function(callback){
							//提交保存
							$.post("/brand_save",$("#saveForm").serialize(),function(data){
								if(data){
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									oTable.fnDraw();
								}else{
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
								}
								callback();
							});
						}
					}, function(err, results) {
						console.log("OK");
					});
				}else{
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("上传文件错误，请联系管理员", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function(){
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}

			$.post("/brand_get", {id: activityId.val()}, function (data) {
				var form = $("#saveForm");
				form.find("input:not(.notMe)").val("");
				for (var i in data) {
					var ele = form.find("input[name='" + i + "']");
					switch (ele.attr("type")) {
						case "radio":
							ele.val([data[i]]);
							toggle(data[i]);
							break;
						default:
							ele.val(data[i]);
					}
					form.find("img[name='" + i + "Img']").attr("src", data[i]);
					form.find("img[name='" + i + "Img']").show();
				}
				form.find(".btn.image").show();
				jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
			});
		});

		$(".btn.btn-info.del").click(function(){
			var activityId = $("input[name='activityId']:checked");
			if(activityId.length < 1){
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return ;
			}
			var confirm = window.confirm("你确定要这么做？");
			if (confirm == false) {
				return;
			}
			var ids = [];
			activityId.each(function(i,e){
				ids.push(e.value);
			});

			$.post("/brand_del",{ids:ids},function(data){
				if(data){
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			});
		});

		$(".btn.btn-info.pinToLogo").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/brand_pin", {"ids": ids, "to": "logo"}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.pinToBanner").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/brand_pin", {"ids": ids, "to": "banner"}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
				}
			});
		});

        $(".btn.btn-info.pinLogoList").click(function () {
            $.post("/brand_pin_list", {"to": "logo"}, function (data) {
                if (data) {
                    listIt(data, true);
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.pinBannerList").click(function () {
            $.post("/brand_pin_list", {"to": "banner"}, function (data) {
                if (data) {
                    listIt(data, false);
                    toastr.success("操作已成功！", "温馨提示");
                }
            });
        });

        $(".btn.btn-info.up").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_up",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_down",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
	});
	/*]]>*/
	</script>
</body>

</html>
