<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>渠道财务报表</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img{
			max-width:400px;
			max-height:300px;
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">渠道财务报表</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<label for="channel" class="control-label">渠道</label>
									</div>
									<div class="input-group">
										<select id="channel" name="channel" class="form-control" style="height:35px">
											<option th:each="channel : ${channels}" th:text="${channel.channelName}" th:value="${channel.channel}"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped" style="width: 100%;">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<script th:inline="javascript">
	/*<![CDATA[*/

	function formatTime(time) {
		return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
	}

	function buildImg(url) {
		return "<img width='100px' height='100px' src='#' />".replace("#", url);
	}

	function checkItsList(id) {
		window.location.href = '/order.html?channel=' + id;
	}

	var table_global;
	var qiniuUrl = [[${qiniuUrl}]];
	jQuery(document).ready(function($)
	{
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/channel_settle_list",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
					render: function (data, type, full, meta) {
						var uuid = UUID.randomUUID();
						return '<div class="checkbox"><input type="checkbox" name="activityId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "channelName",
					title: "渠道名称"
				},
				{
					targets: 3,
					data: "userId",
					title: "渠道用户id"
				},
				{
					targets: 4,
					orderable: false,
					data: "userHeadimgurl",
					title: "用户头像",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 5,
					data: "userPhone",
					title: "渠道用户手机号"
				},
				{
					targets: 6,
					data: "userCount",
					title: "渠道注册用户数"
				},
				{
					targets: 7,
					data: "totalPrice",
					title: "订单成交总金额"
				},
				{
					targets: 8,
					data: "totalCount",
					title: "订单成交总笔数"
				},
				{
					targets: 9,
					data: "proportion",
					title: "提成比例"
				},
				{
					targets: 10,
					data: "backAmount",
					title: "应结金额"
				},
				{
					targets: 11,
					data: "channel",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						return '<input type="button" name="checkIt" onclick="checkItsList(\'AAAA\')" value="查看详细对账"/>'.replace("AAAA", data);
					}
				}
			]
		});

		table_global = oTable;

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()
			return false;
		});

		$('#example-1').on('click', "#checkbox-all", function () {
			var obj = $(this);
			$("input[name='activityId']").each(function (i, e) {
				this.checked = obj[0].checked;
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>