<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>优惠券管理</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">优惠券管理</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>优惠券管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
								<label for="merchantId" class="control-label">商户</label>
								<select id="merchantId" name="merchantId" class="form-control" style="height:35px">
								</select>
							</div>
							<div class="input-group">
								<label for="name" class="control-label">名称</label>
								<input id="name" type="text" name="name" class="form-control" style="height:35px" placeholder="名称"/>
							</div>
							<div class="input-group">
								<label for="beginTime" class="control-label">开始时间</label>
								<input id="beginTime" type="text" name="beginTime" class="form-control" style="height:35px" placeholder="开始时间"/>
							</div>
							<div class="input-group">
								<label for="endTime" class="control-label">结束时间</label>
								<input id="endTime" type="text" name="endTime" class="form-control" style="height:35px" placeholder="结束时间"/>
							</div>
							<div class="input-group">
								<label for="remark" class="control-label">备注</label>
								<input id="remark" type="text" name="remark" class="form-control" style="height:35px" placeholder="备注"/>
							</div>
							<div class="input-group">
								<label for="type" class="control-label">优惠券类型</label>
								<select id="type" name="type" class="form-control" style="height:35px">
									<option value="" selected="selected">全部</option>
									<option value="0">平台券</option>
									<option value="1">店铺券</option>
								</select>
							</div>
<!--
							<div class="input-group">
								<label for="status" class="control-label">状态</label>
								<select id="status" name="status" class="form-control" style="height:35px">
									<option value="" selected="selected">全部</option>
									<option value="0">已下单</option>
									<option value="1">已付款</option>
									<option value="2">已发货</option>
									<option value="3">已收货</option>
									<option value="4">取消</option>
								</select>
							</div>
-->
						</div>
						<div class="form-group">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
				</div>
				<button class="btn btn-info add">添加</button>
				<button class="btn btn-info edit">修改</button>
				<button class="btn btn-info del">删除</button>
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">添加优惠券</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
						<input type="hidden" name="id"/>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">优惠券类型</label>
									<select class="form-control" name="type" onchange="toggleMerchant(this)">
										<option value="0">平台券</option>
                                        <option value="1">店铺券</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">名称</label>
									<input type="text" class="form-control" name="name" placeholder="名称"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="merchantIdAlt" class="control-label">商家</label>
									<select class="form-control" id="merchantIdAlt" name="merchantId">
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">满多少金额可用</label>
									<input type="number" class="form-control" name="usedMinAmount" placeholder="满多少金额可用"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">优惠券金额</label>
									<input type="number" class="form-control" name="amount" placeholder="优惠券金额"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">有效期[单位：天]</label>
									<input type="number" class="form-control" name="validNum" placeholder="有效期[单位：天]"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">开始时间</label>
									<input type="text" id="beginTimeAlt" class="form-control" placeholder="开始时间" data-time-picker="true" data-time-picker-increment="5" data-format="YYYY-MM-DD HH:mm:ss" />
									<input type="hidden" class="form-control" name="beginTime" placeholder="开始时间"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">截止时间</label>
									<input type="text" id="endTimeAlt" class="form-control" placeholder="截止时间" data-time-picker="true" data-time-picker-increment="5" data-format="YYYY-MM-DD HH:mm:ss" />
									<input type="hidden" class="form-control" name="endTime" placeholder="截止时间"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">备注</label>
									<input type="text" class="form-control" name="remark" placeholder="备注"/>
								</div>
							</div>
						</div>
					</form>
				</div>
				
				<div class="modal-footer">
				 	<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">查看详情</h4>
				</div>

				<div class="modal-body" id="preview_body"></div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
	<script src="assets/js/daterangepicker/daterangepicker.js"></script>
	<script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

	function checkImg(list) {
		var returnList = {};
		for (var i in list) {
			i = list[i];
			var v = i[0];
			var name = i[1];
			var form = $("#saveForm");
			var footer = $(this).parent(".modal-footer");
			var imageFile = '';
			//上传文件获得文件地址
			if (v != '') {
				imageFile = form.find("input[name='" + name + "File']")[0].files[0];
				if (imageFile != '' && imageFile.size / 1024 > 1024) {
					toastr.error("封面图片大小超过1M,请压缩处理后上传", "温馨提示");
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					return false;
				} else {
					returnList[name] = imageFile;
				}
			}
		}
		return returnList;
	}

	function appendToPreview(key, value) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				key +
				'</div>' +
				'<div class="col-md-10">' +
				value +
				'</div>' +
				'</div>';
	}

	function checkIt(data) {
		$.post("/coupon_find", {"id": data}, function (data) {
			if (data) {
				var preview = $("#preview_body");
				var contentStr = "";
				var mainObj = data["main"];
				contentStr += appendToPreview("编号:", mainObj["id"]);
				contentStr += appendToPreview("名称:", mainObj["name"]);
				contentStr += appendToPreview("优惠券类型[0-平台券，1-店铺券]:", mainObj["type"]);
				contentStr += appendToPreview("商户ID:", mainObj["merchantId"]);
				contentStr += appendToPreview("满多少金额可用:", mainObj["usedMinAmount"]);
				contentStr += appendToPreview("优惠券金额:", mainObj["amount"]);
				contentStr += appendToPreview("有效期[单位：天]:", mainObj["validNum"]);
				contentStr += appendToPreview("开始时间:", formatTime(mainObj["beginTime"]));
				contentStr += appendToPreview("截止时间:", formatTime(mainObj["endTime"]));
				contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
				contentStr += appendToPreview("备注:", mainObj["remark"]);
				contentStr += "<hr/>";
				for (var a in data["voucherInfoList"]) {
					a = data["voucherInfoList"][a];
					contentStr += appendToPreview("优惠券方案ID:", a["voucherProjectId"]);
					contentStr += appendToPreview("用户ID:", a["userId"]);
					contentStr += appendToPreview("开始时间:", formatTime(a["beginTime"]));
					contentStr += appendToPreview("截止时间:", formatTime(a["endTime"]));
				}
				preview.html(contentStr);
				jQuery('#preview').modal('show', {backdrop: 'fade'});
				toastr.success("操作已成功！", "温馨提示");
			} else {
				toastr.error("操作失败", "温馨提示");
			}
		});
	}

	function goToDetail(id) {
		window.location.href = '/order_detail.html?id=' + id;
	}

	function checkSku(id) {
		window.location.href = '/goods_stock_index.html?id=' + id;
	}

	var table_global;

	function closeOrder(id) {
		$.post("/order_closeOrder", {"id": id}, function (data) {
			if (data) {
				table_global.fnDraw();
				toastr.success("操作已成功！", "温馨提示");
			} else {
				toastr.error("操作失败", "温馨提示");
			}
		});
	}

	function deliverOrder(id) {
		var form = $("#saveForm");
		form.find("input").val("");
		form.find("[name='id']").val(id);
		jQuery('#modal-6').modal('show', {backdrop: 'fade'});
	}

    function trackOrder(id) {
        $.post("/order_trackOrder", {"id": id}, function (data) {
            console.log(data);
            if (data != '') {
                checkIt(JSON.parse(data));
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function bindMerchantSelector(data) {
        var brandStr = "";
        for (var brand in data) {
            brand = data[brand];
            if (parseInt(brand["id"]) == 0) {
                brandStr += '<option value="VALUE" selected=\'selected\'>KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
            } else {
                brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
            }
        }
        $("#merchantId").html(brandStr);
        $("#merchantIdAlt").html(brandStr);
    }

	function toggleMerchant(self) {
		var id = $(self).val();
		var target = $("#merchantIdAlt");
		if (id == '0') {
			target.val("0");
			target.attr("disabled", "disabled");
		} else {
			target.removeAttr("disabled");
		}
	}

    jQuery(document).ready(function($)
	{
        var oTable;
        $.getJSON("/merchant_list_all", {}, function (data) {
            bindMerchantSelector(data);
            oTable = $("#example-1").dataTable({
                language: {
                    url: "../assets/Chinese.txt"
                },
                aLengthactivity: [
                    [10, 25, 50, 100], [10, 25, 50, 100]
                ],
                bFilter: false,
                bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
                sAjaxDataProp: "aData",//是服务器分页的标志，必须有
                sAjaxSource: "/coupon_list",//通过ajax实现分页的url路径。
                fnServerParams: function (aData) {
                    var searchArray = $(".form-inline").serializeArray();
                    $.merge(aData, searchArray);
                },
                order: [[6, "desc"]],
                columnDefs: [
                    {
                        targets: 0,
                        data: "id",
                        width: "5%",
                        orderable: false,
                        className: 'select-checkbox',
                        title: '<input type="checkbox" id="checkbox-all"/>',
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox" name="activityId" value="' + data + '" />';
                        }
                    },
                    {
                        targets: 1,
                        data: "id",
                        title: "序号"
                    },
                    {
                        targets: 2,
                        data: "type",
                        title: "优惠券类型",
                        render: function (data, type, row, meta) {
                            /** 优惠券类型[0-平台券，1-店铺券] **/
                            var map = ["平台券", "店铺券"];
                            return map[parseInt(data)];
                        }
                    },
                    {
                        targets: 3,
                        data: "name",
                        title: "名称"
                    },
                    {
                        targets: 4,
                        data: "merchantId",
                        title: "商户ID"
                    },
                    {
                        targets: 5,
                        data: "usedMinAmount",
                        title: "满多少金额可用"
                    },
                    {
                        targets: 6,
                        data: "amount",
                        title: "优惠券金额"
                    },
                    {
                        targets: 7,
                        data: "validNum",
                        title: "有效期[单位：天]"
                    },
                    {
                        targets: 8,
                        data: "beginTime",
                        title: "开始时间",
                        render: function (data, type, row, meta) {
                            return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                        }
                    },
                    {
                        targets: 9,
                        data: "endTime",
                        title: "截止时间",
                        render: function (data, type, row, meta) {
                            return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                        }
                    },
                    {
                        targets: 10,
                        data: "createTime",
                        title: "创建时间",
                        render: function (data, type, row, meta) {
                            return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                        }
                    },
                    {
                        targets: 11,
                        data: "remark",
                        title: "备注"
                    },
                    {
                        targets: 12,
                        data: "id",
                        orderable: false,
                        title: "操作",
                        render: function (data, type, full, meta) {
                            return '<input type="button" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>';
                        }
                    },
                    {
                        targets: 13,
                        data: "id",
                        orderable: false,
                        title: "操作",
                        render: function (data, type, full, meta) {
                            var str = "";
                            //状态[0-已下单,1-已付款,2-已发货,3-已收货,4-取消] **/
                            var status = parseInt(full["status"]);
                            if (status == 0) {
                                str += '<input type="button" onclick="closeOrder(' + data + ')" value="关闭订单"/>';
                            }
                            if (status == 1) {
                                str += '<input type="button" onclick="deliverOrder(' + data + ')" value="订单发货"/>';
                            }
                            if (status == 2) {
                                str += '<input type="button" onclick="trackOrder(' + data + ')" value="订单跟踪"/>';
                            }
                            return str;
                        }
                    }
                ]
            });
            table_global = oTable;
        });

		$("#beginTimeAlt").daterangepicker({
			singleDatePicker: true,
			timePicker: true,
			showDropdowns: true,
			startDate: moment().startOf('hour'),
			endDate: moment().startOf('hour').add(32, 'hour'),
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss'
			}
		}, function (start, end, label) {
			$("#beginTimeAlt").val(start.format('YYYY-MM-DD HH:mm:ss'));
			$('input[name="beginTime"]').val(start.format('YYYY-MM-DD HH:mm:ss'));
		});

		$("#endTimeAlt").daterangepicker({
			singleDatePicker: true,
			timePicker: true,
			showDropdowns: true,
			startDate: moment().startOf('hour'),
			endDate: moment().startOf('hour').add(32, 'hour'),
			locale: {
				format: 'YYYY-MM-DD HH:mm:ss'
			}
		}, function (start, end, label) {
			$("#endTimeAlt").val(start.format('YYYY-MM-DD HH:mm:ss'));
			$('input[name="endTime"]').val(start.format('YYYY-MM-DD HH:mm:ss'));
		});
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

		$(".btn.btn-info.add").click(function () {
			var form = $("#saveForm");
			form.find("input").val("");
			jQuery('#modal-6').modal('show', {backdrop: 'fade'});
		});

		function getImgSize(file, cb) {
			var f = file;//input.files[0];
			var reader = new FileReader();
			reader.onload = function (e) {
				var data = e.target.result;
				//加载图片获取图片真实宽度和高度
				var image = new Image();
				image.onload = function () {
					var width = image.width;
					var height = image.height;
					cb(width, height);
				};
				image.src = data;
			};
			reader.readAsDataURL(f);
		}

		function upload(param, token, file, next, error, complete) {
			if (file == '') {
				complete('');
			} else {
				getImgSize(file, function (w, h) {
					var filename = file.name;
					var postf = filename.substring(filename.lastIndexOf("."));
					var config = {
						useCdnDomain: true,
						region: qiniu.region.z0
					};
					var putExtra = {
						fname: "",
						params: {"x:param": param},
						mimeType: ["image/png", "image/jpeg", "image/gif"] || null
					};
                    var newFileName = "image/wx/#W#/#H#/" + UUID.randomUUID() + postf;
					newFileName = newFileName.replace("#W#", w).replace("#H#", h);
					var observable = qiniu.upload(file, newFileName, token,
							putExtra, config);
					var subscription = observable.subscribe(next, error, complete);
				})
			}
		}
			 
		var qiniuUrl = [[${qiniuUrl}]];
		//保存
		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			var name = form.find("input[name='name']").val();
			var usedMinAmount = form.find("input[name='usedMinAmount']").val();
			var amount = form.find("input[name='amount']").val();
			var validNum = form.find("input[name='validNum']").val();
			var beginTime = form.find("input[name='beginTime']").val();
			var endTime = form.find("input[name='endTime']").val();


			if (name == '' || usedMinAmount == '' || amount == '' || validNum == '' || beginTime == '' || endTime == '') {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}

			//获取token
			$.get("/qiniu/token", {}, function (token) {
				if (token != '') {
					async.series({
						one: function (callback) {
							callback();
						},
						two: function (callback) {
							callback();
						},
						three: function (callback) {
							//提交保存
							$.post("/coupon_save", $("#saveForm").serialize(), function (data) {
								if (data) {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									oTable.fnDraw();
								} else {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
								}
								callback();
							});
						}
					}, function (err, results) {
						console.log("OK");
					});
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("错误，请联系管理员", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}

			$.post("/coupon_get", {id: activityId.val()}, function (data) {
				var form = $("#saveForm");
				form.find("input:not(.notMe)").val("");
				for (var i in data) {
					var ele = form.find("input[name='" + i + "']");
					switch (ele.attr("type")) {
						case "radio":
							ele.val([data[i]]);
							break;
						default:
							ele.val(data[i]);
					}
					var eleSelect = form.find("select[name='" + i + "']");
					eleSelect.val(data[i]);
					form.find("img[name='" + i + "Img']").attr("src", data[i]);
					form.find("img[name='" + i + "Img']").show();
				}
				var btime = new Date(data["beginTime"]).Format("yyyy-MM-dd hh:mm:ss");
				var etime = new Date(data["endTime"]).Format("yyyy-MM-dd hh:mm:ss");
				form.find("#beginTimeAlt").val(btime);
				form.find("#endTimeAlt").val(etime);
				form.find(".btn.image").show();
				jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
			});
		});

		$(".btn.btn-info.del").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/coupon_del", {ids: ids}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			})
		});

        $(".btn.btn-info.up").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_up",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_down",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
	});
	/*]]>*/
	</script>
</body>

</html>
