<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="head"></head>
    <title>助力免费送</title>
    <link rel="stylesheet" href="assets/js/select2/select2.css"/>
    <link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="assets/css/selectize.bootstrap3.css"/>
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
    <script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
    <style type="text/css">
        .form-group img {
            max-width: 400px;
            max-height: 300px;
        }
    </style>
</head>
<body class="page-body">

<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div th:replace="sidebar-menu"></div>
    <div class="main-content">
        <!-- User Info, Notifications and activity Bar -->
        <nav th:replace="navbar"></nav>
        <div class="page-title">

            <div class="title-env">
                <h1 class="title">助力免费送</h1>
                <p class="activityDescription"></p>
            </div>

            <div class="breadcrumb-env">

                <ol class="breadcrumb bc-1">
                    <li><a href="/"><i class="fa-home"></i>Home</a></li>
                    <li><a>系统管理</a></li>
                    <li class="active"><strong>助力免费送</strong></li>
                </ol>

            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>
            <button class="btn btn-info add">添加</button>
            <button class="btn btn-info edit">修改</button>
            <button class="btn btn-info del">删除</button>
        </div>


        <footer th:replace="footer"></footer>
    </div>
</div>

<div th:replace="body-under"></div>

<div class="modal fade in" id="modal-6">
    <div class="modal-dialog">
    </div>
</div>


<input type="hidden" id="facke"/>
<input type="hidden" id="fackew"/>
<input type="hidden" id="fackeh"/>

<video style="display: none" id="videoObj"></video>
<input type="hidden" class="form-control" name="articleid" id="articleid" value=""/>
<script src="js/common.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/async.min.js"></script>
<script src="assets/kindeditor-4.1.12/kindeditor-all.js"></script>
<script src="assets/kindeditor-4.1.12/lang/zh-CN.js"></script>
<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/selectize.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id', {
            uploadJson: '/file/upload_qn',
            allowFileManager: false,
            afterUpload: function (url, data, name) {
                console.log(url);
                console.log(data);
                console.log(name);
            }
        });
    });

    var table_global;

    var qiniuUrl = [[${qiniuUrl}]];

    jQuery(document).ready(function ($) {
        jQuery.datetimepicker.setLocale('zh');
        jQuery('#timeup').datetimepicker(
            {
                "lang": "zh",
                "format": "Y-m-d H:i:s",
                "timepicker": true,
                "datepicker": true,
                "defaultDate": new Date(),
                "defaultTime": "00:00:00"
            }
        );
        var oTable = $("#example-1").dataTable({
            language: {
                url: "../assets/Chinese.txt"
            },
            aLengthactivity: [
                [10, 25, 50, 100], [10, 25, 50, 100]
            ],
            bFilter: false,
            bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp: "aData",//是服务器分页的标志，必须有
            sAjaxSource: "/freeDelivery_list",//通过ajax实现分页的url路径。
            fnServerParams: function (aData) {
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
            columnDefs: [
                {
                    targets: 0,
                    data: "id",
                    width: "5%",
                    orderable: false,
                    className: 'select-checkbox',
                    title: '<input type="checkbox" id="checkbox-all"/>',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="activityId" value="' + data + '" />';
                    }
                },
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
                    targets: 2,
                    data: "name",
                    title: "免费送名称"
                },
                {
                    targets: 3,
                    data: "goodsType",
                    title: "商品种类"
                },
                {
                    targets: 4,
                    data: "sumGooodsCount",
                    title: "总商品数量"
                },
                {
                    targets: 5,
                    data: "sumBoostCount",
                    title: "总助力次数"
                },
                {
                    targets: 6,
                    data: "beginTime",
                    title: "开始时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 7,
                    data: "endTime",
                    title: "截止时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 8,
                    data: "createTime",
                    title: "创建时间",
                    render: function (data, type, row, meta) {
                        return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
                    }
                },
                {
                    targets: 9,
                    data: "creator",
                    title: "创建人"
                },
                {
                    targets: 10,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        return '<input type="button" name="checkIt" onclick="derail(' + data + ',this)" value="查看详情"/>';
                    }
                }
            ]
        });

        table_global = oTable;

        $(".searchBtn").click(function () {
            $("#checkbox-all").attr("checked", false);
            oTable.fnDraw(); //or fnReloadAjax()
            return false;
        });

        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='activityId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });

        $(".btn.btn-info.add").click(function () {
            window.location.href = '/freeDelivery_add.html';
        });

        $(".btn.btn-info.del").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            var confirm = window.confirm("你确定要这么做？");
            if (confirm == false) {
                return;
            }
            var ids = [];
            activityId.each(function (i, e) {
                ids.push(e.value);
            });

            $.post("/freeDelivery_del", {ids: ids}, function (data) {
                if (data) {
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            });
        });

        $(".btn.btn-info.edit").click(function () {
            var activityId = $("input[name='activityId']:checked");
            if (activityId.length < 1) {
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return;
            }
            window.location.href = '/freeDelivery_add.html?id='+activityId.val();
        });

    });
    /*]]>*/
</script>
</body>

</html>
