<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<meta name="referrer" content="no-referrer"/>
	<title>添加免费送方案</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css"/>
	<link rel="stylesheet" href="assets/css/jquery-editable-select.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				<div class="title-env">
					<h1 class="title">添加免费送方案</h1>
					<p class="activityDescription"></p>
				</div>
				<div class="breadcrumb-env">
					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>添加免费送方案</strong></li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">添加免费送方案</h3>
						</div>
						<div class="panel-body">
							<form role="form" id="saveForm" class="form-horizontal">
								<input type="hidden" name="id"/>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">活动名称</label>
											<input type="text" class="form-control" name="name" placeholder="活动名称"/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">开始时间</label>
											<input type="text" class="form-control" name="beginTime" id="beginTime" placeholder="开始时间" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">截止时间</label>
											<input type="text" class="form-control" name="endTime" id="endTime" placeholder="截止时间" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">顶部活动图片</label>
											<input type="file" class="form-control" name="imageFile" placeholder="顶部活动图片" onchange="uploadMainFile(this,'0',null)"/>
											<input type="hidden" class="form-control" name="image"/>
											<img alt="" src="" name="imageImg" style="display:none;"/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">添加商品</label>
											<input type="button" id="addMoreTextEle" class="notMe" value="添加" onclick="addMoreTextAeticle(this,null);"/>
											<input type="hidden" class="form-control" name="goodsIds" value=""/>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-info save">保存</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>

	<div class="modal fade in" id="modal-7" aria-hidden="false" style="display: none;z-index: 2000">
	</div>

	<input type="hidden" id="type_and_category_list"/>
	<input type="hidden" id="args"/>
	<script src="js/common.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
	<script src="assets/js/daterangepicker/daterangepicker.js"></script>
	<script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
    <script src="assets/js/jquery.base64.js"></script>
    <script src="assets/js/distpicker.js"></script>
	<script src="assets/js/jquery-editable-select.min.js"></script>.
	<script src="assets/js/selectize.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

	function addMoreTextAeticle(self, v) {
		var uuid = UUID.randomUUID();
		var that = $(self);
		var str = '<div id="UUID" class="toDel">'.replace("UUID", uuid);
		if (v != null) {
			str += '<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsIdsSame" placeholder="填写商品ID"/>'.replace("VALUE", v);
		} else {
			str += '<input type="file" class="form-control" name="goodsFile" placeholder="商品图片" onchange="uploadMainFile0(this,\'0\',null)"/>\n' +
					'<input type="hidden" class="form-control" name="goodsImg"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsName" placeholder="商品名称"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsPrice" placeholder="商品价格"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsSize" placeholder="商品尺码"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsCount" placeholder="商品数量"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="goodsId" placeholder="商品ID"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="brandId" placeholder="品牌ID"/>\n' +
					'<input style="display:inline-block;width: 200px;" type="number" class="form-control" value="VALUE" name="boostCount" placeholder="助力人数"/>\n' +
					'<label class="control-label">是否新用户</label>\n' +
					'<label><input name="userType" class="notMe" type="radio" checked="checked" value="0"/>是 </label>\n' +
					'<label><input name="userType" class="notMe" type="radio" value="1"/>否 </label>'
			str = str.replace("UUID", uuid);
		}
		str += '<input style="display:inline-block;" type="button" value="删除" onclick="delNode(\'UUID\')" />'.replace("UUID", uuid);
		str += '</div>';
		that.before(str);
	}

	function delNode(uuid) {
		var that = $("#"+uuid);
		that.remove();
	}

	function uploadMainFile(self,bol,res1) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				sizevideo = 5;
				bl= false;
				if (bol=='1'){
					sizevideo = 50;
					bl =true;
				}
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					//0图片，1视频
					if (bol =='0'){
						Filname = 'image';
					}else if (bol=='1') {
						Filname = 'video';
						// $('#butsev').show();
					}
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name="+Filname+"]").val(url);
					that.parent().find("[name=imageImg]").attr("src", url);
					that.parent().find("[name=imageImg]").attr("width", "100px");
					that.parent().find("[name=imageImg]").attr("height", "100px");
					that.parent().find("[name=imageImg]").show();
					if (res1 != null){
						eval(res1+'();') ;
					}
				},sizevideo,bl);
			},bol);
		} else {
			confirm("未选择任何文件!");
		}
	}

	function getQNToken(cb,bol) {
		var param = {};
		if (bol == 1) {
			param["isVideo"] = 1;
		}
		$.get("/qiniu/token", param, function (token) {
			cb(token);
		});
	}

	var qiniuUrl = [[${qiniuUrl}]];
	var args = [[${args}]];

	console.log(args);
	console.log(qiniuUrl);

	jQuery(document).ready(function ($) {
        $.base64.utf8encode = true;
        $.base64.utf8decode = true;

        //save the argStr
        $("#args").val(args);

		$(document).on("wheel", "input[type=number]", function (e) {
			$(this).blur();
		});

		$('[name="isDiscount"]').click(function () {
			var value = $(this).val();  //获取选中的radio的值
			var theId = $(".originalPrice");
			switch (parseInt(value)) {
				case 0:
					theId.show();
					break;
				default:
					theId.hide();
					break;
			}
		});

		//保存
		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			var form = $("#saveForm");
			var name = form.find("input[name='goodsName']").val();
			var price = form.find("input[name='goodsPrice']").val();
			var goodsSize = form.find("input[name='goodsSize']").val();
			var goodsCount = form.find("input[name='goodsCount']").val();
			var goodsId = form.find("input[name='goodsId']").val();
			var brandId = form.find("input[name='brandId']").val();
			var boostCount = form.find("input[name='boostCount']").val();
			var beginTime = form.find("input[name='beginTime']").val();
			var endTime = form.find("input[name='endTime']").val();
			var image = form.find("input[name='image']").val();

			// if (name == '' || beginTime == '' || endTime == '' || image == '') {
			// 	toastr.error("请填写完整数据后提交", "温馨提示");
			// 	return;
			// }
			//获取token
			$.get("/qiniu/token", {}, function (token) {
				if (token != '') {
					$(".btn.btn-info.save").attr("disabled", "disabled");
					async.series({
						one: function (callback) {
							callback();
						},
						two: function (callback) {
							callback();
						},
						three: function (callback) {
							//提交保存
							var data = {
								"name": name,
								"price": price,
								"goodsSize": goodsSize,
								"goodsCount": goodsCount,
								"goodsId": goodsId,
								"brandId": brandId,
								"boostCount": boostCount,
								"beginTime": beginTime,
								"endTime": endTime,
								"image": image
							};
							console.log(data);
							$.post("/freeDelivery_save", data, function (data) {
								if (data) {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									callback();
								} else {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
									callback("ERROR");
								}
							});
						}
					}, function (err, results) {
						if (err) {
							$(".btn.btn-info.save").removeAttr("disabled");
						} else {
							window.location.href = '/limit_sale.html';
						}
					});
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("上传文件错误，请联系管理员", "温馨提示");
				}
			});
		});
	});
	/*]]>*/
	</script>
</body>

</html>
