<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>添加商品</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">添加商品</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>添加商品</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
							</div>
						</div>
						<div class="form-group">
						</div>
						
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>


	<div class="modal fade in" id="modal-6" aria-hidden="false" style="display: block;overflow: scroll;top:47px;right: 325px;">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 1080px;">

				<div class="modal-header">
					<h4 class="modal-title">添加商品</h4>
				</div>

				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="field-1" class="control-label">商品类别</label>
								<select class="form-control" id="field-1" name="type" placeholder="商品类别" onchange="renderCategory(this)">
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="field-2" class="control-label">商品子类别</label>
								<select class="form-control" id="field-2" name="category" placeholder="商品子类别">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-3" class="control-label">名称</label>
								<input type="text" class="form-control" id="field-3" name="name" placeholder="名称" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-10" class="control-label">货号</label>
								<input type="text" class="form-control" id="field-10" name="code" placeholder="货号" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">封面图片</label>
								<input type="file" class="form-control" id="field-4" name="imageFile" placeholder="封面图片" />
								<input type="hidden" class="form-control" name="image" />
								<img alt="" src="" name="imageImg" style="display:none;" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">banner 轮播图</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="banner 轮播图" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">banner 轮播图</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="banner 轮播图" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">banner 轮播图</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="banner 轮播图" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">banner 轮播图</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="banner 轮播图" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">banner 轮播图</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="banner 轮播图" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">banner 轮播图</label>
								<input type="file" class="form-control" name="bannerFile" placeholder="banner 轮播图" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="banner" />
								<img alt="" src="" name="bannerImg" style="display:none;" />
							</div>
						</div>
					</div>
					<div class="row" id="introDIV">
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">商品长图</label>
								<input type="file" class="form-control" name="introFile" placeholder="商品长图" onchange="uploadIntroFile(this)"/>
								<!--<input type="button" class="form-control" value="删除" onclick="delIntroFile(this)"/>-->
								<input type="hidden" class="form-control" name="intro" />
								<img alt="" src="" name="introImg" style="display:none;" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<input type="button" class="form-control" value="添加" onclick="addIntroFile(this)"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-5" class="control-label">品牌</label>
								<select class="form-control" id="field-5" name="brand_id" placeholder="品牌">
								</select>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-9" class="control-label">商家</label>
                                <select class="form-control" id="field-9" name="merchant_id" placeholder="商家"
                                        onchange="renderFare(this)">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-11" class="control-label">运费模板</label>
                                <select class="form-control" id="field-11" name="fare" placeholder="运费模板">
                                </select>
                            </div>
                        </div>
<!--
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <input type="button" class="form-control" value="增加运费模板" onclick="addFare()"/>
                            </div>
                        </div>
-->
                    </div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-6" class="control-label">价格</label>
								<input type="number" class="form-control" id="field-6" name="price" placeholder="价格" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-7" class="control-label">材质</label>
								<input type="text" class="form-control" id="field-7" name="material" placeholder="材质" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-8" class="control-label">备注</label>
								<input type="text" class="form-control" id="field-8" name="remark" placeholder="备注" />
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">商品属性模板</label>
                                <label><input type="radio" class="" name="choice" value="0" checked="checked" onclick="switchToCommon()" />通用模板</label>
                                <label><input type="radio" class="" name="choice" value="1" onclick="switchToCustom()"/>自定义模板</label>
                            </div>
                        </div>
                    </div>
                    <div id="skuProperty">
                        <input id="addMoreAttrButton" style="display: none" type="button" value="添加商品属性(如颜色、尺码等)" onclick="addMoreAttr(this)" />
                    </div>
                    <div id="skuContainer">
                    </div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-info save">保存</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade in" id="modal-7" aria-hidden="false" style="display: none;z-index: 2000">
	</div>

	<input type="hidden" id="type_and_category_list"/>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
	<script src="assets/js/daterangepicker/daterangepicker.js"></script>
	<script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
    <script src="assets/js/jquery.base64.js"></script>
    <script src="assets/js/distpicker.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

	function getQNToken(cb) {
		$.get("/qiniu/token", {}, function (token) {
			cb(token);
		});
	}

	function uploadFile(self) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name=banner]").val(url);
					that.parent().find("[name=bannerImg]").attr("src", url);
					that.parent().find("[name=bannerImg]").attr("width", "100px");
					that.parent().find("[name=bannerImg]").attr("height", "100px");
					that.parent().find("[name=bannerImg]").show();
				});
			});
		}
	}

	function delIntroFile(self) {
		var that = $(self);
		that.parent().parent().remove();
	}

	function addIntroFile(self) {
		var that = $(self);
		that.parent().parent().before("\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
				"\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
				"\t\t\t\t\t\t\t\t<label class=\"control-label\">商品长图</label>\n" +
				"\t\t\t\t\t\t\t\t<input type=\"file\" class=\"form-control\" name=\"introFile\" placeholder=\"商品长图\" onchange=\"uploadIntroFile(this)\"/>\n" +
				"\t\t\t\t\t\t\t\t<input type=\"button\" class=\"form-control\" value=\"删除\" onclick=\"delIntroFile(this)\"/>\n" +
				"\t\t\t\t\t\t\t\t<input type=\"hidden\" class=\"form-control\" name=\"intro\" />\n" +
				"\t\t\t\t\t\t\t\t<img alt=\"\" src=\"\" name=\"introImg\" style=\"display:none;\" />\n" +
				"\t\t\t\t\t\t\t</div>\n" +
				"\t\t\t\t\t\t</div>");
	}

	function uploadIntroFile(self) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name=intro]").val(url);
					that.parent().find("[name=introImg]").attr("src", url);
					that.parent().find("[name=introImg]").attr("width", "100px");
					that.parent().find("[name=introImg]").attr("height", "100px");
					that.parent().find("[name=introImg]").show();
				});
			});
		}
	}

    function initCommonSku() {
        //添加颜色
        addMoreAttr("#addMoreAttrButton");
        //添加尺码
        addMoreAttr("#addMoreAttrButton");
        var attrNameList = $("#skuProperty").find("[name='attrName']");
        var attrValueList = $("#skuProperty").find("[name='attrValue']");
        var attrContainerList = $("#skuProperty").find("[name='attrContainer']");
        var commonSku = {
            "颜色": [
                {"value": "赤", "remark": "", "sort": 1},
                {"value": "橙", "remark": "", "sort": 2},
                {"value": "黄", "remark": "", "sort": 3},
                {"value": "绿", "remark": "", "sort": 4},
                {"value": "青", "remark": "", "sort": 5},
                {"value": "蓝", "remark": "", "sort": 6},
                {"value": "紫", "remark": "", "sort": 7}
            ],
            "尺码": [
                {"value": "大", "remark": "L", "sort": 1},
                {"value": "小", "remark": "S", "sort": 2},
                {"value": "中", "remark": "M", "sort": 3},
                {"value": "特大", "remark": "XL", "sort": 4},
                {"value": "特小", "remark": "XS", "sort": 5},
                {"value": "特特大", "remark": "XXL", "sort": 6},
                {"value": "特特小", "remark": "XXS", "sort": 7}
            ]
        };
        var i = 0;
        for (var name in commonSku) {
            $(attrNameList[i]).val(name);
            var vList = [];
            for (var value in commonSku[name]) {
                vList.push(commonSku[name][value]["value"]);
            }
            $(attrValueList[i]).val(vList.join(","));
            $(attrContainerList[i]).val(JSON.stringify(commonSku[name]));
            i++;
        }
    }

    function switchToCommon() {
        initCommonSku();
        $("#addMoreAttrButton").hide();
        generateSKUList();
    }

    function switchToCustom() {
        $("#skuProperty").find(".row").remove();
        $("#addMoreAttrButton").show();
        generateSKUList();
    }

    function delNode(self) {
        var that = $(self);
        var name = that.attr("name");
        $(".NAME".replace("NAME", name)).remove();
        // generateSKUList();
    }

    function addMoreAttr(self) {
        var uuid = UUID.randomUUID();
        var content = buildNewAttr(uuid);
        var that = $(self);
        that.before(content);
    }

    function buildNewAttr(uuid) {
        return "\t\t\t\t\t<div class=\"row NAME\">\n".replace("NAME", uuid) +
            "\t\t\t\t\t\t<div class=\"col-md-5\">\n" +
            "\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
            "\t\t\t\t\t\t\t\t<label class=\"control-label\">规格名称(如颜色、尺寸)</label>\n" +
            "\t\t\t\t\t\t\t\t<input type='text' class=\"form-control\" name=\"attrName\" placeholder=\"规格名称(如颜色、尺寸)\" />\n" +
            "\t\t\t\t\t\t\t</div>\n" +
            "\t\t\t\t\t\t</div>\n" +
            "\t\t\t\t\t\t<div class=\"col-md-5\">\n" +
            "\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
            "\t\t\t\t\t\t\t\t<label class=\"control-label\">详细规格(如红、黄、大、小)</label>\n" +
            "\t\t\t\t\t\t\t\t<input type='text' readonly='readonly' class=\"form-control\" name=\"attrValue\" placeholder=\"详细规格(如红、黄、大、小)\" onclick=\"showAttrWindow('NAME')\" />\n".replace("NAME", uuid) +
            "\t\t\t\t\t\t\t\t<input type='hidden' class=\"form-control NAME\" name=\"attrContainer\" value=\"\" />\n".replace("NAME", uuid) +
            "\t\t\t\t\t\t\t</div>\n" +
            "\t\t\t\t\t\t</div>\n" +
            "\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
            "\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
            "\t\t\t\t\t\t\t\t<label class=\"control-label\">操作</label>\n" +
            "\t\t\t\t\t\t\t\t<input type='button' class=\"form-control NAME\" name=\"NAME\" value=\"删除\" onclick=\"delNode(this)\" />\n".replace(/NAME/g, uuid) +
            "\t\t\t\t\t\t\t</div>\n" +
            "\t\t\t\t\t\t</div>\n" +
            "\t\t\t\t\t</div>";
    }

	function addMoreAttrValue(self) {
		var uuid = UUID.randomUUID();
		var content = buildNewAttrValue(uuid);
		var that = $(self);
		that.before(content);
	}

	function buildNewAttrValue(uuid, one, two, three) {
		var context = ATTR_ELEMENT_BODY;
		context = context.replace(/UUID/g, uuid);
		if (one != undefined) {
			context = context.replace("ONE", one);
		} else {
			context = context.replace("ONE", "");
		}
		if (one != undefined) {
			context = context.replace("TWO", two);
		} else {
			context = context.replace("TWO", "");
		}
		if (one != undefined) {
			context = context.replace("THREE", three);
		} else {
			context = context.replace("THREE", "0");
		}
		return context;
	}

	var ATTR_ELEMENT_HEADER = "\t\t<div class=\"modal-dialog\">\n" +
			"\t\t\t<div class=\"modal-content\">\n" +
			"\t\t\t\t<div class=\"modal-header\">\n" +
			"\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button>\n" +
			"\t\t\t\t\t<h4 class=\"modal-title\">添加商品详细属性列表</h4>\n" +
			"\t\t\t\t</div>\n" +
			"\t\t\t\t<div class=\"modal-body\">\n";

	var ATTR_ELEMENT_HEADER_FARE = "\t\t<div class=\"modal-dialog\">\n" +
			"\t\t\t<div class=\"modal-content\">\n" +
			"\t\t\t\t<div class=\"modal-header\">\n" +
			"\t\t\t\t\t<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button>\n" +
			"\t\t\t\t\t<h4 class=\"modal-title\">添加运费模板</h4>\n" +
			"\t\t\t\t</div>\n" +
			"\t\t\t\t<div class=\"modal-body\">\n";

	var ATTR_ELEMENT_BODY = "\t\t\t\t\t<div class=\"row UUID\">\n" +
			"\t\t\t\t\t\t<div class=\"col-md-4\">\n" +
			"\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
			"\t\t\t\t\t\t\t\t<label for=\"field-4\" class=\"control-label\">商品属性值</label>\n" +
			"\t\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" name=\"skuValue\" value='ONE' placeholder=\"商品属性值\" />\n" +
			"\t\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t<div class=\"col-md-4\">\n" +
			"\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
			"\t\t\t\t\t\t\t\t<label for=\"field-5\" class=\"control-label\">备注</label>\n" +
			"\t\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" name=\"skuRemark\" value='TWO' placeholder=\"备注\" />\n" +
			"\t\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
			"\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
			"\t\t\t\t\t\t\t\t<label for=\"field-6\" class=\"control-label\">排序</label>\n" +
			"\t\t\t\t\t\t\t\t<input type=\"number\" class=\"form-control\" name=\"skuSort\" value='THREE'  placeholder=\"排序\" />\n" +
			"\t\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t<div class=\"col-md-2\">\n" +
			"\t\t\t\t\t\t\t<div class=\"form-group\">\n" +
			"\t\t\t\t\t\t\t\t<label for=\"field-6\" class=\"control-label\">操作</label>\n" +
			"\t\t\t\t\t\t\t\t<input type=\"button\" class=\"form-control UUID\" name=\"UUID\" value='删除' onclick=\"delNode(this)\" />\n" +
			"\t\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t\t</div>\n" +
			"\t\t\t\t\t</div>\n";

	var ATTR_ELEMENT_FOOTER = "\t\t\t\t\t<input type=\"button\" value=\"添加详细规格(如红、黄、大、小)\" onclick=\"addMoreAttrValue(this)\" />\n" +
			"\t\t\t\t</div>\n" +
			"\t\t\t\t<div class=\"modal-footer\">\n" +
			"\t\t\t\t\t<button type=\"button\" class=\"btn btn-white\" data-dismiss=\"modal\">关闭</button>\n" +
			"\t\t\t\t\t<button type=\"button\" class=\"btn btn-info\" onclick=\"saveAttr('PID')\">保存</button>\n" +
			"\t\t\t\t</div>\n" +
			"\t\t\t</div>\n" +
			"\t\t</div>";

	var ATTR_ELEMENT_FOOTER_FARE = "\t\t\t\t</div>\n" +
			"\t\t\t\t<div class=\"modal-footer\">\n" +
			"\t\t\t\t\t<button type=\"button\" class=\"btn btn-white\" data-dismiss=\"modal\">关闭</button>\n" +
			"\t\t\t\t\t<button type=\"button\" class=\"btn btn-info\" onclick=\"closeAndSaveIt()\">保存</button>\n" +
			"\t\t\t\t</div>\n" +
			"\t\t\t</div>\n" +
			"\t\t</div>";

	function showAttrWindow(uuid) {
		var target = $("." + uuid);
		var attrJSONStr = target.find("input[name=attrContainer]").val();
		var contentStr = "";
		if (attrJSONStr == '') {
			var innerUUid = UUID.randomUUID();
			contentStr = (ATTR_ELEMENT_HEADER + ATTR_ELEMENT_BODY + ATTR_ELEMENT_FOOTER).replace("ONE", "").replace("TWO", "").replace("THREE", "0").replace(/PID/g, uuid).replace(/UUID/g, innerUUid);
		} else {
			var attrList = JSON.parse(attrJSONStr);
			contentStr += ATTR_ELEMENT_HEADER;
			for (var i in attrList) {
				var innerUUid = UUID.randomUUID();
				contentStr += buildNewAttrValue(innerUUid, attrList[i]["value"], attrList[i]["remark"], attrList[i]["sort"]);
			}
			contentStr += ATTR_ELEMENT_FOOTER.replace(/PID/g, uuid);
		}
		jQuery('#modal-7').html(contentStr).modal({backdrop: 'static', keyboard: false});
	}

	function saveAttr(uuid) {
		var form = jQuery('#modal-7');
		var skuValueList = form.find("input[name=skuValue]");
		var skuRemarkList = form.find("input[name=skuRemark]");
		var skuSortList = form.find("input[name=skuSort]");
		var list = [];
		var valueList = [];
		for (var i in skuValueList) {
			if (isNaN(i)) {
				continue;
			}
			var value = skuValueList[i].value;
			var remark = skuRemarkList[i].value;
			var sort = skuSortList[i].value;
			var item = {"value": value, "remark": remark, "sort": sort};
			list.push(item);
			valueList.push(value);
		}
		var target = $("." + uuid);
		target.find("input[name=attrContainer]").val(JSON.stringify(list));
		target.find("input[name=attrValue]").val(valueList.join(","));
        //build SKU
        generateSKUList();
        form.modal('toggle');
    }

    function generateSKUList() {
        var target = $("#skuContainer");
        var form = $("#saveForm");
        var attrNameArr = form.find("input[name=attrName]");
        var attrValueArr = form.find("input[name=attrValue]");
        var attrContainerArr = form.find("input[name=attrContainer]");
        var attrArr = [];
        var nameArr = [];
        var containerArr = [];
        for (var i in attrValueArr) {
            if (isNaN(i)) {
                continue;
            }
            var attr = attrValueArr[i].value;
            var name = attrNameArr[i].value;
            var containerStr = attrContainerArr[i].value;
            attrArr.push(attr.split(","));
            nameArr.push(name);
            containerArr.push(JSON.parse(containerStr));
        }
        SkuStockList = [];
        SkuStockDetailList = [];
        mergeSKURecursively(attrArr, nameArr, containerArr, 0, "", []);
        var contentStr = "";
        for (var i in SkuStockList) {
            contentStr += buildSKUItem(SkuStockList[i], SkuStockDetailList[i]);
        }
        target.html(contentStr);
    }

    var SkuStockList = [];
    var SkuStockDetailList = [];

    function mergeSKURecursively(arr, nameArr, containerArr, i, previousItem, skuDetailArr) {
        for (var obj in arr[i]) {
            var newPreviousItem = previousItem + arr[i][obj] + "_";
            var newSkuDetailArr = JSON.parse(JSON.stringify(skuDetailArr));//deep copy
            newSkuDetailArr.push(
                {
                    "name": nameArr[i],
                    "value": containerArr[i][obj]
                }
            );
            if (arr.hasOwnProperty(i + 1)) {
                mergeSKURecursively(arr, nameArr, containerArr, i + 1, newPreviousItem, newSkuDetailArr);
            } else {
                SkuStockList.push(newPreviousItem);
                SkuStockDetailList.push(newSkuDetailArr);
            }
        }
    }

    function buildSKUItem(remark, skuDetail) {
        return "                        <div class=\"row\">\n" +
            "                            <div class=\"col-md-2\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"control-label\">SKU编码</label>\n" +
            "                                    <input type=\"text\" class=\"form-control\" name=\"sku\" placeholder=\"SKU编码\" />\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-md-2\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"control-label\">库存图片</label>\n" +
            "                                    <input type=\"file\" class=\"form-control\" name=\"skuImageFile\" placeholder=\"库存图片\" />\n" +
            "                                    <input type=\"hidden\" class=\"form-control\" name=\"skuImage\" />\n" +
            "                                    <img src=\"\" name=\"skuImageImg\" style=\"display:none;\" />\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-md-2\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"control-label\">库存余量</label>\n" +
            "                                    <input type=\"number\" class=\"form-control\" name=\"skuStock\" placeholder=\"库存余量\" />\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-md-2\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"control-label\">价格</label>\n" +
            "                                    <input type=\"number\" class=\"form-control\" name=\"skuPrice\" placeholder=\"价格\" />\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "                            <div class=\"col-md-4\">\n" +
            "                                <div class=\"form-group\">\n" +
            "                                    <label class=\"control-label\">备注</label>\n" +
            "                                    <input type=\"text\" class=\"form-control\" name=\"skuRemark\" value=\"REMARK\" placeholder=\"备注\" />\n".replace("REMARK", remark) +
            "                                    <input type=\"hidden\" class=\"form-control\" name=\"skuDetail\" value=\"DETAIL\" />\n".replace("DETAIL", $.base64.btoa(JSON.stringify(skuDetail))) +
            "                                </div>\n" +
            "                            </div>\n" +
            "                        </div>";
    }

    function closeIt() {
        var that = $("#modal-7");
        that.toggle();
    }

	function closeAndSaveIt() {
		var that = $("#modal-7");
		var form = $("#saveForm");
		var p = that.find("select[name='p']").val();
		var c = that.find("select[name='c']").val();
		var d = that.find("select[name='d']").val();
		var remark = that.find("input[name='remark']").val();
		var fare_first_num = that.find("input[name='fare_first_num']").val();
		var fare_first_price = that.find("input[name='fare_first_price']").val();
		var fare_next_num = that.find("input[name='fare_next_num']").val();
		var fare_next_price = that.find("input[name='fare_next_price']").val();
		var merchantId = form.find("select[name='merchant_id']").val();
		var json = {
			"merchantId": merchantId,
			"remark": remark,
			"fareFirstNum": fare_first_num,
			"fareFirstPrice": fare_first_price,
			"fareNextNum": fare_next_num,
			"fareNextPrice": fare_next_price,
			"province": p,
			"city": c,
			"county": d
		};
		$.post("/fare_add", json, function (data) {
			if (data) {
				renderFare("#field-9");
				toastr.success("操作已成功！", "温馨提示");
			} else {
				toastr.error("操作失败", "温馨提示");
			}
			that.modal('toggle');
		});
	}

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

	function checkImg(list) {
		var returnList = {};
		for (var i in list) {
			i = list[i];
			var v = i[0];
			var name = i[1];
			var form = $("#saveForm");
			var footer = $(this).parent(".modal-footer");
			var imageFile = '';
			//上传文件获得文件地址
			if (v != '') {
				imageFile = form.find("input[name='" + name + "File']")[0].files[0];
				if (imageFile != '' && imageFile.size / 1024 > 1024) {
					toastr.error("封面图片大小超过1M,请压缩处理后上传", "温馨提示");
					return false;
				} else {
					returnList[name] = imageFile;
				}
			}
		}
		return returnList;
	}

	function bindTypeSelector(data) {
		var typeStr = "";
		for (var type in data) {
			type = data[type];
			typeStr += '<option value="VALUE">KEY</option>'.replace("VALUE", type["id"]).replace("KEY", type["name"]);
		}
		$("#field-1").html(typeStr);
		bindCategorySelector(data[0]["sub"]);
	}

	function bindCategorySelector(data) {
		var categoryStr = "";
		for (var category in data) {
			category = data[category];
			categoryStr += '<option value="VALUE">KEY</option>'.replace("VALUE", category["id"]).replace("KEY", category["name"]);
		}
		$("#field-2").html(categoryStr);
	}

	function renderCategory(self) {
		var jsonStr = $("#type_and_category_list").val();
		var list = JSON.parse(jsonStr);
		var selectedId = $(self).val();
		for (var type in list) {
			if (selectedId == list[type]["id"]) {
				bindCategorySelector(list[type]["sub"]);
				break;
			}
		}
	}

	function bindBrandSelector(data) {
		var brandStr = "";
		for (var brand in data) {
			brand = data[brand];
			brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
		}
		$("#field-5").html(brandStr);
	}

    function bindMerchantSelector(data) {
        var brandStr = "";
        for (var brand in data) {
            brand = data[brand];
            brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
        }
        $("#field-9").html(brandStr);
        renderFare("#field-9");
    }

    function bindFareSelector(data) {
        var brandStr = "";
        for (var brand in data) {
            brand = data[brand];
            brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["remark"]);
        }
        $("#field-11").html(brandStr);
    }

    function renderFare(self) {
        var id = $(self).val();
        $.getJSON("/fare_list", {"pid": id}, function (data) {
            bindFareSelector(data);
        });
    }

	function addFare() {
		var preview = $("#modal-7");
		var contentStr = ATTR_ELEMENT_HEADER_FARE + "\t<div id=\"distpicker\">\n" +
				"\t\t<select name='p' ></select>\n" +
				"\t\t<select name='c' ></select>\n" +
				"\t\t<select name='d' ></select><br/>\n" +
				"\t\t<input type=\"text\" name='remark' placeholder='模板名称'/><br/>\n" +
				"\t\t<input type=\"number\" name='fare_first_num' placeholder='运费首件数'/>\n" +
				"\t\t<input type=\"number\" name='fare_first_price' placeholder='运费首费[单位：元]'/>\n" +
				"\t\t<input type=\"number\" name='fare_next_num' placeholder='运费续件数'/>\n" +
				"\t\t<input type=\"number\" name='fare_next_price' placeholder='运费续费[单位：元]'/>\n" +
				"\t</div>";
		preview.html(contentStr + ATTR_ELEMENT_FOOTER_FARE);
		//render
		$("#distpicker").distpicker({
			province: '---- 所在省 ----',
			city: '---- 所在市 ----',
			district: '---- 所在区 ----'
		});
		preview.modal({backdrop: 'static', keyboard: false});
	}

	var qiniuUrl = [[${qiniuUrl}]];

	jQuery(document).ready(function ($) {
        $.base64.utf8encode = true;
        $.base64.utf8decode = true;

		$.getJSON("/type_and_category_list", {}, function (data) {
			$("#type_and_category_list").val(JSON.stringify(data));
			bindTypeSelector(data);
		});

        $.getJSON("/brand_list_all", {}, function (data) {
            bindBrandSelector(data);
        });

        $.getJSON("/merchant_list_all", {}, function (data) {
            bindMerchantSelector(data);
        });

        switchToCommon();

		function getImgSize(file, cb) {
			var f = file;//input.files[0];
			var reader = new FileReader();
			reader.onload = function (e) {
				var data = e.target.result;
				//加载图片获取图片真实宽度和高度
				var image = new Image();
				image.onload = function () {
					var width = image.width;
					var height = image.height;
					cb(width, height);
				};
				image.src = data;
			};
			reader.readAsDataURL(f);
		}

		window.upload = function upload(param, token, file, next, error, complete) {
			if (file == '') {
				complete('');
			} else {
				getImgSize(file, function (w, h) {
					var filename = file.name;
					var postf = filename.substring(filename.lastIndexOf("."));
					var config = {
						useCdnDomain: true,
						region: qiniu.region.z0
					};
					var putExtra = {
						fname: "",
						params: {"x:param": param},
						mimeType: ["image/png", "image/jpeg", "image/gif"] || null
					};
					var newFileName = "image/wx/#W#/#H#/" + UUID.randomUUID() + postf;
					newFileName = newFileName.replace("#W#", w).replace("#H#", h);
					var observable = qiniu.upload(file, newFileName, token,
							putExtra, config);
					var subscription = observable.subscribe(next, error, complete);
				})
			}
		};

		//保存
		$(".btn.btn-info.save").click(function () {
            var footer = $(this).parent(".modal-footer");
            var form = $("#saveForm");
            var type = form.find("select[name='type']").val();
            var category = form.find("select[name='category']").val();
            var name = form.find("input[name='name']").val();
			var code = form.find("input[name='code']").val();
            var brand_id = form.find("select[name='brand_id']").val();
            var merchant_id = form.find("select[name='merchant_id']").val();
            var price = form.find("input[name='price']").val();
            var material = form.find("input[name='material']").val();
            var remark = form.find("input[name='remark']").val();
            //文件
            var image = form.find("input[name='imageFile']").val();
            //已上传的图片地址
            var imageImg = form.find("input[name='image']").val();

            if (type == '' || category == '' || name == '' || code == ''|| brand_id == '' || price == '' || material == '' || (image == '' && imageImg == '')) {
                toastr.error("请填写完整数据后提交", "温馨提示");
                return;
            }

			var isOK = checkImg([[image, "image"]]);
			if (typeof isOK == 'boolean') {
				return;
			}

            //多个元素 sku 属性
            var attrName = form.find("input[name='attrName']");
            // var attrValue = form.find("input[name='attrValue']").val();//omit
            var attrContainer = form.find("input[name='attrContainer']");
            var attrNameList = [];
            var attrContainerList = [];
			for (var i in attrName) {
				if (isNaN(i)) {
					continue;
				}
				var a = attrName[i].value;
				var b = attrContainer[i].value;
				if (a == '' || b == '') {
					toastr.error("请填写完整数据后提交", "温馨提示");
					return;
				} else {
					attrNameList.push(a);
					attrContainerList.push(b);
				}
			}
            //多个元素 sku stock
            var sku = form.find("input[name='sku']");
            var skuStock = form.find("input[name='skuStock']");
            var skuPrice = form.find("input[name='skuPrice']");
            var skuRemark = form.find("input[name='skuRemark']");
            var skuImage = form.find("input[name='skuImageFile']");
            var skuDetail = form.find("input[name='skuDetail']");
            var stockList = [];
            for (var j in sku) {
                if (isNaN(j)) {
                    continue;
                }
                var c = sku[j].value;
                var d = skuStock[j].value;
                var e = skuPrice[j].value;
                var f = skuRemark[j].value;
                var g = skuImage[j].files[0].name;
                var h = skuDetail[j].value;
                if (c == '' || d == '' || e == '' || f == '' || g == '') {
                    toastr.error("请填写完整数据后提交", "温馨提示");
                    return;
                } else {
                    stockList.push({
                        "sku": c,
                        "stock": d,
                        "price": e,
                        "remark": f,
                        "image": skuImage[j].files[0],
                        "detail": h
                    });
                }
            }
            //banner 轮播图
            var banner = form.find("input[name='banner']");
            var bannerList = [];
            for (var k in banner) {
                if (isNaN(k)) {
                    continue;
                }
                var bUrl = banner[k].value;
                if (bUrl == '') {
                    //skip
                } else {
                    bannerList.push(bUrl);
                }
            }
            //商品长图
            var intro = form.find("input[name='intro']");
            var introList = [];
            for (var l in intro) {
                if (isNaN(l)) {
                    continue;
                }
                var iUrl = intro[l].value;
                if (iUrl == '') {
                    //skip
                } else {
                    introList.push(iUrl);
                }
            }
			//获取token
			$.get("/qiniu/token", {}, function (token) {
				if (token != '') {
					async.series({
						one: function (callback) {
							async.eachSeries(stockList, function (item, cb) {
								var f = item["image"];
								this.upload("", token, f, function () {
									//
								}, function (err) {
									console.log("上传imageFile异常:" + err);
									cb(err);
								}, function (res) {
									//上传成功
									if (res != '') {
										var url = qiniuUrl + "/" + res.key;
										item["image"] = url;
									}
									cb();
								});
							}, function () {
								callback();
							});
						},
						two: function (callback) {
							//上传详情图
							async.eachSeries(Object.keys(isOK), function (item, cb) {
								var f = isOK[item];
								this.upload(item, token, f, function () {
									//
								}, function (err) {
									console.log("上传imageFile异常:" + err);
									cb(err);
								}, function (res) {
									//上传成功
									if (res != '') {
										var url = qiniuUrl + "/" + res.key;
										form.find("input[name='" + res.param + "']").val(url);
									}
									cb();
								});
							}, function () {
								callback();
							});
						},
						three: function (callback) {
							//提交保存
                            var data = {
                                "name": name,
								"code": code,
                                "image": form.find("input[name='image']").val(),
                                "brandId": brand_id,
                                "merchantId": merchant_id,
                                "type": type,
                                "category": category,
                                "price": price,
                                "material": material,
                                "remark": remark,
                                "stocks": JSON.stringify(stockList),
                                "banners": bannerList.join(","),
                                "intros": introList.join(",")
                            };
							console.log(data);
							$.post("/goods_add", data, function (data) {
								if (data) {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									callback();
								} else {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
									callback("ERROR");
								}
							});
						}
					}, function (err, results) {
						console.log("OK");
						if (err) {
							//
						} else {
							window.location.href = '/goods.html';
						}
					});
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("上传文件错误，请联系管理员", "温馨提示");
				}
			});
		});
	});
	/*]]>*/
	</script>
</body>

</html>
