<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>子分类管理</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">

				<div class="title-env">
					<h1 class="title" th:inline="text">子分类管理-[[${theName}]]</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>子分类管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
								<input type="text" name="name" class="form-control" style="height:35px" placeholder="活动名"/>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
						<div class="form-group" style="display: block;margin-bottom: 0;vertical-align: middle;">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px" onclick="history.go(-1)">返回一级分类</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
				<button class="btn btn-info add" >添加</button>
				<button class="btn btn-info edit">修改</button>
				<button class="btn btn-info del">删除</button>
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">添加子分类</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-3" class="control-label">名称</label>
								<input type="text" class="form-control" name="name" placeholder="名称"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">图片</label>
								<input type="file" class="form-control" name="imageFile" placeholder="图片"/>
								<input type="hidden" class="form-control" name="image" />
								<img alt="" src="" name="imageImg" style="display:none;"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">备注</label>
								<input type="text" class="form-control" name="remark" placeholder="备注"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="field-4" class="control-label">排序</label>
								<input type="number" class="form-control" name="sort" placeholder="排序"/>
							</div>
						</div>
					</div>
					</form>
				</div>
				
				<div class="modal-footer">
					 <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>

    <div id="preview" style="display: none;
    position: fixed;
    top: 190px;
    left: 650px;
    background: white;
    overflow: scroll;
    border: solid; width: 700px; height: 600px;
    z-index: 9999;" onclick="closeIt(this)">

    </div>
	
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
	<script src="assets/js/daterangepicker/daterangepicker.js"></script>
	<script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

	function checkImg(list) {
		var returnList = {};
		for (var i in list) {
			i = list[i];
			var v = i[0];
			var name = i[1];
			var form = $("#saveForm");
			var footer = $(this).parent(".modal-footer");
			var imageFile = '';
			//上传文件获得文件地址
			if (v != '') {
				imageFile = form.find("input[name='" + name + "File']")[0].files[0];
				if (imageFile != '' && imageFile.size / 1024 > 500) {
					toastr.error("封面图片大小超过500K,请压缩处理后上传", "温馨提示");
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					return false;
				} else {
					returnList[name] = imageFile;
				}
			}
		}
		return returnList;
	}

    function checkIt(id) {
		$.post("/goodsCategory_get", {"id": id}, function (data) {
			if (data) {
				var preview = $("#preview");
				var contentStr = "";
				var category = data;
				contentStr += "商品类别ID:" + category["goodsType"] + "<br/>";
				contentStr += "商品类别名称:" + category["goodsTypeName"] + "<br/>";
				contentStr += "创建时间:" + formatTime(category["createTime"]) + "<br/>";
				contentStr += "图片:" + buildImg(category["image"]) + "<br/>";
				contentStr += "名称:" + category["name"] + "<br/>";
				contentStr += "编号:" + category["id"] + "<br/>";
				contentStr += "备注:" + category["remark"] + "<br/>";
				contentStr += "排序:" + category["sort"] + "<br/>";
				contentStr += "*************<br/>";
				preview.html(contentStr);
				preview.show();
				toastr.success("操作已成功！", "温馨提示");
			} else {
				toastr.error("操作失败", "温馨提示");
			}
		});
    }

	function checkItsList(id) {
		window.location.href = '/goodsCategory.html?id=' + id;
	}

	var table_global;

    function toggleTopIt(id) {
        $.post("/brand_toggleTop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function topIt(id) {
        $.post("/brand_top", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function unTopIt(id) {
        $.post("/brand_untop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }
    jQuery(document).ready(function($)
	{
		var qiniuUrl = [[${qiniuUrl}]];
		var theId = [[${theId}]];
		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			aLengthactivity: [
				[10, 25, 50, 100], [10, 25, 50, 100]
			],
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/goodsCategory_list",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				console.log(searchArray);
				console.log(theId);
				$.merge(aData, searchArray);
				aData.push({"name": "id", "value": theId});//append pid
				//aData["id"] = theId;
				console.log(aData);
			},
            order: [[ 6, "desc" ]],
            columnDefs: [
				{	
					targets: 0,
				    data: "id",
				    width:"5%",
				    orderable: false,
				    className: 'select-checkbox',
				    title: '<input type="checkbox" id="checkbox-all"/>',
				    render: function ( data, type, full, meta ) {
				    	return '<input type="checkbox" name="activityId" value="'+data+'" />';  
				    }
				},
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
               		targets: 2,
	                data: "name",
	                title: "名称"
            	},
				{
					targets: 3,
					data: "image",
					title: "图片",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 4,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 5,
					data: "goodsType",
					title: "商品类别ID"
				},
				{
					targets: 6,
					data: "goodsTypeName",
					title: "商品类别名称"
				},
				{
					targets: 7,
					data: "remark",
					title: "备注"
				},
                {
                    targets: 8,
                    data: "id",
                    orderable: false,
                    title: "操作",
                    render: function (data, type, full, meta) {
                        return '<input type="button" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>';
                    }
                }
               ]
		});

		table_global = oTable;
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

		$(".btn.btn-info.add").click(function () {
			var form = $("#saveForm");
			form.find("input").val("");
			form.find("img").attr("src","");
			form.find("img").hide();
			form.find("input[type='file']").show();
			$(".imageShow").remove();
			jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			//window.location.href = '/merchant_add.html';
		});

		function getImgSize(file, cb) {
			var f = file;//input.files[0];
			var reader = new FileReader();
			reader.onload = function (e) {
				var data = e.target.result;
				//加载图片获取图片真实宽度和高度
				var image = new Image();
				image.onload = function () {
					var width = image.width;
					var height = image.height;
					cb(width, height);
				};
				image.src = data;
			};
			reader.readAsDataURL(f);
		}

		function upload(param, token, file, next, error, complete) {
			if (file == '') {
				complete('');
			} else {
				getImgSize(file, function (w, h) {
					var filename = file.name;
					var postf = filename.substring(filename.lastIndexOf("."));
					var config = {
						useCdnDomain: true,
						region: qiniu.region.z0
					};
					var putExtra = {
						fname: "",
						params: {"x:param": param},
						mimeType: ["image/png", "image/jpeg", "image/gif"] || null
					};
					var newFileName = "image/wx/#W#/#H#/" + UUID.randomUUID() + postf;
					newFileName = newFileName.replace("#W#", w).replace("#H#", h);
					var observable = qiniu.upload(file, newFileName, token,
							putExtra, config);
					var subscription = observable.subscribe(next, error, complete);
				})
			}
		}
			//保存
			$(".btn.btn-info.save").click(function(){
				var footer = $(this).parent(".modal-footer");
				footer.find("button").hide();
				footer.find(".bg-lg").show();
				var form = $("#saveForm");
				var name = form.find("input[name='name']").val();
				var remark = form.find("input[name='remark']").val();
				var sort = form.find("input[name='sort']").val();
				//文件
				var image = form.find("input[name='imageFile']").val();
				//已上传的图片地址
				var imageImg = form.find("input[name='image']").val();

				if(name==''|| remark==''|| sort=='' ||
						(image=='' && imageImg=='')
				){
					toastr.error("请填写完整数据后提交", "温馨提示");
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					return ;
				}

				var isOK = checkImg([[image, "image"]]);
				if (typeof isOK == 'boolean') {
					return;
				}

                //获取token
				$.get("/qiniu/token",{},function(token){
					if(token !=''){
						async.series({
							one: function(callback) {
								if(typeof isOK == 'object'){
									callback();
								}else {
									callback("ERROR");
								}
							},
							two: function(callback){
								//上传详情图
								async.eachSeries(Object.keys(isOK), function (item, cb) {
									var f = isOK[item];
									upload(item, token, f, function () {
										//
									}, function (err) {
										console.log("上传imageFile异常:" + err);
										cb(err);
									}, function (res) {
										//上传成功
										if (res != '') {
											var url = qiniuUrl + "/" + res.key;
											form.find("input[name='" + res.param + "']").val(url);
										}
										cb();
									});
								}, function () {
									callback();
								});
							},
							three: function(callback){
								//提交保存
								var queryStr = $("#saveForm").serialize();
								queryStr += "&goodsType=" + theId;
								$.post("/goodsCategory_save", queryStr, function (data) {
									if (data) {
										footer.find("button").show();
										footer.find(".bg-lg").hide();
										jQuery('#modal-6').modal('hide');
										toastr.success("操作已成功！", "温馨提示");
										oTable.fnDraw();
									} else {
										footer.find("button").show();
										footer.find(".bg-lg").hide();
										toastr.error("操作失败", "温馨提示");
									}
									callback();
								});
							}
						}, function(err, results) {
							console.log("OK");
						});
					}else{
						footer.find("button").show();
						footer.find(".bg-lg").hide();
						toastr.error("上传文件错误，请联系管理员", "温馨提示");
					}
				});
			});

			$(".btn.btn-info.edit").click(function () {
				var activityId = $("input[name='activityId']:checked");
				if (activityId.length != 1) {
					toastr.error("请选择一条数据操作", "温馨提示");
					return;
				}

				$.post("/goodsCategory_get", {id: activityId.val()}, function (data) {
					var form = $("#saveForm");
					//商家
					for (var i in data) {
						var ele = form.find("input[name='" + i + "']");
						switch (ele.attr("type")) {
							case "radio":
								ele.val([data[i]]);
								break;
							default:
								if (data[i] != undefined && !isNaN(data[i]) && String(data[i]).length == 13) {
									ele.val(formatTime(data[i]));
									$("#" + i).val(formatTime(data[i]));
								} else {
									ele.val(data[i]);
								}
						}
						form.find("img[name='" + i + "Img']").attr("src", data[i]);
						form.find("img[name='" + i + "Img']").attr("width", 200);
						form.find("img[name='" + i + "Img']").attr("length", 200);
						form.find("img[name='" + i + "Img']").show();
					}
					form.find(".btn.image").show();
					jQuery('#modal-6').modal('show', {backdrop: 'fade'});
				});
			});

			$(".btn.btn-info.del").click(function(){
				var activityId = $("input[name='activityId']:checked");
				if(activityId.length < 1){
					toastr.error("请至少选择一条数据操作", "温馨提示");
					return ;
				}

				var ids = [];
				activityId.each(function(i,e){
					ids.push(e.value);
				});

				$.post("/goodsCategory_del",{ids:ids},function(data){
					if(data){
						toastr.success("操作已成功！", "温馨提示");
						oTable.fnDraw();
					}
				})
			});

        $(".btn.btn-info.up").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_up",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_down",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
	});
	/*]]>*/
	</script>
</body>

</html>
