<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>后台首页</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">后台首页</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="container-full">
				<div class="row">
					<div class="col-12">
						<div class="box">
							<div class="box-header with-border">
								<h4 class="box-title">后台首页</h4>
							</div>
							<div class="box-body">
								欢迎使用OFFWAY APP后台
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
							</div>
							<!-- /.box-footer-->
						</div>
					</div>
				</div>
				<!--				<div class="row">-->
				<!--					<div class="col-lg-3 col-md-6 col-12">-->
				<!--						<div class="box box-primary pull-up">-->
				<!--							<div class="box-body">-->
				<!--								<div class="d-flex align-items-center font-size-18">-->
				<!--									<div class="icon">-->
				<!--										<i class="mdi mdi-star-circle text-white mr-10"></i>-->
				<!--									</div>-->
				<!--									<p class="font-weight-medium mb-0 text-white">电子刊数量</p>-->
				<!--								</div>-->
				<!--								<div class="d-flex align-items-center flex-wrap">-->
				<!--									<h2 class="font-weight-normal text-white" th:text="${bookNumber}">587</h2>-->
				<!--									&lt;!&ndash;									<div class="badge badge-outline badge-pill ml-5">&ndash;&gt;-->
				<!--									&lt;!&ndash;										<div class="d-flex align-items-baseline">&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mr-2">Hi.</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mb-0">85</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mdi mdi-arrow-up"></span>&ndash;&gt;-->
				<!--									&lt;!&ndash;										</div>&ndash;&gt;-->
				<!--									&lt;!&ndash;									</div>&ndash;&gt;-->
				<!--								</div>-->
				<!--								<small class="font-weight-medium d-block text-white-50">发售至今</small>-->
				<!--							</div>-->
				<!--						</div>-->
				<!--					</div>-->
				<!--					<div class="col-lg-3 col-md-6 col-12">-->
				<!--						<div class="box box-info pull-up">-->
				<!--							<div class="box-body">-->
				<!--								<div class="d-flex align-items-center font-size-18">-->
				<!--									<div class="icon">-->
				<!--										<i class="mdi mdi-truck text-white mr-10"></i>-->
				<!--									</div>-->
				<!--									<p class="font-weight-medium mb-0 text-white">电子刊销量</p>-->
				<!--								</div>-->
				<!--								<div class="d-flex align-items-center flex-wrap">-->
				<!--									<h2 class="font-weight-normal text-white" th:text="${soldNumber}">469</h2>-->
				<!--									&lt;!&ndash;									<div class="badge badge-outline badge-pill ml-5">&ndash;&gt;-->
				<!--									&lt;!&ndash;										<div class="d-flex align-items-baseline">&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mr-2">Hi.</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mb-0">56</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mdi mdi-arrow-up"></span>&ndash;&gt;-->
				<!--									&lt;!&ndash;										</div>&ndash;&gt;-->
				<!--									&lt;!&ndash;									</div>&ndash;&gt;-->
				<!--								</div>-->
				<!--								<small class="font-weight-medium d-block text-white-50">发售至今</small>-->
				<!--							</div>-->
				<!--						</div>-->
				<!--					</div>-->
				<!--					<div class="col-lg-3 col-md-6 col-12">-->
				<!--						<div class="box box-warning pull-up">-->
				<!--							<div class="box-body">-->
				<!--								<div class="d-flex align-items-center font-size-18">-->
				<!--									<div class="icon">-->
				<!--										<i class="mdi mdi-basket text-white mr-10"></i>-->
				<!--									</div>-->
				<!--									<p class="font-weight-medium mb-0 text-white">电子刊订阅数</p>-->
				<!--								</div>-->
				<!--								<div class="d-flex align-items-center flex-wrap">-->
				<!--									<h2 class="font-weight-normal text-white" th:text="${subscribeSum}">745</h2>-->
				<!--									&lt;!&ndash;									<div class="badge badge-outline badge-pill ml-5">&ndash;&gt;-->
				<!--									&lt;!&ndash;										<div class="d-flex align-items-baseline">&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mr-2">Low</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mb-0">12</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mdi mdi-arrow-down"></span>&ndash;&gt;-->
				<!--									&lt;!&ndash;										</div>&ndash;&gt;-->
				<!--									&lt;!&ndash;									</div>&ndash;&gt;-->
				<!--								</div>-->
				<!--								<small class="font-weight-medium d-block text-white-50">发售至今</small>-->
				<!--							</div>-->
				<!--						</div>-->
				<!--					</div>-->
				<!--					<div class="col-lg-3 col-md-6 col-12">-->
				<!--						<div class="box box-danger pull-up">-->
				<!--							<div class="box-body">-->
				<!--								<div class="d-flex align-items-center font-size-18">-->
				<!--									<div class="icon">-->
				<!--										<i class="mdi mdi-package-down text-white mr-10"></i>-->
				<!--									</div>-->
				<!--									<p class="font-weight-medium mb-0 text-white">电子刊阅读数</p>-->
				<!--								</div>-->
				<!--								<div class="d-flex align-items-center flex-wrap">-->
				<!--									<h2 class="font-weight-normal text-white" th:text="${readingNumber}">254</h2>-->
				<!--									&lt;!&ndash;									<div class="badge badge-outline badge-pill ml-5">&ndash;&gt;-->
				<!--									&lt;!&ndash;										<div class="d-flex align-items-baseline">&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mr-2">Low</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mb-0">23</span>&ndash;&gt;-->
				<!--									&lt;!&ndash;											<span class="mdi mdi-arrow-down"></span>&ndash;&gt;-->
				<!--									&lt;!&ndash;										</div>&ndash;&gt;-->
				<!--									&lt;!&ndash;									</div>&ndash;&gt;-->
				<!--								</div>-->
				<!--								<small class="font-weight-medium d-block text-white-50">发售至今</small>-->
				<!--							</div>-->
				<!--						</div>-->
				<!--					</div>-->
				<!--				</div>-->
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<script th:inline="javascript">
	/*<![CDATA[*/

	jQuery(document).ready(function ($) {
		console.log("OK");
	});
	/*]]>*/
</script>
</body>
</html>