<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title></title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img{
			max-width:400px;
			max-height:300px;
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0"></h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
							</form>
						</div>
						<div class="box-body">
							<form role="form" id="saveForm" class="form-horizontal">
								<input type="hidden" name="id" value=''/>
								<input type="hidden" name="value" value=''/>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">App图片</label>
											<input type="file" class="form-control" name="logoFile" onchange="uploadFile(this)"/>
											<input type="hidden" class="form-control" name="logo" />
											<img alt="" src='' name="logoImg" style="display:none;"/>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-info save">保存</button>
									<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
								</div>
							</form>
							<form role="form" id="sameForm" class="form-horizontal">
								<input type="hidden" name="id" value=''/>
								<input type="hidden" name="value" value=''/>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">小程序图片</label>
											<input type="file" class="form-control" name="logoFileXcx" onchange="uploadFileXcx(this)"/>
											<input type="hidden" class="form-control" name="logoXcx" />
											<img alt="" src='' name="logoImgXcx" style="display:none;"/>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-info save">保存</button>
									<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
								</div>
							</form>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<script th:inline="javascript">
	/*<![CDATA[*/

	function formatTime(time) {
		return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
	}

	function buildImg(url) {
		return "<img width='100px' height='100px' src='#' />".replace("#", url);
	}

	function uploadFile(self) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name=logo]").val(url);
					that.parent().find("[name=logoImg]").attr("src", url);
					that.parent().find("[name=logoImg]").attr("width", "300px");
					that.parent().find("[name=logoImg]").attr("height", "300px");
					that.parent().find("[name=logoImg]").show();
				});
			});
		} else {
			confirm("未选择任何文件!");
		}
	}

	function uploadFileXcx(self) {
		var that = $(self);
		if (self.files.length > 0) {
			var file = self.files[0];
			getQNToken(function (token) {
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name=logoXcx]").val(url);
					that.parent().find("[name=logoImgXcx]").attr("src", url);
					that.parent().find("[name=logoImgXcx]").attr("width", "300px");
					that.parent().find("[name=logoImgXcx]").attr("height", "300px");
					that.parent().find("[name=logoImgXcx]").show();
				});
			});
		} else {
			confirm("未选择任何文件!");
		}
	}

	function getQNToken(cb) {
		$.get("/qiniu/token", {}, function (token) {
			cb(token);
		});
	}

	var qiniuUrl = [[${qiniuUrl}]];
	var image = [[${image}]];
	var imageXcx = [[${imageXcx}]];
	var type = [[${type}]];
	var value = [[${value}]];
	jQuery(document).ready(function($)
	{
		$("title").html(value);
		$(".activityDescription").html(value);
		$(".active strong").html(value);
		$(".panel-title").html(value);
		$("h3.page-title").html(value);

		var form = $("#saveForm");
		var sameform = $("#sameForm");
		form.find("input[name='id']").val(type);
		sameform.find("input[name='id']").val(type);
		form.find("input[name='value']").val(value);
		sameform.find("input[name='value']").val(value);
		form.find("input[name='logo']").val(image);
		sameform.find("input[name='logoXcx']").val(imageXcx);
		form.find("img[name='logoImg']").attr("src", image);
		sameform.find("img[name='logoImgXcx']").attr("src", imageXcx);
		if (image != '') {
			form.find("img[name='logoImg']").show();
		}
		if (imageXcx != '') {
			sameform.find("img[name='logoImgXcx']").show();
		}

		//保存
		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var sameform = $("#sameForm");
			var form = $("#saveForm");
			//已上传的图片地址
			var logo = form.find("input[name='logo']").val();
			var img = sameform.find("input[name='logoXcx']").val();

			if (logo == '') {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}

			//获取token
			$.get("/qiniu/token", {}, function (token) {
				if (token != '') {
					var data = $("#saveForm").serializeArray();
					data.push({"name": "logoXcx", "value": img});
					$.post("/index_save", data, function (data) {
						if (data) {
							footer.find("button").show();
							footer.find(".bg-lg").hide();
							jQuery('#modal-6').modal('hide');
							toastr.success("操作已成功！", "温馨提示");
						} else {
							footer.find("button").show();
							footer.find(".bg-lg").hide();
							toastr.error("操作失败", "温馨提示");
						}
					});
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("上传文件错误，请联系管理员", "温馨提示");
				}
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>