<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>商户订单排行</title>
	<link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img{
			max-width:400px;
			max-height:300px;
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">商户订单排行</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<label for="sTime" class="control-label">开始时间</label>
										<input type="text" class="form-control" name="sTime" id="sTime" style="height:35px"
											   placeholder="开始时间"/>
									</div>
									<div class="input-group">
										<label for="eTime" class="control-label">结束时间</label>
										<input type="text" class="form-control" name="eTime" id="eTime" style="height:35px"
											   placeholder="结束时间"/>
									</div>
									<div class="input-group">
										<label class="control-label">商户名称</label>
										<input type="text" class="form-control" name="mName" style="height:35px"
											   placeholder="商户名称"/>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped" style="width: 100%;">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
<script src="assets/js/dataTables.rowReorder.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

	function buildImg(url) {
		return "<img width='100px' height='100px' src='#' />".replace("#", url);
	}

	function goToDetail(id) {
		window.open('/order.html?mid=' + id, "_blank");
	}

	var table_global;
	jQuery(document).ready(function($)
	{
		jQuery.datetimepicker.setLocale('zh');
		jQuery('#sTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		jQuery('#eTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			lengthChange: false,
			paging: false,
			bFilter: false,
			bServerSide: false,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "data",//是服务器分页的标志，必须有
			sAjaxSource: "/merchantOrder_list",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			order: [[6, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "merchantId",
					title: "商户ID"
				},
				{
					targets: 1,
					data: "merchantName",
					title: "商户名"
				},
				{
					targets: 2,
					data: "merchantLogo",
					title: "商户LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 3,
					data: "merchantBrandCount",
					title: "售卖品牌数"
				},
				{
					targets: 4,
					data: "merchantOrderCount",
					title: "订单数"
				},
				{
					targets: 5,
					data: "merchantGoodsCount",
					title: "商品数"
				},
				{
					targets: 6,
					data: "merchantPrice",
					title: "订单总金额",
					render: function (data, type, row, meta) {
						return data.toFixed(2);
					}
				},
				{
					targets: 7,
					data: "merchantId",
					title: "操作",
					render: function (data, type, row, meta) {
						return `<input type="button" value="查看" onclick="goToDetail(ID)" />`.replace("ID", data);
					}
				}
			]
		});
		table_global = oTable;
		table_global.on('row-reorder', function (e, diff, edit) {
			console.log(diff);
		});
		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			table_global.api().ajax.reload();
			// oTable.fnDraw(); //or fnReloadAjax()
			return false;
		});
	});
	/*]]>*/
</script>
</body>
</html>