<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>订单管理</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">订单管理</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>订单管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline" id="queryForm">
                        <div class="form-group" style="margin-left: 0;margin-bottom: 15px;display: block;">
                            <input type="hidden" name="theId"/>
							<div class="input-group">
								<label for="merchantId" class="control-label">商户</label>
								<select id="merchantId" name="merchantId" class="form-control" style="height:35px">
								</select>
							</div>
							<div class="input-group">
								<label for="orderNo" class="control-label">订单号</label>
								<input id="orderNo" type="text" name="orderNo" class="form-control" style="height:35px" placeholder="订单号"/>
							</div>
                            <div class="input-group">
                                <label for="sTime" class="control-label">开始时间</label>
                                <input type="text" class="form-control" name="sTime" id="sTime" style="height:35px"
                                       placeholder="开始时间"/>
                            </div>
                            <div class="input-group">
                                <label for="eTime" class="control-label">结束时间</label>
                                <input type="text" class="form-control" name="eTime" id="eTime" style="height:35px"
                                       placeholder="结束时间"/>
                            </div>
							<div class="input-group">
								<label for="userId" class="control-label">用户</label>
								<input id="userId" type="text" name="userId" class="form-control" style="height:35px" placeholder="用户"/>
							</div>

						</div>
                        <div class="form-group" style="margin-left: 0;margin-bottom: 15px;display: block;">
							<div class="input-group">
								<label for="type" class="control-label">主分类</label>
								<select id="type" name="type" class="form-control" style="height:35px" onchange="renderCategory(this)">
									<option value="" selected="selected">全部</option>
								</select>
							</div>
							<div class="input-group">
								<label for="category" class="control-label">子分类</label>
								<select id="category" name="category" class="form-control" style="height:35px">
									<option value="" selected="selected">全部</option>
								</select>
							</div>
                            <div class="input-group">
                                <label for="payMethod" class="control-label">支付渠道</label>
                                <select id="payMethod" name="payMethod" class="form-control" style="height:35px">
                                    <option value="" selected="selected">全部</option>
                                    <option value="wxpay">微信</option>
                                    <option value="alipay">支付宝</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <label for="status" class="control-label">状态</label>
                                <select id="status" name="status[]" class="form-control js-example-basic-multiple" style="height:35px" multiple="multiple">
                                    <option value="" selected="selected">全部</option>
                                    <option value="0">已下单</option>
                                    <option value="1">已付款</option>
                                    <option value="2">已发货</option>
                                    <option value="3">已收货</option>
                                    <option value="4">取消</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left: 0;margin-bottom: 15px;display: block;">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
							<button class="btn btn-secondary btn-single exportBtn" style="height:35px">导出</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
				<!--<button class="btn btn-info add" >添加</button>-->
				<!--<button class="btn btn-info edit">修改</button>-->
				<!--<button class="btn btn-info del">删除</button>-->
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">发货</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
						<input type="hidden" name="id"/>
                        <input type="hidden" name="action"/>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="expressCode" class="control-label">配送方式</label>
									<select id="expressCode" class="form-control" name="expressCode">
                                        <option value="yuantong">圆通速递</option>
                                        <option value="zhongtong">中通快递</option>
                                        <option value="shentong">申通快递</option>
                                        <option value="yunda">韵达快递</option>
                                        <option value="shunfeng">顺丰速运</option>
                                        <option value="youzhengguonei">邮政快递包裹</option>
                                        <option value="jd">京东物流</option>
                                        <option value="huitongkuaidi">百世快递</option>
                                        <option value="ems">EMS</option>
                                        <option value="tiantian">天天快递</option>
                                        <option value="debangwuliu">德邦</option>
                                        <option value="baishiwuliu">百世快运</option>
                                        <option value="youshuwuliu">优速物流</option>
                                        <option value="pjbest">品骏快递</option>
                                        <option value="zhaijisong">宅急送</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="mailNo" class="control-label">快递单号</label>
									<input id="mailNo" type="text" class="form-control" name="mailNo" placeholder="快递单号"/>
								</div>
							</div>
						</div>
					</form>
				</div>
				
				<div class="modal-footer">
				 	<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">查看详情</h4>
				</div>

				<div class="modal-body" id="preview_body"></div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="type_and_category_list"/>
	<script src="js/common.js"></script>
	<script src="assets/js/moment.min.js"></script>
    <script src="assets/js/jquery.datetimepicker.full.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

	function appendToPreview(key, value) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				key +
				'</div>' +
				'<div class="col-md-10">' +
				value +
				'</div>' +
				'</div>';
	}

    function checkIt(data) {
        var preview = $("#preview_body");
        var contentStr = "";
        contentStr += appendToPreview("信息:", data["message"]);
        contentStr += "<hr/>";
        for (var a in data["data"]) {
            a = data["data"][a];
            contentStr += appendToPreview("内容:", a["context"]);
            contentStr += appendToPreview("时间:", a["time"]);
        }
        preview.html(contentStr);
        jQuery('#preview').modal('show', {backdrop: 'fade'});
    }

	function goToDetail(id) {
		window.open('/order_detail.html?id=' + id, "_blank");
	}

	function checkSku(id) {
		window.location.href = '/goods_stock_index.html?id=' + id;
	}

	var table_global;

	function closeOrder(id) {
		$.post("/order_closeOrder", {"id": id}, function (data) {
			if (data) {
				table_global.fnDraw();
				toastr.success("操作已成功！", "温馨提示");
			} else {
				toastr.error("操作失败", "温馨提示");
			}
		});
	}

	function cancelOrder(id) {
		var confirm = window.confirm("你确定要这么做？");
		if (confirm == false) {
			return;
		}
		$.post("/order_cancelOrder", {"id": id}, function (data) {
			if (data.hasOwnProperty("msg")) {
				table_global.fnDraw();
				toastr.success("操作已成功！", "温馨提示");
			} else {
				toastr.error("操作失败" + data["error"], "温馨提示");
			}
		});
	}

	function deliverOrder(id, orderNo) {
		$.post("/refund_find", {"orderNo": orderNo}, function (data) {
			if (data) {
				toastr.error("该笔订单正在申请退款，不能进行发货操作", "温馨提示");
			} else {
				var form = $("#saveForm");
				form.find("input").val("");
				form.find("[name='id']").val(id);
				form.find("[name='action']").val("create");
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			}
		});
	}

    function editDeliveredOrder(id) {
        $.post("/order_getDeliveredOrder", {"id": id}, function (data) {
            if (data != '') {
                var form = $("#saveForm");
                form.find("select[name='expressCode']").val(data["expressCode"]);
                form.find("input[name='mailNo']").val(data["mailNo"]);
                form.find("[name='id']").val(id);
                form.find("[name='action']").val("update");
                jQuery('#modal-6').modal('show', {backdrop: 'fade'});
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function trackOrder(id) {
        $.post("/order_trackOrder", {"id": id}, function (data) {
            console.log(data);
            if (data != '') {
                checkIt(JSON.parse(data));
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

	function bindMerchantSelector(data) {
		var brandStr = "";
		for (var brand in data) {
			brand = data[brand];
			if (parseInt(brand["id"]) == 0) {
				brandStr += '<option value="VALUE" selected=\'selected\'>KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
			} else {
				brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
			}
		}
		$("#merchantId").html(brandStr);
	}

	function bindTypeSelector(data) {
		var typeStr = "<option value=\"\" selected=\"selected\">全部</option>";
		for (var type in data) {
			type = data[type];
			typeStr += '<option value="VALUE">KEY</option>'.replace("VALUE", type["name"]).replace("KEY", type["name"]);
		}
		$("#type").html(typeStr);
		bindCategorySelector(data[0]["sub"]);
	}

	function bindCategorySelector(data) {
		var categoryStr = "<option value=\"\" selected=\"selected\">全部</option>";
		for (var category in data) {
			category = data[category];
			categoryStr += '<option value="VALUE">KEY</option>'.replace("VALUE", category["name"]).replace("KEY", category["name"]);
		}
		$("#category").html(categoryStr);
	}

	function renderCategory(self) {
		var jsonStr = $("#type_and_category_list").val();
		var list = JSON.parse(jsonStr);
		var selectedId = $(self).val();
		for (var type in list) {
			if (selectedId == list[type]["name"]) {
				bindCategorySelector(list[type]["sub"]);
				break;
			}
		}
	}

	function toDec(self) {
		var btn = $(self);
		var div = btn.parent().find("div");
		var num = parseInt(div[0].innerHTML, 8);
		div.html(num);
		btn.val("加密");
		//remove old handler
		btn.prop("onclick", null);
		btn.removeAttr("onclick");
		btn.off("click");
		//bind new
		btn.on("click", function () {
			toOct(self);
		});
	}

	function toOct(self) {
		var btn = $(self);
		var div = btn.parent().find("div");
		var num = parseInt(div[0].innerHTML);
		div.html(num.toString(8));
		btn.val("解密");
		//remove old handler
		btn.prop("onclick", null);
		btn.removeAttr("onclick");
		btn.off("click");
		//bind new
		btn.on("click", function () {
			toDec(self);
		});
	}

    jQuery(document).ready(function($)
	{
        var qiniuUrl = [[${qiniuUrl}]];
        var theId = [[${theId}]];
        if (theId != null) {
            var form = $("#queryForm");
            form.hide();
            form.find("[name='theId']").val(theId);
        } else {
            jQuery.datetimepicker.setLocale('zh');
            jQuery('#sTime').datetimepicker(
                {
                    "lang": "zh",
                    "format": "Y-m-d H:i:s",
                    "timepicker": true,
                    "datepicker": true,
                    "defaultDate": new Date(),
                    "defaultTime": "00:00:00"
                }
            );
            jQuery('#eTime').datetimepicker(
                {
                    "lang": "zh",
                    "format": "Y-m-d H:i:s",
                    "timepicker": true,
                    "datepicker": true,
                    "defaultDate": new Date(),
                    "defaultTime": "00:00:00"
                }
            );
        }
        var oTable;

		$.getJSON("/merchant_list_all", {}, function (data) {
			bindMerchantSelector(data);
			oTable = $("#example-1").dataTable({
				language: {
					url: "../assets/Chinese.txt"
				},
				aLengthactivity: [
					[10, 25, 50, 100], [10, 25, 50, 100]
				],
				bFilter: false,
				bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
				sAjaxDataProp: "aData",//是服务器分页的标志，必须有
				sAjaxSource: "/order_list",//通过ajax实现分页的url路径。
				fnServerParams: function (aData) {
					var searchArray = $(".form-inline").serializeArray();
					$.merge(aData, searchArray);
				},
				columnDefs: [
					{
						targets: 0,
						data: "id",
						width: "5%",
						orderable: false,
						className: 'select-checkbox',
						title: '<input type="checkbox" id="checkbox-all"/>',
						render: function (data, type, full, meta) {
							return '<input type="checkbox" name="activityId" value="' + data + '" />';
						}
					},
					{
						targets: 1,
						data: "id",
						title: "序号"
					},
					{
						targets: 2,
						data: "orderNo",
						title: "订单号",
						render: function (data, type, row, meta) {
							var btn = '<input type="button" value="解密" onclick="toDec(this)">';
							var div = '<div>VALUE</div>'.replace("VALUE", data);
							if (isNaN(data)) {
								return "<div>" + div + "</div>";
							} else {
								return "<div>" + div + btn + "</div>";
							}
						}
					},
					{
						targets: 3,
						data: "userId",
						title: "用户ID"
					},
					{
						targets: 4,
						data: "price",
						title: "商品总价"
					},
					// {
					// 	targets: 5,
					// 	data: "price_alt",
					// 	title: "订单结算价",
					// 	render: function (data, type, row, meta) {
					// 		return parseFloat(data).toFixed(2);
					// 	}
					// },asdasdas
					{
						targets: 5,
						data: "amount",
						title: "实付金额"
					},
                    {
                        targets: 6,
                        data: "mailFee",
                        title: "运费"
                    },
                    {
                        targets: 7,
                        data: "pvoucherAmount",
                        title: "平台优惠券金额"
                    },
                    {
                        targets: 8,
                        data: "mvoucherAmount",
                        title: "店铺优惠券金额"
                    },
					{
						targets: 9,
						data: "promotionAmount",
						title: "商户促销优惠金额"
					},
					{
						targets: 10,
						data: "platformPromotionAmount",
						title: "平台促销优惠金额"
					},
					{
						targets: 11,
						data: "gift",
						title: "赠品"
					},
                    {
                        targets: 12,
                        data: "sub",
                        title: "订单内商品",
						render: function (data, type, row, meta) {
							var str = "";
							var refundList = row["refund"];
							var refundMap = {};
							for (var k in refundList) {
								refundMap[refundList[k]["orderGoodsId"]] = refundList[k];
							}
							for (var i in data) {
								var it = data[i];
								if (refundMap.hasOwnProperty(it["goodsId"])) {
									str += "<p style='color: red'>" + it["goodsName"] + "&nbsp;" + it["remark"] + "&nbsp;" + it["goodsCount"] + "件</p>";
								} else {
									str += "<p>" + it["goodsName"] + "&nbsp;" + it["remark"] + "&nbsp;" + it["goodsCount"] + "件</p>";
								}
							}
							return str;
						}
                    },
					{
						targets: 13,
						data: "status",
						title: "状态",
						render: function (data, type, row, meta) {
							//状态[0-已下单,1-已付款,2-已发货,3-已收货,4-取消] **/
							var map = ["已下单", "已付款", "已发货", "已收货", "取消"];
							return map[parseInt(data)];
						}
					},
					{
						targets: 14,
						data: "payChannel",
						title: "支付渠道",
						render: function (data, type, row, meta) {
							//支付渠道[wxpay,alipay]
							var map = {"wxpay": "微信支付", "alipay": "支付宝"};
							return map.hasOwnProperty(data) ? map[data] : "未知";
						}
					},
					{
						targets: 15,
						data: "preorderNo",
						title: "总订单号",
						render: function (data, type, row, meta) {
							var btn = '<input type="button" value="解密" onclick="toDec(this)">';
							var div = '<div>VALUE</div>'.replace("VALUE", data);
							if (isNaN(data)) {
								return "<div>" + div + "</div>";
							} else {
								return "<div>" + div + btn + "</div>";
							}
						}
					},
					{
						targets: 16,
						data: "createTime",
						title: "创建时间",
						render: function (data, type, row, meta) {
							return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
						}
					},
					{
						targets: 17,
						data: "remark",
						title: "备注"
					},
					{
						targets: 18,
						data: "merchantName",
						title: "商户名"
					},
					{
						targets: 19,
						data: "id",
						orderable: false,
						title: "操作",
						render: function (data, type, full, meta) {
							return '<input type="button" name="checkIt" onclick="goToDetail(' + data + ')" value="查看详情"/>';
						}
					},
					{
						targets: 20,
						data: "id",
						orderable: false,
						title: "操作",
						render: function (data, type, full, meta) {
                            var str = "";
                            //状态[0-已下单,1-已付款,2-已发货,3-已收货,4-取消] **/
                            var status = parseInt(full["status"]);
                            if (status == 0) {
                                str += '<input type="button" onclick="closeOrder(' + data + ')" value="关闭订单"/>';
                            }
							if (status == 1) {
								str += '<input type="button" onclick="deliverOrder(' + data + ',\'' + full["orderNo"] + '\')" value="订单发货"/>';
							}
                            if (status == 1 || status == 2 || status == 3) {
                                // str += '<input type="button" onclick="cancelOrder(' + data + ')" value="紧急退款"/>';
                            }
                            if (status == 2) {
                                str += '<input type="button" onclick="trackOrder(' + data + ')" value="订单跟踪"/>';
                                str += '<input type="button" onclick="editDeliveredOrder(' + data + ')" value="修改订单号"/>';
                            }
                            return str;
						}
					}
				],
				"footerCallback": function (row, data, start, end, display) {
                    var api = this.api();
                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return parseFloat(i);
                    };
                    // Total over all pages
                    var total = api
                        .column(4)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over all pages
                    var totalPay = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over all pages
                    var totalMailFee = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over all pages
                    var totalCouponOfPlatform = api
                        .column(7)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over all pages
                    var totalCouponOfMerchant = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
					// Update footer part 1
                    $(this).find("#tfoot1").html(
                        '当页订单价格总计￥' + (total - totalCouponOfMerchant).toFixed(2) + '元 == 商品总价￥' + total.toFixed(2) + " 减去 商家优惠总和￥" + totalCouponOfMerchant.toFixed(2) + "&nbsp;&nbsp;&nbsp;" +
                        '当页实付金额总计￥' + totalPay.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '当页平台优惠券金额总计￥' + totalCouponOfPlatform.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '当页运费总计￥' + totalMailFee.toFixed(2) + '元'
                    );
					var searchArray = $(".form-inline").serializeArray();
                    $.post("order_list_all", searchArray, function (data) {
                        var total = parseFloat(data["price"]);
                        var totalPay = parseFloat(data["amount"]);
                        var totalMailFee = parseFloat(data["mailFee"]);
                        var totalCoupon = parseFloat(data["pVoucherAmount"]);
                        var totalCouponM = parseFloat(data["mVoucherAmount"]);
                        // Update footer part 2
                        $("#tfoot2").html(
                            '全部订单价格总计￥' + (total - totalCouponM).toFixed(2) + '元 == 商品总价￥' + total.toFixed(2) + " 减去 商家优惠总和￥" + totalCouponM.toFixed(2) + "&nbsp;&nbsp;&nbsp;" +
                            '全部实付金额总计￥' + totalPay.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                            '全部平台优惠券金额总计￥' + totalCoupon.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                            '全部运费总计￥' + totalMailFee.toFixed(2) + '元'
                        );
                    });
				}
			});
			setTimeout(function () {
				// $("#example-1").append(
				// 		$('<tfoot/>').append($("#example-1 thead tr").clone())
				// );
				$("#example-1").append('<tfoot><tr><td id="tfoot1" colspan="9"></td><td id="tfoot2" colspan="7"></td></tr></tfoot>');
				oTable.fnDraw(); //or fnReloadAjax()
			}, 500);
			table_global = oTable;
		});

		$('.js-example-basic-multiple').select2();

		$.getJSON("/type_and_category_list", {}, function (data) {
			$("#type_and_category_list").val(JSON.stringify(data));
			bindTypeSelector(data);
		});
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

        $('#example-1').on('click', "#checkbox-all", function () {
            var obj = $(this);
            $("input[name='activityId']").each(function (i, e) {
                this.checked = obj[0].checked;
            });
        });

		$(".exportBtn").click(function () {
			var searchArray = $(".form-inline").serialize();
			window.open('/order_list_export.html?' + searchArray, "_blank");
			return false;
		});

        $(".btn.btn-info.add").click(function(){
			window.location.href = '/goods_add.html';
        });



		//保存
		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			var expressCode = form.find("input[name='expressCode']").val();
			var mailNo = form.find("input[name='mailNo']").val();

			if (expressCode == '' || mailNo == '') {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}

			//获取token
			$.get("/qiniu/token", {}, function (token) {
				if (token != '') {
					async.series({
						one: function (callback) {
							callback();
						},
						two: function (callback) {
							callback();
						},
						three: function (callback) {
							//提交保存
							$.post("/order_deliverOrder", $("#saveForm").serialize(), function (data) {
								if (data) {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									oTable.fnDraw();
								} else {
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
								}
								callback();
							});
						}
					}, function (err, results) {
						console.log("OK");
					});
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("错误，请联系管理员", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function(){
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}

			$.post("/brand_get", {id: activityId.val()}, function (data) {
				var form = $("#saveForm");
				form.find("input:not(.notMe)").val("");
				for (var i in data) {
					var ele = form.find("input[name='" + i + "']");
					switch (ele.attr("type")) {
						case "radio":
							ele.val([data[i]]);
							break;
						default:
							ele.val(data[i]);
					}
					form.find("img[name='" + i + "Img']").attr("src", data[i]);
					form.find("img[name='" + i + "Img']").show();
				}
				form.find(".btn.image").show();
				jQuery('#modal-6').modal({backdrop: 'static', keyboard: false});
			});
		});

		$(".btn.btn-info.del").click(function(){
			var activityId = $("input[name='activityId']:checked");
			if(activityId.length < 1){
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return ;
			}

			var ids = [];
			activityId.each(function(i,e){
				ids.push(e.value);
			});

			$.post("/goods_del",{ids:ids},function(data){
				if(data){
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			})
		});

        $(".btn.btn-info.up").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_up",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_down",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
	});
	/*]]>*/
	</script>
</body>

</html>
