<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>总订单管理</title>
	<link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
		.form-group img{
			max-width:400px;
			max-height:300px;
		}
	</style>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">总订单管理</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<label for="orderNo" class="control-label">订单号</label>
										<input id="orderNo" type="text" name="orderNo" class="form-control" style="height:35px" placeholder="订单号"/>
									</div>
									<div class="input-group">
										<label for="sTime" class="control-label">开始时间</label>
										<input type="text" class="form-control" name="sTime" id="sTime" style="height:35px"
											   placeholder="开始时间"/>
									</div>
									<div class="input-group">
										<label for="eTime" class="control-label">结束时间</label>
										<input type="text" class="form-control" name="eTime" id="eTime" style="height:35px"
											   placeholder="结束时间"/>
									</div>
									<div class="input-group">
										<label for="userId" class="control-label">用户</label>
										<input id="userId" type="text" name="userId" class="form-control" style="height:35px" placeholder="用户"/>
									</div>
									<div class="input-group">
										<label for="payMethod" class="control-label">支付渠道</label>
										<select id="payMethod" name="payMethod" class="form-control" style="height:35px">
											<option value="" selected="selected">全部</option>
											<option value="wxpay">微信</option>
											<option value="alipay">支付宝</option>
										</select>
									</div>
									<div class="input-group">
										<label for="status" class="control-label">状态</label>
										<select id="status" name="status" class="form-control" style="height:35px">
											<option value="" selected="selected">全部</option>
											<option value="0">待付款</option>
											<option value="1">已付款</option>
											<option value="2">交易关闭</option>
											<option value="3">付款中</option>
											<option value="4">取消</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped" style="width: 100%;">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/

	function toDec(self) {
		var btn = $(self);
		var div = btn.parent().find("div");
		var num = parseInt(div[0].innerHTML, 8);
		div.html(num);
		btn.val("加密");
		//remove old handler
		btn.prop("onclick", null);
		btn.removeAttr("onclick");
		btn.off("click");
		//bind new
		btn.on("click", function () {
			toOct(self);
		});
	}

	function toOct(self) {
		var btn = $(self);
		var div = btn.parent().find("div");
		var num = parseInt(div[0].innerHTML);
		div.html(num.toString(8));
		btn.val("解密");
		//remove old handler
		btn.prop("onclick", null);
		btn.removeAttr("onclick");
		btn.off("click");
		//bind new
		btn.on("click", function () {
			toDec(self);
		});
	}

	function formatTime(time) {
		return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
	}

	function buildImg(url) {
		return "<img width='100px' height='100px' src='#' />".replace("#", url);
	}

	function goToDetail(id) {
		window.open('/order.html?theId=' + id, "_blank");
	}

	var table_global;
	jQuery(document).ready(function ($) {
		var oTable;
		oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource: "/order_list_pre",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			order: [[6, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function (data, type, full, meta) {
						return '<input type="checkbox" name="activityId" value="' + data + '" />';
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "orderNo",
					title: "订单号",
					render: function (data, type, row, meta) {
						var btn = '<input type="button" value="解密" onclick="toDec(this)">';
						var div = '<div>VALUE</div>'.replace("VALUE", data);
						if (isNaN(data)) {
							return "<div>" + div + "</div>";
						} else {
							return "<div>" + div + btn + "</div>";
						}
					}
				},
				{
					targets: 3,
					data: "userId",
					title: "用户ID"
				},
				{
					targets: 4,
					data: "price",
					title: "商品总价"
				},
				{
					targets: 5,
					data: "amount",
					title: "实付金额"
				},
				{
					targets: 6,
					data: "status",
					title: "状态",
					render: function (data, type, row, meta) {
						//状态[0-待付款,1-已付款,2-交易关闭,,3-付款中] **/
						var map = ["待付款", "已付款", "交易关闭", "付款中", "取消"];
						return map[parseInt(data)];
					}
				},
				{
					targets: 7,
					data: "payChannel",
					title: "支付渠道",
					render: function (data, type, row, meta) {
						//支付渠道[wxpay,alipay]
						var map = {"wxpay": "微信支付", "alipay": "支付宝"};
						return map.hasOwnProperty(data) ? map[data] : "未知";
					}
				},
				{
					targets: 8,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 9,
					data: "remark",
					title: "备注"
				},
				{
					targets: 10,
					data: "orderNo",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						return '<input type="button" name="checkIt" onclick="goToDetail(\'' + data + '\')" value="查看子订单"/>';
					}
				}
			]
		});
		table_global = oTable;

		jQuery.datetimepicker.setLocale('zh');
		jQuery('#sTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		jQuery('#eTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()
			return false;
		});
	});
	/*]]>*/
</script>
</body>
</html>