<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>角色管理</title>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/multiselect/css/multi-select.css"/>
</head>
<body class="hold-transition skin-black light-sidebar sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
	<header th:replace="navbar"></header>
	<aside th:replace="sidebar-menu"></aside>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header d-none d-md-block">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title br-0">角色管理</h3>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
							<form role="form" class="form-inline">
								<div class="form-group ">
									<div class="input-group">
										<input type="text" name="name" class="form-control" style="height:35px" placeholder="角色名"/>
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-primary searchBtn" style="height:35px">查询</button>
								</div>
							</form>
						</div>
						<div class="box-body">
							<div class="table-responsive">
								<table id="example-1" class="table table-bordered table-striped">
								</table>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button class="btn btn-info add">添加</button>
							<button class="btn btn-info edit">修改</button>
							<button class="btn btn-info delete">删除</button>
						</div>
						<!-- /.box-footer-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer th:replace="footer"></footer>
</div>

<div class="modal fade" id="modal-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">温馨提示</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<p>您确定要删除选中角色吗？</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary float-right deleteBtn">确定</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" id="modal-6">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myLargeModalLabel">添加角色</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">角色名称</label>
								<input type="text" class="form-control" name="name" placeholder="角色名称"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class=" control-label">选择菜单</label>
								<div class="col-md-12">
									<select class="form-control" multiple="multiple" id="multi-select" name="resources">
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-info save">保存</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script src="assets/js/select2/select2.min.js"></script>
<script src="assets/js/multiselect/js/jquery.multi-select.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	jQuery(document).ready(function ($) {
		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			bFilter: false,
			bServerSide: true,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "aData",//是服务器分页的标志，必须有
			sAjaxSource : "/roles-data",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
			order: [[0, "desc"]],
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					title: '<div class="checkbox"><input type="checkbox" id="checkbox-all"><label for="checkbox-all"></label></div>',
					render: function (data, type, full, meta) {
						var uuid = UUID.randomUUID();
						return '<div class="checkbox"><input type="checkbox" name="roleId" id="UUID" value="DATA"><label for="UUID"></label></div>'.replace(/UUID/g, uuid).replace("DATA", data);
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "name",
					title: "角色名"
				},
				{
					targets: 3,
					data: "createdtime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				}
			]
		});

		$(".searchBtn").click(function () {
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw();  //or fnReloadAjax()
			return false;
		});

		$('#example-1').on('click', "#checkbox-all", function () {
			var obj = $(this);
			$("input[name='roleId']").each(function (i, e) {
				this.checked = obj[0].checked;
			});
		});

		$(".btn.btn-info.delete").click(function () {
			var roleId = $("input[name='roleId']:checked");
			if (roleId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}
			jQuery('#modal-1').modal('show', {backdrop: 'fade'});
		});

		$(".deleteBtn").click(function () {
			var ids = '';
			$("input[name='roleId']:checked").each(function (i, e) {
				ids += e.value + ",";
			});
			$.post("/roles-delete", {
				ids: ids
			}, function (data) {
				if (data) {
					jQuery('#modal-1').modal('hide');
					toastr.success("您的操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败,请稍后再试", "温馨提示");
				}
			});
			return false;
		});

		$(".btn.btn-info.add").click(function () {
			$("#saveForm").find("input[name='id']").val("");
			$.post("/menus-parent-notnull", {}, function (data) {
				$('#multi-select').empty();
				$.each(data, function (i, e) {
					$('#multi-select').append("<option value=" + e.id + ">" + e.name + "</option>");
				});
				$("#multi-select").multiSelect({
					afterInit: function () {
						// Add alternative scrollbar to list
						// this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
					},
					afterSelect: function () {
						// Update scrollbar size
						// this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
					}
				});
				$('#multi-select').multiSelect('refresh');
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			});
		});

		//保存
		$(".btn.btn-info.save").click(function () {
			var form = $("#saveForm");
			var name = form.find("input[name='name']").val();
			if (name == '') {
				toastr.error("角色名不能为空", "温馨提示");
				return;
			}
			var id = form.find("input[name='id']").val();
			$.post("/roles-save", {id: id, name: name, resources: $("#multi-select").val()}, function (data) {
				if (data) {
					jQuery('#modal-6').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw(oTable.fnSettings());
				} else {
					toastr.error("操作失败,请检查角色名是否已存在", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function () {
			var roleId = $("input[name='roleId']:checked");
			if (roleId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}
			$.get("/roles-one", {id: roleId.val()}, function (data) {
				var form = $("#saveForm");
				form.find("input[name='id']").val(data.role.id);
				form.find("input[name='name']").val(data.role.name);
				var resourceIds = data.resourceIds;
				$.post("/menus-parent-notnull", {}, function (data) {
					$('#multi-select').empty();
					$.each(data, function (i, e) {
						if ($.inArray(e.id, resourceIds) == -1) {
							$('#multi-select').append("<option value=" + e.id + ">" + e.name + "</option>");
						} else {
							$('#multi-select').append("<option value=" + e.id + " selected='selected'>" + e.name + "</option>");
						}
					});
					$("#multi-select").multiSelect({
						afterInit: function () {
							// Add alternative scrollbar to list
							// this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
						},
						afterSelect: function () {
							// Update scrollbar size
							// this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
						}
					});
					$('#multi-select').multiSelect('refresh');
					jQuery('#modal-6').modal('show', {backdrop: 'fade'});
				});
			});
		});
	});
	/*]]>*/
</script>
</body>
</html>