<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>财务报表</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">财务报表</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>财务报表</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
								<label for="merchantId" class="control-label">商户</label>
							</div>
							<div class="input-group">
								<select id="merchantId" name="merchantId" class="form-control" style="height:35px">
								</select>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
<!--				<button class="btn btn-info add" >添加</button>-->
<!--				<button class="btn btn-info edit">修改</button>-->
<!--				<button class="btn btn-info del">删除</button>-->
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title"></h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					</form>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>

    <div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">查看详情</h4>
                </div>

                <div class="modal-body" id="preview_body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

	<script src="js/common.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/datepicker/bootstrap-datepicker.js"></script>
	<script src="assets/js/daterangepicker/daterangepicker.js"></script>
	<script src="assets/js/timepicker/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/async.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

    function addMoreImg(self) {
        var that = $(self);
        that.before('<input type="file" class="form-control" name="detailImageFile" placeholder="详情图片"/>')
    }

    function addMoreText(self) {
        var that = $(self);
        that.before('<input type="number" class="form-control" name="goodsID" placeholder="填写商品ID"/>')
    }

    function closeIt(self) {
        var that = $(self);
        that.hide();
    }

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

    function appendToPreview(key, value) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            key +
            '</div>' +
            '<div class="col-md-10">' +
            value +
            '</div>' +
            '</div>';
    }

    function checkIt(id) {
    	alert("暂不支持");
    	return;
        $.post("/goodsType_find", {"id": id}, function (data) {
            if (data) {
                var preview = $("#preview_body");
                var contentStr = "";
                var mainObj = data["main"];
                contentStr += appendToPreview("编号:", mainObj["id"]);
                contentStr += appendToPreview("名称:", mainObj["name"]);
                contentStr += appendToPreview("图片:", buildImg(mainObj["image"]));
                contentStr += appendToPreview("创建时间:", formatTime(mainObj["createTime"]));
                contentStr += appendToPreview("备注:", mainObj["remark"]);

                for (var category in data["categoryList"]) {
                    category = data["categoryList"][category];
                    contentStr += appendToPreview("商品类别ID:", category["goodsType"]);
                    contentStr += appendToPreview("商品类别名称:", category["goodsTypeName"]);
                    contentStr += appendToPreview("创建时间:", formatTime(category["createTime"]));
                    contentStr += appendToPreview("图片:", buildImg(category["image"]));
                    contentStr += appendToPreview("名称:", category["name"]);
                    contentStr += appendToPreview("编号:", category["id"]);
                    contentStr += appendToPreview("备注:", category["remark"]);
                    contentStr += appendToPreview("排序:", category["sort"]);
                }
                preview.html(contentStr);
                jQuery('#preview').modal('show', {backdrop: 'fade'});
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

	function checkItsList(id) {
		window.location.href = '/settle_inner.html?id=' + id;
	}

	var table_global;

    function toggleTopIt(id) {
        $.post("/brand_toggleTop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function topIt(id) {
        $.post("/brand_top", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

    function unTopIt(id) {
        $.post("/brand_untop", {"id": id}, function (data) {
            if (data) {
                table_global.fnDraw();
                toastr.success("操作已成功！", "温馨提示");
            } else {
                toastr.error("操作失败", "温馨提示");
            }
        });
    }

	function renderBrand() {
		$.getJSON("/merchant_list_all", {}, function (data) {
			bindMerchantSelector(data);
		});
	}

	function bindMerchantSelector(data) {
		var brandStr = "";
		for (var brand in data) {
			brand = data[brand];
			if (parseInt(brand["id"]) == 0) {
				brandStr += '<option value="VALUE" selected=\'selected\'>KEY</option>'.replace("VALUE", " ").replace("KEY", brand["name"]);
			} else {
				brandStr += '<option value="VALUE">KEY</option>'.replace("VALUE", brand["id"]).replace("KEY", brand["name"]);
			}
		}
		$("#merchantId").html(brandStr);
	}

    jQuery(document).ready(function($)
	{
		var qiniuUrl = [[${qiniuUrl}]];
		renderBrand();
		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/settle_list",//通过ajax实现分页的url路径。
            fnServerParams : function(aData){
                var searchArray = $(".form-inline").serializeArray();
                $.merge(aData, searchArray);
            },
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function (data, type, full, meta) {
						return '<input type="checkbox" name="activityId" value="' + data + '" />';
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "merchantId",
					title: "商户ID"
				},
				{
					targets: 3,
					orderable: false,
					data: "merchantName",
					title: "商户名称"
				},
				{
					targets: 4,
					orderable: false,
					data: "merchantLogo",
					title: "商户LOGO",
					render: function (data, type, row, meta) {
						return buildImg(data);
					}
				},
				{
					targets: 5,
					data: "merchantGoodsCount",
					title: "商户在线商品数量"
				},
				{
					targets: 6,
					data: "orderAmount",
					title: "订单成交总金额"
				},
				{
					targets: 7,
					data: "orderCount",
					title: "订单成交总笔数"
				},
				// {
				// 	targets: 8,
				// 	data: "settledAmount",
				// 	title: "已结金额"
				// },
				// {
				// 	targets: 9,
				// 	data: "settledCount",
				// 	title: "已结订单笔数"
				// },
				// {
				// 	targets: 10,
				// 	data: "unsettledAmount",
				// 	title: "未结金额"
				// },
				// {
				// 	targets: 11,
				// 	data: "unsettledCount",
				// 	title: "未结订单笔数"
				// },
				{
					targets: 8,
					data: "statisticalTime",
					title: "统计时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 9,
					orderable: false,
					data: "remark",
					title: "备注"
				},
				{
					targets: 10,
					data: "version",
					title: "版本号"
				},
				{
					targets: 11,
					data: "id",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						return '<input type="button" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>';
					}
				},
				{
					targets: 12,
					data: "merchantId",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						return '<input type="button" name="checkIt" onclick="checkItsList(' + data + ')" value="查看详细对账"/>';
					}
				}
			]
		});

		table_global = oTable;
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

		$(".btn.btn-info.add").click(function () {
			var form = $("#saveForm");
			//form.find("input").val("");
			form.find("img").attr("src","");
			form.find("img").hide();
			form.find("input[type='file']").show();
			$(".imageShow").remove();
			jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			//window.location.href = '/merchant_add.html';
		});



		//保存
		$(".btn.btn-info.save").click(function(){
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			var name = form.find("input[name='name']").val();
			//文件
			var image = form.find("input[name='imageFile']").val();
			//已上传的图片地址
			var imageImg = form.find("input[name='image']").val();

			if (name == '') {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}
			var isOK = [];
			if (image == '' && imageImg == '') {
				isOK = checkImg([[image, "image"]]);
				if (typeof isOK == 'boolean') {
					return;
				}
			}

			//获取token
			$.get("/qiniu/token",{},function(token){
				if(token !=''){
					async.series({
						one: function (callback) {
							if (typeof isOK == 'object') {
								callback();
							} else {
								callback("ERROR");
							}
						},
						two: function(callback){
							//上传详情图
							async.eachSeries(Object.keys(isOK), function (item, cb) {
								var f = isOK[item];
								upload(item, token, f, function () {
									//
								}, function (err) {
									console.log("上传imageFile异常:" + err);
									cb(err);
								}, function (res) {
									//上传成功
									if (res != '') {
										var url = qiniuUrl + "/" + res.key;
										form.find("input[name='" + res.param + "']").val(url);
									}
									cb();
								});
							}, function () {
								callback();
							});
						},
						three: function(callback){
							//提交保存
							$.post("/goodsType_save",$("#saveForm").serialize(),function(data){
								if(data){
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									jQuery('#modal-6').modal('hide');
									toastr.success("操作已成功！", "温馨提示");
									oTable.fnDraw();
								}else{
									footer.find("button").show();
									footer.find(".bg-lg").hide();
									toastr.error("操作失败", "温馨提示");
								}
								callback();
							});
						}
					}, function(err, results) {
						console.log("OK");
					});
				}else{
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("上传文件错误，请联系管理员", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}

			$.post("/goodsType_get", {id: activityId.val()}, function (data) {
				var form = $("#saveForm");
				//商家
				for (var i in data) {
					var ele = form.find("input[name='" + i + "']");
					switch (ele.attr("type")) {
						case "radio":
							ele.val([data[i]]);
							break;
						default:
							if (data[i] != undefined && !isNaN(data[i]) && String(data[i]).length == 13) {
								ele.val(formatTime(data[i]));
								$("#" + i).val(formatTime(data[i]));
							} else {
								ele.val(data[i]);
							}
					}
					form.find("img[name='" + i + "Img']").attr("src", data[i]);
					form.find("img[name='" + i + "Img']").attr("width", 200);
					form.find("img[name='" + i + "Img']").attr("length", 200);
					form.find("img[name='" + i + "Img']").show();
				}
				form.find(".btn.image").show();
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			});
		});

		$(".btn.btn-info.del").click(function(){
			var activityId = $("input[name='activityId']:checked");
			if(activityId.length < 1){
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return ;
			}

			var ids = [];
			activityId.each(function(i,e){
				ids.push(e.value);
			});

			$.post("/goodsType_del",{ids:ids},function(data){
				if(data){
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			})
		});

        $(".btn.btn-info.up").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_up",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });

        $(".btn.btn-info.down").click(function(){
            var activityId = $("input[name='activityId']:checked");
            if(activityId.length < 1){
                toastr.error("请至少选择一条数据操作", "温馨提示");
                return ;
            }

            var ids = [];
            activityId.each(function(i,e){
                ids.push(e.value);
            });

            $.post("/banner_down",{ids:ids},function(data){
                if(data){
                    toastr.success("操作已成功！", "温馨提示");
                    oTable.fnDraw();
                }
            })
        });
	});
	/*]]>*/
	</script>
</body>

</html>
