<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>财务报表明细</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				<div class="title-env">
					<h1 class="title">财务报表明细</h1>
					<p class="activityDescription"></p>
				</div>
				<div class="breadcrumb-env">
					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>财务报表明细</strong></li>
					</ol>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline" id="queryForm">
						<div class="input-group">
							<label for="sTime" class="control-label">开始时间</label>
							<input type="text" class="form-control" name="sTime" id="sTime" style="height:35px"
								   placeholder="开始时间"/>
						</div>
						<div class="input-group">
							<label for="eTime" class="control-label">结束时间</label>
							<input type="text" class="form-control" name="eTime" id="eTime" style="height:35px"
								   placeholder="结束时间"/>
						</div>
						<div class="input-group">
							<label for="orderStatus" class="control-label">订单状态</label>
							<select id="orderStatus" name="orderStatus" class="form-control" style="height:35px">
								<option value="" selected="selected">全部</option>
								<option value="0">已下单</option>
								<option value="1">已付款</option>
								<option value="2">已发货</option>
								<option value="3">已收货</option>
								<option value="4">取消</option>
								<option value="5">已退款</option>
							</select>
						</div>
						<div class="input-group">
							<label for="status" class="control-label">结算状态</label>
							<select id="status" name="status" class="form-control" style="height:35px">
								<option value="" selected="selected">全部</option>
								<option value="0">待结算</option>
<!--								<option value="1">结算中</option>-->
								<option value="2">已结算</option>
							</select>
						</div>
						<div class="input-group">
							<label for="payChannel" class="control-label">支付渠道</label>
							<select id="payChannel" name="payChannel" class="form-control" style="height:35px">
								<option value="" selected="selected">全部</option>
								<option value="wxpay">微信支付</option>
								<option value="alipay">支付宝</option>
							</select>
						</div>
						<div class="form-group" style="margin-left: 0;margin-right:5px;margin-top:5px;display: block;">
							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>
							<button class="btn btn-secondary btn-single returnBtn" style="height:35px" onclick="return goBack()">返回财务报表</button>
						</div>
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
					
				</div>
				<button class="btn btn-info settle" >结算</button>
				<button class="btn btn-danger settleAll" >全部结算</button>
				<button class="btn btn-info export">导出</button>
<!--				<button class="btn btn-info del">删除</button>-->
			</div>
			
					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title"></h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					</form>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>
    <div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">查看详情</h4>
                </div>

                <div class="modal-body" id="preview_body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

	<script src="js/common.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
	<script src="assets/js/async.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

	function toDec(self) {
		var btn = $(self);
		var div = btn.parent().find("div");
		var num = parseInt(div[0].innerHTML, 8);
		div.html(num);
		btn.val("加密");
		//remove old handler
		btn.prop("onclick", null);
		btn.removeAttr("onclick");
		btn.off("click");
		//bind new
		btn.on("click", function () {
			toOct(self);
		});
	}

	function toOct(self) {
		var btn = $(self);
		var div = btn.parent().find("div");
		var num = parseInt(div[0].innerHTML);
		div.html(num.toString(8));
		btn.val("解密");
		//remove old handler
		btn.prop("onclick", null);
		btn.removeAttr("onclick");
		btn.off("click");
		//bind new
		btn.on("click", function () {
			toDec(self);
		});
	}


	function goBack() {
		window.location.href = '/settle.html';
		return false;
	}

	function closeIt(self) {
		var that = $(self);
		that.hide();
	}

    function formatTime(time) {
        return new Date(time).Format("yyyy-MM-dd hh:mm:ss");
    }

    function buildImg(url) {
        return "<img width='100px' height='100px' src='#' />".replace("#", url);
    }

    function appendToPreview(key, value) {
        return '<div class="row">' +
            '<div class="col-md-2">' +
            key +
            '</div>' +
            '<div class="col-md-10">' +
            value +
            '</div>' +
            '</div>';
    }

	function checkIt(id) {
		window.open('/order_detail.html?id=' + id, "_blank");
	}

	function calcAmount(id) {
		$.post("/settle_inner_calc", {"ids": [id]}, function (data) {
			if (data) {
				toastr.success("操作已成功！", "温馨提示");
				table_global.fnDraw(); //or fnReloadAjax()
			} else {
				toastr.error("操作失败", "温馨提示");
			}
		});
	}

	function settleOrder(id) {
		$.post("/settle_inner_settle", {"ids": [id]}, function (data) {
			if (data) {
				toastr.success("操作已成功！", "温馨提示");
				table_global.fnDraw(); //or fnReloadAjax()
			} else {
				toastr.error("操作失败", "温馨提示");
			}
		});
	}

    function batchSettle(idList) {
        $.post("/settle_inner_batchSettle", {"ids": idList}, function (data) {
            if (data) {
                if (parseInt(data) == 0) {
                    toastr.error("操作失败，无权限!", "温馨提示");
                } else {
                    toastr.success("操作已成功！", "温馨提示");
                    table_global.fnDraw();
                    alert("你需要结算给商户" + data + "元");
                }
            } else {
                toastr.error("操作失败，无权限!", "温馨提示");
            }
        });
    }

	var table_global;
	var qiniuUrl = [[${qiniuUrl}]];
	var theId = [[${theId}]];

    jQuery(document).ready(function($)
	{
		jQuery.datetimepicker.setLocale('zh');
		jQuery('#sTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);
		jQuery('#eTime').datetimepicker(
				{
					"lang": "zh",
					"format": "Y-m-d H:i:s",
					"timepicker": true,
					"datepicker": true,
					"defaultDate": new Date(),
					"defaultTime": "00:00:00"
				}
		);

		var oTable = $("#example-1").dataTable({
			language: {
                url: "../assets/Chinese.txt"
            },
			bFilter : false,
			bServerSide : true,//服务器处理分页，默认是false，需要服务器处理，必须true
            sAjaxDataProp : "aData",//是服务器分页的标志，必须有   
            sAjaxSource : "/settle_inner_list",//通过ajax实现分页的url路径。
            fnServerParams : function(aData){
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
				aData.push({"name": "theId", "value": theId});//append pid
			},
			columnDefs: [
				{
					targets: 0,
					data: "id",
					width: "5%",
					orderable: false,
					className: 'select-checkbox',
					title: '<input type="checkbox" id="checkbox-all"/>',
					render: function (data, type, full, meta) {
						return '<input type="checkbox" name="activityId" value="' + data + '" />';
					}
				},
				{
					targets: 1,
					data: "id",
					title: "序号"
				},
				{
					targets: 2,
					data: "orderNo",
					title: "订单号",
					render: function (data, type, row, meta) {
						var btn = '<input type="button" value="解密" onclick="toDec(this)">';
						var div = '<div>VALUE</div>'.replace("VALUE", data);
						if (isNaN(data)) {
							return "<div>" + div + "</div>";
						} else {
							return "<div>" + div + btn + "</div>";
						}
					}
				},
				{
					targets: 3,
					orderable: false,
					data: "goods",
					title: "商品名称",
					render: function (data, type, full, meta) {
						var str = "";
						var refundMap = {};
						for (var i in data) {
							var it = data[i];
							if (refundMap.hasOwnProperty(it["goodsId"])) {
								str += "<p style='color: red'>" + it["goodsName"] + "&nbsp;" + it["remark"] + "&nbsp;" + it["goodsCount"] + "件</p>";
							} else {
								str += "<p>" + it["goodsName"] + "&nbsp;" + it["remark"] + "&nbsp;" + it["goodsCount"] + "件</p>";
							}
						}
						return str;
					}
				},
				{
					targets: 4,
					data: "price",
					title: "订单总价"
				},
				{
					targets: 5,
					data: "amount",
					title: "实付金额"
				},
				{
					targets: 6,
					orderable: false,
					data: "mvoucherAmount",
					title: "店铺优惠券金额"
				},
				// {
				// 	targets: 6,
				// 	data: "pvoucherAmount",
				// 	title: "平台优惠券金额"
				// },
				// {
				// 	targets: 7,
				// 	data: "walletAmount",
				// 	title: "钱包金额"
				// },
				{
					targets: 7,
					data: "mailFee",
					title: "运费"
				},
				{
					targets: 8,
					orderable: false,
					data: "payChannel",
					title: "支付渠道",
					render: function (data, type, row, meta) {
						//支付渠道[wxpay,alipay]
						var map = {"wxpay": "微信支付", "alipay": "支付宝"};
						return map.hasOwnProperty(data) ? map[data] : "未知";
					}
				},
				// {
				// 	targets: 10,
				// 	data: "payFee",
				// 	title: "支付渠道手续费"
				// },
				{
					targets: 9,
					data: "cutRate",
					title: "抽成比率"
				},
				{
					targets: 10,
					data: "cutAmount",
					title: "抽成金额"
				},

				{
					targets: 11,
					data: "settledAmount",
					title: "结算金额"
				},
				{
					targets: 12,
					orderable: false,
					data: "remark",
					title: "订单状态",
					render: function (data, type, row, meta) {
						var param = $(".form-inline").serializeArray();
						var isRefund = false;
						for (var i in param) {
							i = param[i];
							if (i["name"] == 'orderStatus' && i["value"] == "5") {
								isRefund = true;
							}
						}
                        if (isRefund) {
                            return "<font color='red'>已退款</font>";
                        } else {
                            //状态[0-已下单,1-已付款,2-已发货,3-已收货,4-取消] **/
                            var map = ["已下单", "已付款", "已发货", "已收货", "取消", "<font color='red'>已退款</font>"];
                            return map.hasOwnProperty(parseInt(data)) ? map[parseInt(data)] : "";
                        }
					}
				},
				{
					targets: 13,
					orderable: false,
					data: "status",
					title: "结算状态",
					render: function (data, type, row, meta) {
						/** 状态[0-待结算,1-结算中,2-已结算] **/
						var map = ["待结算", "结算中(不再使用)", "已结算"];
						return map.hasOwnProperty(parseInt(data)) ? map[parseInt(data)] : "";
					}
				},
				// {
				// 	targets: 15,
				// 	data: "settledName",
				// 	title: "结算人"
				// },
				{
					targets: 14,
					data: "createTime",
					title: "创建时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 15,
					data: "settledTime",
					title: "结算时间",
					render: function (data, type, row, meta) {
						return new Date(data).Format("yyyy-MM-dd hh:mm:ss");
					}
				},
				{
					targets: 16,
					data: "orderId",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						return '<input type="button" name="checkIt" onclick="checkIt(' + data + ')" value="查看详情"/>';
					}
				},
				{
					targets: 17,
					data: "id",
					orderable: false,
					title: "操作",
					render: function (data, type, full, meta) {
						switch (parseInt(full["status"])) {
							case 0:
								return '<input type="button" name="checkIt" onclick="batchSettle([' + data + '])" value="结算"/>';
							case 2:
								return '<input type="button" name="checkIt" disabled="disabled" value="已结算"/>';
						}
					}
				}
			],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return parseFloat(i);
                };
                // Total over all pages
                var total = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all pages
                var totalPay = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all pages
                var totalCouponOfMerchant = api
                    .column(6)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all pages
                var totalMailFee = api
                    .column(7)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all pages
                var totalServiceFee = api
                    .column(10)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Total over all pages
                var totalSettleAmount = api
                    .column(11)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                // Update footer part 1
                $(this).find("#tfoot1").html(
                    '当页订单价格总计￥' + total.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                    '当页店铺优惠券总计￥' + totalCouponOfMerchant.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                    '当页应结款总计￥' + totalSettleAmount.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                    '当页服务费总计￥' + totalServiceFee.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                    '当页运费总计￥' + totalMailFee.toFixed(2) + '元'
                );
                var searchArray = $(".form-inline").serializeArray();
                searchArray.push({"name": "theId", "value": theId});//append pid
                $.post("/settle_inner_list_all", searchArray, function (data) {
                    /*
                    *
        map.put("price", price);
        map.put("mVoucherAmount", mVoucherAmount);
        map.put("settledAmount", settledAmount);
        map.put("settledAmount_a", settledAmount_a);
        map.put("settledAmount_b", settledAmount_b);
        map.put("cutAmount", cutAmount);
        map.put("mailFee", mailFee);
        map.put("mailFee_a", mailFee_a);
        map.put("mailFee_b", mailFee_b);
                    *
                    * */
                    var total = parseFloat(data["price"]);
                    var totalCouponOfMerchant = parseFloat(data["mVoucherAmount"]);
                    var totalSettleAmount = parseFloat(data["settledAmount"]);
                    var settledAmount_a = parseFloat(data["settledAmount_a"]);
                    var settledAmount_b = parseFloat(data["settledAmount_b"]);
                    var totalServiceFee = parseFloat(data["cutAmount"]);
                    var totalMailFee = parseFloat(data["mailFee"]);
                    var mailFee_a = parseFloat(data["mailFee_a"]);
                    var mailFee_b = parseFloat(data["mailFee_b"]);
                    // Update footer part 2
                    $("#tfoot2").html(
                        '全部订单价格总计￥' + total.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '全部店铺优惠券总计￥' + totalCouponOfMerchant.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '全部应结款总计￥' + totalSettleAmount.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '未结款总计￥' + settledAmount_a.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '已结款总计￥' + settledAmount_b.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '全部服务费总计￥' + totalServiceFee.toFixed(2) + '元' + "&nbsp;&nbsp;&nbsp;" +
                        '全部运费总计￥' + totalMailFee.toFixed(2) + '元' +
                        '未结运费总计￥' + mailFee_a.toFixed(2) + '元' +
                        '已结运费总计￥' + mailFee_b.toFixed(2) + '元'
                    );
                });
            }
		});
        setTimeout(function () {
            // $("#example-1").append(
            // 		$('<tfoot/>').append($("#example-1 thead tr").clone())
            // );
            $("#example-1").append('<tfoot><tr><td id="tfoot1" colspan="9"></td><td id="tfoot2" colspan="7"></td></tr></tfoot>');
            oTable.fnDraw(); //or fnReloadAjax()
        }, 500);
		table_global = oTable;
		
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()  
			return false;
		});

		$(".btn.btn-info.export").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			window.open('/settle_inner_export.html?ids[]=' + ids, "_blank");
			return false;
		});

		$(".btn.btn-info.settle").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});
			//do settle
			batchSettle(ids);
		});

		$(".btn.btn-danger.settleAll").click(function () {
			var yes = confirm("确定全部结算?");
			if (yes) {
				var searchArray = $(".form-inline").serializeArray();
				searchArray.push({"name": "theId", "value": theId});//append pid
				$.post("/settle_inner_batchSettle_all", searchArray, function (data) {
					if (data) {
						if (parseInt(data) == 0) {
							toastr.error("操作失败，无权限!", "温馨提示");
						} else {
							toastr.success("操作已成功！", "温馨提示");
							table_global.fnDraw();
							alert("你需要结算给商户" + data + "元");
						}
					} else {
						toastr.error("操作失败，无权限!", "温馨提示");
					}
				});
			}
		});
	});
	/*]]>*/
	</script>
</body>

</html>
