<div class="sidebar-menu toggle-others fixed">
			
			<div class="sidebar-menu-inner">	
				
				<header class="logo-env">
					
					<!-- logo -->
					<div class="logo">
						<a href="/" class="logo-expanded">
							<img src="assets/images/pool.png" width="180" alt="" />
						</a>
						
						<a href="/" class="logo-collapsed">
							<img src="assets/images/logo-collapsed@2x.png" width="40" alt="" />
						</a>
					</div>
					
					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a>
						
						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>
								
				</header>
						
				
						
				 <ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<!-- <li>
						<a href="#">
							<i class="linecons-cog"></i>
							<span >活动数据</span>
						</a>
						<ul>
							<li>
								<a href="/activity-lottery">
									<span class="title">抽奖码明细</span>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="/activity-lottery">
									<span class="title">抽奖码明细1</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="linecons-desktop"></i>
							<span class="title">收益结算</span>
						</a>
						<ul>
							<li>
								<a href="/settle-pay">
									<span class="title">支付</span>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">
							<i class="linecons-database"></i>
							<span class="title">收益记录</span>
						</a>
						<ul>
							<li>
								<a href="/clear-history">
									<span class="title">历史</span>
								</a>
							</li>
						</ul>
					</li> -->
				</ul> 
						
			</div>
			
		</div>
		<script th:inline="javascript">
			/*<![CDATA[*/
	           (function ($) {
				   $.post("/resoures", {}, function (data) {
					   var html = "";
					   data.forEach(function (val, index, arr) {
						   html += "<li><a><i class='" + val.icon + "'></i><span >" + val.name + "</span></a>";
						   val.childList.forEach(function (v, index, arr) {
							   html += "<ul><li><a href='" + v.link + "'><span class='title'>" + v.name + "</span></a></li></ul>";
						   });
						   html = html + "</li>";
					   });
					   $("#main-menu").html(html);
					   setup_sidebar_menu();
				   });
	           })(jQuery);
			/*]]>*/
		</script>
		<!-- JavaScripts initializations and stuff -->
		<script src="assets/js/xenon-custom.js"></script>