<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="head"></head>
	<title>商品风格管理</title>
	<link rel="stylesheet" href="assets/js/select2/select2.css"/>
	<link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css"/>
	<link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css"/>
	<link rel="stylesheet" href="assets/css/rowReorder.dataTables.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css"/>
	<link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css"/>
	<script src="https://unpkg.com/qiniu-js@2.5.3/dist/qiniu.min.js"></script>
	<style type="text/css">
	.form-group img{
		max-width:400px;
		max-height:300px;
	}
	</style>
</head>
<body class="page-body">

	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<div th:replace="sidebar-menu"></div>
		<div class="main-content">
			<!-- User Info, Notifications and activity Bar -->
			<nav th:replace="navbar"></nav>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">商品风格管理</h1>
					<p class="activityDescription"></p>
				</div>

				<div class="breadcrumb-env">

					<ol class="breadcrumb bc-1">
						<li><a href="/"><i class="fa-home"></i>Home</a></li>
						<li><a>系统管理</a></li>
						<li class="active"><strong>商品风格管理</strong></li>
					</ol>

				</div>

			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<form role="form" class="form-inline">
						<div class="form-group ">
							<div class="input-group">
							</div>
						</div>
						<div class="form-group">
<!--							<button class="btn btn-secondary btn-single searchBtn" style="height:35px">查询</button>-->
						</div>
						
					</form>
				</div>
				<div class="panel-body">
					<table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
					</table>
				</div>
				<button class="btn btn-info add" >添加</button>
				<button class="btn btn-info edit">修改</button>
				<button class="btn btn-info del">删除</button>
				<button class="btn btn-info resort">排序</button>
			</div>

					
			<footer th:replace="footer"></footer>
		</div>
	</div>
	
	<div th:replace="body-under"></div>
	
	<div class="modal fade in" id="modal-6">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 800px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">添加商品风格</h4>
				</div>
				
				<div class="modal-body">
					<form role="form" id="saveForm">
					<input type="hidden" name="id"/>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">名称</label>
								<input type="text" class="form-control" name="name" placeholder="名称"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">图片</label>
								<input type="file" class="form-control" name="imageFile" placeholder="图片" onchange="uploadFile(this)"/>
								<input type="hidden" class="form-control" name="image" />
								<img alt="" src="" name="imageImage" style="display:none;"/>
							</div>
						</div>
					</div>
					</form>
				</div>
				
				<div class="modal-footer">
					 <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info save">保存</button>
					<button type="button" class="btn btn-white bg-lg" style="display:none">数据提交中，请稍等....</button>
				</div>
				
			</div>
		</div>
	</div>
	<div class="modal fade in" id="preview" aria-hidden="false" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">查看详情</h4>
				</div>

				<div class="modal-body" id="preview_body"></div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<script src="js/common.js"></script>
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/jquery.datetimepicker.full.min.js"></script>
	<script src="assets/js/dataTables.rowReorder.min.js"></script>
	<script src="assets/js/select2/select2.min.js"></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/

	var table_global;

	function buildImg(url) {
		return "<img width='100px' height='100px' src='#' />".replace("#", url);
	}

	function uploadFile(self) {
		var that = $(self);
		if (self.files.length > 0) {
			getQNToken(function (token) {
				var file = self.files[0];
				this.upload("", token, file, function () {
					//
				}, function (err) {
					console.log("error");
					console.log(err);
				}, function (res) {
					var url = qiniuUrl + "/" + res.key;
					that.parent().find("[name=image]").val(url);
					that.parent().find("[name=imageImage]").attr("src", url);
					that.parent().find("[name=imageImage]").attr("width", "100px");
					that.parent().find("[name=imageImage]").attr("height", "100px");
					that.parent().find("[name=imageImage]").show();
				});
			});
		} else {
			confirm("未选择任何文件!");
		}
	}

	function getQNToken(cb) {
		$.get("/qiniu/token", {}, function (token) {
			cb(token);
		});
	}

	function appendToPreviewList(one, two, three, four, five, six) {
		return '<div class="row">' +
				'<div class="col-md-2">' +
				one +
				'</div>' +
				'<div class="col-md-2">' +
				two +
				'</div>' +
				'<div class="col-md-2">' +
				three +
				'</div>' +
				'<div class="col-md-2">' +
				four +
				'</div>' +
				'<div class="col-md-2">' +
				five +
				'</div>' +
				'<div class="col-md-2">' +
				six +
				'</div>' +
				'</div>';
	}

	function updateStyleBatch() {
		var form = $("#styleForm");
		console.log(form.serializeArray());
		$.post("/style_save_sort", form.serializeArray(), function (data) {
			if (data) {
				toastr.success("操作已成功！", "温馨提示");
				jQuery('#preview').modal('hide');
			}
		});
	}

	var qiniuUrl = [[${qiniuUrl}]];

	jQuery(document).ready(function($)
	{
		$(".searchBtn").click(function(){
			$("#checkbox-all").attr("checked", false);
			oTable.fnDraw(); //or fnReloadAjax()
			return false;
		});

		var oTable = $("#example-1").dataTable({
			language: {
				url: "../assets/Chinese.txt"
			},
			lengthChange: false,
			paging: false,
			bFilter: false,
			bServerSide: false,//服务器处理分页，默认是false，需要服务器处理，必须true
			sAjaxDataProp: "data",//是服务器分页的标志，必须有
			sAjaxSource: "/style_list",//通过ajax实现分页的url路径。
			fnServerParams: function (aData) {
				var searchArray = $(".form-inline").serializeArray();
				$.merge(aData, searchArray);
			},
            columnDefs: [
                {
                    targets: 0,
                    data: "id",
                    width: "5%",
                    orderable: false,
                    title: '<input type="checkbox" id="checkbox-all"/>',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="activityId" value="' + data + '" />';
                    }
                },
                {
                    targets: 1,
                    data: "id",
                    title: "序号"
                },
                {
                    targets: 2,
                    data: "value",
                    title: "名称"
                },
                {
                    targets: 3,
                    data: "image",
                    title: "封面图片",
                    render: function (data, type, row, meta) {
                        return buildImg(data);
                    }
                }
            ]
		});

		table_global = oTable;

		table_global.on('row-reorder', function (e, diff, edit) {
			console.log(diff);
		});

		$(".btn.btn-info.resort").click(function () {
			$.getJSON("/style_list", {}, function (data) {
				if (data) {
					var preview = $("#preview_body");
					var contentStr = "<form id='styleForm'>";
					contentStr += "<hr/>";
					var i =1;
					for (var a in data["data"]) {
						a = data["data"][a];
						var nameEle = '名称:<input type="text" value="VV" disabled="disabled" />'.replace("VV", a["value"]);
						var nameValEle = '<input type="hidden" name="value" value="VV" />'.replace("VV", a["value"]);
						var imgEle = '<img src="VV" width="100px" height="100px" />'.replace("VV", a["image"]);
						var imgValEle = '<input type="hidden" name="image" value="VV" />'.replace("VV", a["image"]);
						contentStr += appendToPreviewList(i ,nameEle, nameValEle, imgEle, imgValEle,  "");
						contentStr += "<hr/>";
						i++;
					}
					var btnEle = '<input type="button" class="btn btn-info" value="保存" onclick="updateStyleBatch()" />';
					contentStr += appendToPreviewList("", "", "", "", "", btnEle);
					preview.html(contentStr + "</form>");
					$("#styleForm").sortable();
					$("#styleForm").disableSelection();
					jQuery('#preview').modal({backdrop: 'static', keyboard: false});
					toastr.success("操作已成功！", "温馨提示");
				} else {
					toastr.error("操作失败", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.add").click(function () {
			var form = $("#saveForm");
			form.find("input:not(.notMe)").val("");
			form.find("img").attr("src", "");
			form.find("img").hide();
			form.find("input[type='file']").show();
			$(".imageShow").remove();
			jQuery('#modal-6').modal('show', {backdrop: 'fade'});
		});

		$(".btn.btn-info.save").click(function () {
			var footer = $(this).parent(".modal-footer");
			footer.find("button").hide();
			footer.find(".bg-lg").show();
			var form = $("#saveForm");
			var name = form.find("input[name='name']").val();
			var image = form.find("input[name='image']").val();

			if (name == '' || image == '') {
				toastr.error("请填写完整数据后提交", "温馨提示");
				footer.find("button").show();
				footer.find(".bg-lg").hide();
				return;
			}
			//提交保存
			var postData = form.serializeArray();
			$.post("/style_save", postData, function (data) {
				if (data) {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					jQuery('#modal-6').modal('hide');
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				} else {
					footer.find("button").show();
					footer.find(".bg-lg").hide();
					toastr.error("操作失败", "温馨提示");
				}
			});
		});

		$(".btn.btn-info.edit").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length != 1) {
				toastr.error("请选择一条数据操作", "温馨提示");
				return;
			}

			$.post("/style_find", {"id": activityId.val()}, function (data) {
				var form = $("#saveForm");
				form.find("input[name='id']").val(activityId.val());
				form.find("input[name='name']").val(data.value);
				form.find("input[name='image']").val(data.image);
				form.find("img[name='imageImage']").attr("src", data.image);
				form.find("img[name='imageImage']").show();
				jQuery('#modal-6').modal('show', {backdrop: 'fade'});
			});
		});

		$(".btn.btn-info.del").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/style_del", {"ids": ids}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			});
		});

		$(".btn.btn-info.up").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/banner_up", {"ids": ids, "position": position}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			});
		});

		$(".btn.btn-info.down").click(function () {
			var activityId = $("input[name='activityId']:checked");
			if (activityId.length < 1) {
				toastr.error("请至少选择一条数据操作", "温馨提示");
				return;
			}

			var ids = [];
			activityId.each(function (i, e) {
				ids.push(e.value);
			});

			$.post("/banner_down", {"ids": ids}, function (data) {
				if (data) {
					toastr.success("操作已成功！", "温馨提示");
					oTable.fnDraw();
				}
			});
		});
	});
	/*]]>*/
	</script>
</body>

</html>
